<% source ||= nil%>
<% order ||= nil %>
<div class="item <%= cycle('even','odd') %>" >
  <%= thumbnail_tag(item.object) %>
  <h3><%= link_to_item(item, :kind => kind)%></h3>
  <p><%= item.info(:kind => kind) %></p>
  <%= render :partial => "/lists/item_options", :locals => {:item => item}%>
</div>

