<% nuniverse(:selected => "My nuniverse") do -%>
  <%= breadcrumbs()%>
  <%= list_hat(@list)%>
  
  <% if @items.empty? -%>
    <h2>You haven't added anything to <%= @list.label %> yet.</h2>
    <h3>
      <%= command(:label => "+ Add something now", :command => "Add to #{@list.label}") %>
    </h3>
  <% else -%>
    <div id="nav">
      <% boxes = [
          # pagination_box(:items => @items),
          ad_box,
          sorting_options(:source => @list, :selected => @order),
          display_options(:source => @list, :selected => @mode),
          add_new_button(@list),
        ] 
      -%>
      <%= columnize(boxes, :size => 4) %>
    </div>
    <div id="content">
        
        <% if @mode ==  "image" -%>
          <%= columnize(images_for(@items, :source => @list), :size => 4)%>
        <% elsif @mode == "card" -%>
          <%= columnize(boxes_for(@items, :source => @list), :size => 4)%>
        <% else -%>
        <div class="list" id="item_list">
          <div class="items"> 
         
            <% @items.each_with_index do |item, i| -%>
            

              <%= render :partial => "item", :locals => {:source => @list, :item => item, :order => @order } %>
            <% end -%>
          
          </div>
        </div>
        <% end -%>
        
    </div>
          <% end -%>
    <%= input(:source => @list)%>
<% end -%>
