<% nuniverse(:selected => "My nuniverse") do -%>
  <%= list_options(:items => @items) %>
 
  <% if @mode == "list" %>
    <div class="column large" id="item_list" >
      
      <% @items.each_with_index do |item, i| -%>
         <%= render_item_box(item, :kind => @list.kind) %>
      <% end -%>
    </div>
    <div class="column small" id="small-column">
      <%= ad_box %>
      <%= map_box(@list)%>
      <%= contributors_box(:source => @list) %>
    </div>
  <% else -%>
    <%= columnize(boxes_for(@items, :source => @list))%>
  <% end -%>

  <% content_for :nav do -%>
    <%= add_new_button(@list) %>
    <%= command_box("Search", "search") %>
    <div class="command_box">
       <%= image_tag("/images/icons/email_to.png")%>
       <%= command(:label => "Email this list", :command => "email #{@list.label} to")%>
     </div>
  <% end -%>
    
  <%#= image_tag("/images/icons/powered_by_google.gif")%>
<% end -%>
