<% nuniverse(:selected => "My nuniverse") do -%>
  <%= breadcrumbs_for(@list)%>
  <%= list_hat(@list)%>
  
  <% if @items.empty? -%>
    <h2>You haven't added anything to <%= @list.label %> yet.</h2>
    <h3>
      <%= command(:label => "+ Add something now", :command => "Add to #{@list.label}") %>
    </h3>
  <% else -%>
    <div id="nav">
          
          <%= sorting_options(:source => @list, :selected => @order) %>
          <%= display_options(:source => @list, :selected => @mode) %>
          <%= pagination_box(:items => @items)%>
          <%= add_new_button(@list) %>
          
          <div class="command_box">
            <%= image_tag("/images/icons/email_to.png")%>
            <%= command(:label => "Email this list", :command => "email #{@list.label} to")%>
          </div>
          
    </div>
    <div id="content" >
        <% if @mode ==  "image" -%>
          <%= columnize(images_for(@items, :source => @list), :size => 4)%>
        <% elsif @mode == "card" -%>
          <%= columnize([ad_box,boxes_for(@items, :source => @list)].flatten, :size => 4)%>
        <% else -%>
        <div class="column large" id="item_list" >
            <% @items.each_with_index do |item, i| -%>
            <div class="box">
              <%= render_item(item, :kind => @list.label) %>
            </div>
            <% end -%>
        </div>
        <div class="column small">
          <%= ad_box %>
          <%= map_box(@list)%>
        </div>
        <% end -%>
        
    </div>
          <% end -%>
    <%= input(:source => @list)%>
<% end -%>
