<% if @mode %>
  <% content_for :view_box do -%>
    <%= link_to("See it as list", "/lists/#{@list.id}") %>
  <% end -%>
  <% content_for :right do -%>
    <%= columnize(:boxes => images_for(@items), :size => 3)%>
  <% end -%>
<% else -%>
  <% content_for :view_box do -%>
    <%= link_to("See it in images", "/list/#{@list.label}?mode=image") %>
    
  <% end -%>
  <% content_for :right do -%>
    <div class="box"  id="list">
      
        <div class="items">
          <%= will_paginate @items %>
          <%= render :partial => "/taggings/instance", :collection => @items %>
        </div>
    </div>
  <% end -%>
  
<% end -%>

<% nuniverse(:selected => "My nuniverse") do -%>
    <div class="hat">
      <h1><%= @list.label.capitalize.pluralize %></h1>
    </div
    
    <div class="column" id="nav">
      <%= render :partial => "/nuniverse/ads" %>

      <div class="box">
        <h2>
          <%= yield :view_box %>
        </h2>
      </div>
      <div class="box" >
        <h2><%= toggle(:label => "+ Add a new item", :kind => @list.label) %></h2>
      </div>
    </div>
    <%= yield :right %>
<% end -%>
<%= render :partial => "/taggings/find_or_create" , :locals => {
  :tagging => nil
 }%>