<% nuniverse(:selected => "My nuniverse") do -%>
    <%= breadcrumbs()%>
    <%= list_hat(@list)%>

    <div id="nav">
      <% boxes = [
          # pagination_box(:items => @items),
          ad_box,
          sorting_options(:source => @list, :selected => @order),
          display_options(:source => @list, :selected => @mode),
          add_new_button(@list),
        ] 
      -%>
      <%= columnize(boxes, :size => 4) %>
    </div>
    <div id="content">
      <div class="box list"  id="list"> 
      <div class="delimiter">&nbsp;</div>
      <% if @mode ==  "image" -%>
        <%= columnize(images_for(@items, :source => @list), :size => 4)%>
      <% elsif @mode == "card" -%>
        <%= columnize(boxes_for(@items, :source => @list), :size => 4)%>
      <% else -%>
        <div class="items" > 
         
          <% @items.each_with_index do |item, i| -%>
            

            <%= render :partial => "item", :locals => {:source => @list, :item => item, :order => @order } %>
          <% end -%>
          
        </div>
      <% end -%>
      
      </div>
    </div>
    <%= input(:source => @list)%>
<% end -%>
