
<div class="connection <%= connection.subject.kind %>_connection <%= cycle('even','odd') %>">
  <div class="rank_lnk"><span class="score"><%= connection.score rescue "-"%></span>
  <%= link_to(image_tag("/images/icons/arrow_up.png"), "/connections/rank/#{connection.id}", :class => "trigger") %>
  </div>
  <div class="subject ">
    <%= render_tag connection.subject %>
    <p class="tags"><%= connection.tags.join(',')%></p>
    
  </div>
  <div class="preview">
    <div class="hidden">
      <%= link_to "preview", preview_url(connection), :class => "preview_url" %>
    </div>
  </div>
  <p><%= connection.description.blank? ? connection.twin.description : connection.description %> <%= link_to "Edit their relationship", edit_connection_url(connection)%></p>
  
  <div class="delimiter"> </div>
  
</div>