
<div class="connection <%= connection.subject.kind %>_connection <%= cycle('even','odd') %>">
  <div class="rank_lnk"><span class="score"><%= connection.score rescue "-"%></span>
  <%= link_to(image_tag("/images/icons/arrow_up.png"), "/connections/rank/#{connection.id}", :class => "trigger") %>
  </div>

  <%= thumbnail_tag(connection.subject)%>
  
    
    <div class="description" >
     <%= render_connection_description(connection) %> 
     </div>
   
   <% unless !authorized_to_edit?(connection, current_user) -%>
     <p> <%= link_to "Edit", edit_connection_url(connection), :style => "color:#369;margin:0 0 0 5px"%></p>
    <% end -%>
  
  <div class="preview">
    <div class="hidden">
      <%= link_to "preview", preview_url(connection), :class => "preview_url" %>
    </div>
  </div>
  
  
  <div class="delimiter"> </div>
  
</div>