<% nuniverse do -%>
  <div style="padding:20px">
  <%= thumbnail_tag(@connection.subject) %> <%= image_tag('/images/icons/related.png',:style => "float:left")%> <%= thumbnail_tag(@connection.object) %>
  
  <h2 style="clear:left">How is <%= link_to_item(@connection.subject) -%> related to <%= link_to_item(@connection.object) %></h2>
  <% form_tag "/connections/update" do -%>
    <%= hidden_field_tag :id, @connection.id %>
    
    <%= text_area_tag :description, @connection.description, :cols => 30, :rows => 6 %><br/>
    <%= submit_tag "Save" %>
  <% end -%>
  </div>
<% end -%>