<%= thumbnail_tag(@connection.subject) %> <%= image_tag('/images/icons/related.png',:style => "float:left")%> <%= thumbnail_tag(@connection.object) %>
<div style="position:relative;clear:both;margin:20px 0 0 0">
  <h3 style="padding:5px 0 5px 0;font-size:20px;color:#666">How is <%= link_to_item(@connection.subject) -%> related to <%= link_to_item(@connection.object) %>?</h3>
  <% form_for :connection,  :url => {:action => :create } do |f| -%>
    <%= f.hidden_field :subject_id %>
    <%= f.hidden_field :object_id %>
    <%= f.text_area :description,  :style => "width:350px;font-size:18px;background:#FFF", :rows => 5 %><br/>
    <%= submit_tag "Save" %>
  <% end -%>
</div>