<div id="login" style="padding:100px">
    <div class="header" style="margin: 0 0 0 0">
      <%= image_tag("/images/icons/logo-nuniverse-2009.png") %>
    </div>
    <h1>Log in.</h1>
    <% form_tag "/sessions/create" do -%>
      <label for="login" style="color:#eee">Login</label>
      <%= text_field_tag 'login' %>

      <label for="password" style="color:#eee">Password</label>
      <%= password_field_tag 'password' %>

      <!-- Uncomment this if you want this functionality
        <p><label for="remember_me">Remember me:</label>
        <%= check_box_tag 'remember_me' %></p>
      -->
      <br/>
      <p><%= submit_tag 'Log in' %></p>
    <% end -%>
    <%= link_to "Cancel", "/"%>
  </div>
