<div class="content amazon_item">
  
  <%#= render :partial => "/nuniverse/hat", :locals => {:tag => item, :show_image => false} %>
    
     
  <div class="article">
    <div class="" style="font-family:Times; font-size:13px; width:800px">
      <%= item.description %>
    </div>
    <p><%=  %><a href="#">buy for <%= item.price %></a></p>
    <%= image_tag(item.image) rescue "No image available" %>
    <%= image_tag("/images/icons/amazon.png", :class => 'service')%>
  
  </div>
</div>