<dl class="connections">
<% items.each do |item| %>
  <dd class="connection <%= cycle('even','odd') %>">
    <%= render :partial => "/taggings/manage" , :locals => {
      :path => path,
      :data => "#item #{item.title} #url #{item.id} #price #{item.amount} #image #{item.thumbnail} #service amazon"
    }%>
    <% unless item.thumbnail.nil? -%>
     <%= image_tag(item.thumbnail.to_s,:class => 'avatar') %>
    <% end -%>
     <h3>
        <%= link_to_ws_object(item, :service => "amazon")%>
      </h3>
      <p><%= h item.amount.to_s %></p>

  </dd>
<% end -%>
</dl>