<dl class="connections">
<% items.each do |item| %>
  <dd class="connection <%= cycle('even','odd') %>">
    <%= render :partial => "/taggings/manage" %>
    <% unless item.thumbnail.nil? -%>
     <%= link_to(image_tag(item.thumbnail),"#",:class => 'avatar') %>
    <% end -%>
    <h3>
      <%= link_to(item.title[0..100].capitalize,"/ws/show?service=amazon&item=#{item.id}", :class => "inner") %>
    </h3>
      <p><%= item.amount %></p>
      <div class="data hidden">
        <% form_tag '/taggings/create' do -%>
          <%= hidden_field_tag :path, path %>
          <%= hidden_field_tag :content, "#item #{item.title} #url #{item.id} #price #{item.amount} #image #{item.thumbnail} #service amazon"   %>
        <% end -%>
      </div>
  </dd>
<% end -%>
</dl>