<div class="article amazon_item">
  <%= render :partial => "/taggings/manage" %>
  <h1><%= item.title %></h1>
  <p><a href="#">buy for <%= item.amount %></a></p>
  <%= image_tag(item.image) rescue "No image available" %>
  <%= item.features %>
</div>