<dl class="connections">
  <% items.each do |item| %>
    <dd class="connection <%= cycle('even','odd') %>">
      <%= render :partial => "/taggings/manage" , :locals => {
        :connection => nil,
        :path => section.path,
        :data => item.data
      }%>
        <%= avatar_for(item)%>
       <h3>
          <%= link_to_object(item, :service => "amazon")%>
        </h3>

        <p><%= h item.info %></p>

    </dd>
  <% end -%>
</dl>