
<div class="content ebay_item">
  <%= render :partial => "/nuniverse/hat", :locals => {:tag => item, :show_avatar => false} %>
  <div class="article">
    <p><%= item.price %> | Ends <%= item.property('end_time') %><a href="#TODO">Bid on this item</a>(<%= item.property('bid_count') %> bids already)</p><br/>
    
    <div class="commercial">
      <h3><%= item.price %>
      <h2><a href="#TODO">Bid Now!</a></h2>
    </div>
  </div>
</div>