<dl class="connections">
  <% items.each do |item| %>
    <dd class="connection  <%= cycle('even','odd') %>">
      <%= render :partial => "/taggings/manage" %>
      <% unless item.gallery_url.nil? -%>
        <%= link_to(image_tag(item.gallery_url.to_s),"#",:class => 'avatar') %>
      <% end -%>
      <h3>
        <%= link_to(item.title[0..100].capitalize,"/ws/show?service=ebay&item=#{item.item_id}", :class => "inner") %>
      </h3>
      <p>$<%= item.converted_current_price.content%> | Ends <%= item.end_time %></p>
      <div class="data hidden">
        <% form_tag '/taggings/create' do -%>
          <%= hidden_field_tag :path, path %>
          <%= hidden_field_tag :content, "#item #{item.title} #url #{item.item_id} #description #{item.converted_current_price.content} #end_time #{item.end_time} #image #{item.gallery_url.to_s} #service ebay"   %>
        <% end -%>
      </div>
    </dd>
  <% end -%>
</dl>