<% if connections.empty? -%>
  <div class="article">
    <h2>Nothing was found.</h2>
  </div>
  
<% elsif connections.length == 1 -%>
  <div class="article">
        
    <%= textilize connections[0].article %>
    <dl class="connections">
    <% section.subject.essential_elements.each do |el| -%>
      <% unless connections[0].property_value(el).nil? %>
        <% connections[0].property_value(el).each  do |c| %>
          <dd class="connection <%= cycle('even','odd') %>">
            <%= image_tag("/images/icons/#{el}.png", :class => 'image') %>
            <h3>
              <%= link_to(c, '#')%>
            </h3>
          </dd>
        <% end -%>
      <% end -%>
    <% end -%>
    </dl>
   
  </div>
<% else -%>
 <dl class="connections">
 <% connections.each do |rst| -%>
   <dd class="connection <%= cycle('even', 'odd') %>" style="height:auto">
   <%#= render :partial => "/taggings/manage" , :locals => {
         :path => path,
         :data => "#{rst.kind} #{rst.name} #freebase_id #{rst.id}" 
       }%>
     <%= image_tag("/images/icons/#{rst.kind}.png", :class => 'image') %>
     <h3>
       <%= link_to(rst.name, "http://www.freebase.com/#{rst.id}") %>
       <span class="source">@ Freebase</span>
     </h3>
    <div class="delimiter">&nbsp;</div>
   </dd>
 <% end -%>
</dl>

<% end -%>