<% if connections.empty? -%>
  <h2>No videos on google were found... :(</h2>
<% else -%>
  <dl class="connections">
    <% connections.each do |video| -%>
      <dd class="connection <%= cycle('even', 'odd') %>">
        <%= render :partial => "/taggings/manage" , :locals => {
          :path => path,
          :data => "#video #{video.titleNoFormatting} #url #{video.playUrl} #description #{video.content} #image #{video.tbUrl} #service video" 
        }%>
        <%= image_tag(video.tbUrl,:class => 'avatar') %>
        <h3>
          <%= link_to_ws_object(video, :service => "video") %>
          <span class="source">@ Google</span>
        </h3>
          <p><%= h video.content %></p>
        
      </dd>
    <% end -%>
  </dl>
<% end -%>