<div class="connections">
  <% unless connections.empty? -%>
    <% connections.each do |rst| -%>
      <dd class="connection <%= cycle('even', 'odd') %>" style="height:auto">
        
        <div class="manage">
          <%= link_to(image_tag("/images/icons/plus.png"),"/bookmark/#{path}",:title => "Bookmark") %>
        </div>
        <%= link_to(image_tag("/images/icons/google.png"),"#",:class => 'avatar') %>
        <h3>
          <a href="<%= rst.url %>" target="_blank"><%= rst.title %></a>
          <span class="source">
            @ Google
          </span>
          
        </h3>
        <p><%= rst.content %></p>

        <div class="data hidden">
          <% form_tag '/taggings/create' do -%>
            <%= hidden_field_tag :path, path %>
            <%= hidden_field_tag :content, "#bookmark #{rst.title} #url #{rst.url} #description #{rst.content}"   %>
          <% end -%>
          <div class="path"><%= path %></div>
        </div>
      </dd>
    <% end -%>
  <% end -%>

</div>