<dl class="connections">
  <% unless connections.empty? -%>
    <% connections.each do |rst| -%>
      <dd class="connection <%= section.kind %> <%= cycle('even', 'odd') %>" style="height:auto">
      <%= render :partial => "/taggings/manage" , :locals => {
            :connection => nil,
            :path => section.path,
            :tag => rst
          }%>
          <%  if rst.kind == "image" || rst.kind =="video" %>
            <%= avatar_for(rst) %>
 
          <% else -%>
            <%= image_tag("/images/icons/google.png", :class => 'avatar') %>
          <% end -%>
            <h3>
               <%= link_to_object(rst) %>
               <span class="source">@ Google</span>
             </h3>
        
        <p><%= rst.description %></p>
        <div class="delimiter">&nbsp;</div>
      </dd>
    <% end -%>
  <% end -%>

</dl>