<div class="connections">
  <% unless connections.empty? -%>
    <% connections.each do |rst| -%>
      <dd class="connection <%= cycle('even', 'odd') %>" style="height:auto">
      <%= render :partial => "/taggings/manage" , :locals => {
            :path => path,
            :data => "#bookmark #{rst.titleNoFormatting} #url #{rst.url} #description #{rst.content} #service google" 
          }%>
        <%= image_tag("/images/icons/google.png", :class => 'image') %>
        <h3>
          <%= link_to_ws_object(rst, :service => "google") %>
          <span class="source">@ Google</span>
          
        </h3>
        <p><%= rst.content %></p>

        
      </dd>
    <% end -%>
  <% end -%>

</div>