<dl class="connections">
  <% unless tweets.empty? -%>
    <% tweets.each do |tweet| -%>
      <dd class="connection <%= cycle('even', 'odd') %>" style="height:auto">
        
        <div class="manage">
          <%= link_to(image_tag("/images/icons/plus.png"),"#",:title => "Bookmark", :class => "bookmark") %>
        </div>
        <%= link_to(image_tag(tweet.user.profile_image_url),"#",:class => 'avatar')%>
        <h3><%= tweet.user.screen_name %></h3>
        <p><%= tweet.text %></p>
        <div class="data hidden">
          <% form_tag '/taggings/create' do -%>
            <%= hidden_field_tag :path, path %>
            <%= hidden_field_tag :content, "#tweet #{tweet.id} #name #{tweet.user.screen_name} #description #{tweet.text} #service twitter"   %>
          <% end -%>
        </div>
      </dd>
    <% end -%>
  <% end -%>
</dl>