<dl class="connections">
  <% unless tweets.empty? -%>
    <% tweets.each do |tweet| -%>
      <dd class="step connection <%= cycle('even', 'odd') %>" style="height:auto">
       
        <%= image_tag tweet.user.profile_image_url, :class => "thumbnail"%>
      
        <span style="font-size:15px"><%= tweet.user.screen_name %></span>
        <%= tweet.text %>
        <%= clear%>
      </dd>
    <% end -%>
  <% end -%>
</dl>