<div class="manage">
  <%= link_to(image_tag("/images/icons/plus.png"),"/taggings/create",:title => "Bookmark") %>
</div>

<object width="425" height="344"><param name="movie" value="<%= h sanitize(url) %>" ></param><param name="allowFullScreen" value="true" flashVars="<%= h sanitize(flashvars) %>"></param><embed src="<%= h sanitize(url) %>" FlashVars="<%= h sanitize(flashvars) %>" type="application/x-shockwave-flash" allowfullscreen="true" width="617" height="500"></embed></object>