<p><%= h @message %></p>
<p><%= h @sender.login.capitalize %> is sharing with you <h3><%= @to.label.capitalize %></h3></p>
<table>
  
  <% @items.each_with_index do |item,i| %>
    <tr>
      <td>
        <img src="cid:<%= item.object.thumbnail %>@nuniverse.net" height="30px" />
      </td>
      <td>
        <p>
          <b><%= item.object.label %></b>
          <%= item.object.property('address') %>
        </p>
        
      </td>
    </tr>
  <% end -%>
</table>

<p>There's more in his <a href="<%= @url %>">nuniverse</a></p>

<img src="cid:map@google.com" />
