<p><%= h @message %></p>
<p><%= h @sender.login.capitalize %> is sharing with you <h3><%= @to.label.capitalize %></h3></p>
<table>
  
  <% @items.each_with_index do |item,i| %>
    <tr>
      <td>
        <% unless item.object.thumbnail.blank? %>
          <img src="cid:<%= item.object.thumbnail %>@nuniverse.net" height="50px" width:"50px" style="border:solid 5px #eee;"/>
        <% end -%>
      </td>
      <td>
        <p>
          <b>
            <% if item.object.kind == "bookmark" -%>
              <%= link_to("#{item.object.label.capitalize}", item.object.url) %>
            <% else -%>
              <%= link_to(item.object.label, "http://www.nuniverse.net/my_nuniverse/all/#{@to.label}/item/#{item.object.id}") %>
            <% end -%>
          </b>
          <%= item.info %>
        </p>
        
      </td>
    </tr>
  <% end -%>
</table>

<p>There's more in his <a href="<%= @url %>">nuniverse</a></p>
