<dd class="comment"> 
 
  <%= thumbnail_tag(comment.author, :size => :small) %>
  <p style="font-size:17px;color:#333;padding:0 0 0 10px"><%= render_comment(comment) %></p>
  <p style="font-size:14px;color:#999;padding:5px 0 0 10px"><%=  link_to_author(comment.author) %>, <%= time_ago_in_words(comment.created_at) %> ago</p>
  <%= clear %>
</dd>