 
  <% if instance.is_wrapper? %>  
    <%= render :partial => "/nuniverses/instance", :locals => {:instance => instance.subjects.first } %>
    
  <% else -%>
  
    <dd class="step connection fact-connection" title="fact-<%= instance.id%>" >
      <%= thumbnail_tag instance.subjects.first, :size => session[:size] rescue nil %>
    <span class="name hidden">
      <%= link_to truncate(instance.body, 40, '...'), comment_url(instance) %>
    </span>
    <span class="body"><%= render_comment(instance) %></span>
    <span class="meta" >- <%= link_to instance.author.name.capitalize , instance.author %>, <%= instance.created_at.strftime("%h %m %y %H:%M")%></span>
    
      
      <div class="options" style="position:relative;float:left"><%= link_to " X Remove", "/remove-comment/#{instance.id}" %></div>
      <%= clear %>
      
    </dd>
  <% end-%>
    