<div class="connection step">
  <%= link_to "Add new", "/nuniverses/new", :target => "" %>
</div>
<% elements.each do |connection| -%>

  <div class="connection step <%= cycle('odd','even') %>" >
    <% lnk_display = image_tag(connection.subject.avatar(:large), :class => "thumbnail") rescue "<span style='padding-top:20px'>#{connection.subject.name.titleize}</span>" %>
  
    <%= link_to(lnk_display, polyco_url(connection), :title => connection.subject.name, :id => "Polyco-#{connection.id}", :class => "expand-lnk" )  %>

  
    <%= hidden_field_tag :id, connection.id, :class => "connection-id" %>
    <%= hidden_field_tag :type, 'Polyco', :class => "connection-type"%>
  </div>
<% end -%>
