<% elements.each_with_index do |connection, i| -%>
    
      <% content_for :col_images do %>
        <dd style="clear:left;" class=""><%= thumbnail_tag connection.subject rescue nil %></dd>
      <% end -%>
      <% content_for :col_name do %>
        <dd style="clear:left" class=" connection" id="cell-<%= i %>-1" >
          <%= link_to connection.subject.name, polyco_url(connection), :id => "Polyco-#{connection.id}"  %>
        </dd>
      <% end -%>
      <% group.properties.each_with_index do |p,j| %>
        <% content_for "prop_#{j}" do %>
          <dd style="clear:left;overflow:hidden" class="cell" row="<%= i %>" label="<%= p %>" >
            <%= render_text(connection.subject.property(p).subject.body) rescue "-"%>
          </dd>
        <% end -%>
      <% end -%>
<% end -%>
<div class="step table">
  <dl style="width:100px">
    <dt>Image</dt>
    <%= yield :col_images %>
  </dl>
  <dl style="width:200px">
    <dt>Name</dt>
    <%= yield :col_name %>
  </dl>
  <% group.properties.each_with_index do |p,i| %>
    <dl style="width:auto;max-width:240px;margin:0 2px 0 0"><dt><%= p.name %></dt><%= yield "prop_#{i}"%></dl>
  <% end -%>
</div>