<div class="step">
<% form_for :group, @group, :url => {:action => :update, :controller => "groups"}, :html => {:class => "inline"} do |f| %>
  <label>This set is named</label>
  <%= f.text_field :name, :style => "width:auto;font-size:25px;border:none" %>
  <%= f.hidden_field :id %>
  <ul>
  
  <li><%= f.check_box :editable %> Everyone can edit</li>
  <li><%= f.check_box :rankable %> This set is rankable</li>
  
  </ul>
  <label>Choose up to 6 properties to display for items in that set.</label>
   <ul>
     <%#= raise @group.properties.inspect %>
    <li>
      <%= text_field_tag "properties[]",  (@group.properties[0].name rescue nil) %>
      <%= text_field_tag "properties[]",  (@group.properties[1].name rescue nil) %>
    </li>
    <li>
      <%= text_field_tag "properties[]" , (@group.properties[2].name rescue nil) %>
      <%= text_field_tag "properties[]" , (@group.properties[3].name rescue nil)%>
    </li>
    <li>
      <%= text_field_tag "properties[]" , (@group.properties[4].name rescue nil) %>
      <%= text_field_tag "properties[]" , (@group.properties[5].name rescue nil)%>
    </li>

  </ul>
  <%= submit_tag "Save Changes"%>
  <button id="Cancel" label="Cancel" />
<% end -%>
</div>
