    <% kinds =  ['address','album','image','animal','painting','list', 'nuniverse','vehicle','video','person','character','location','country','city','restaurant','museum','group','band','company','bookmark', 'recipe', 'ingredient', 'comment','review', 'pro', 'con', 'film', 'event'].sort {|a,b| a <=> b} %>
   
   
    <div id="suggestion_box"  class="popup_box hidden" src ="/tags/suggest">
      <%= spinner %>
      <div class="wrap suggestions" style="padding:40px">
      </div>
      <div class="footer">&nbsp;</div>
    </div>


 
<div class="form_box"  > 
  <div class="wrap" style=" height:100px;" id="stepper">
    <% form_tag "/tags/connect" do -%>
      <fieldset style="width:100%">
        <h2>Adding  <span class="kind"></span>: <span class="name"></span></h2>
        <div class="step" style="height:auto;padding:0 0 10px 0;">
          <label>1. What do you want to add?</label>
            <% kinds.each do |k| -%>
              <%= link_to(k.capitalize,'next', :class => 'trigger kind') %>
            <% end -%>
        </div>
  <div class="step" style="clear:both;margin: 0 0 10px 0">
    
    <label>2. Name it</label>
    <%= text_field_tag "input", "", :class => 'input', :style => "width:80%", :autocomplete => "off" %>
    
    
  </div>
  <div class="step" >
    
    <label>3. Tag it (optional)</label>
    <p style="color:#666;padding:3px">How would you like to connect this item to nguma? (Separate with commas if more than one tag.) </p>
    <%= text_area_tag "tags", "", :style => "width:90%;background:#FFF;display:block;border:none" %>
    
  </div>
  
  <div class="step" style="clear:both">
    <label>4. Validate</label>
    <%= link_to('Ok','next', :class => 'trigger') %>
    <%= link_to('Wait, go back','previous', :class => 'trigger') %>
    
  </div>

      <div class="data"></div>
      <%= hidden_field_tag "nuniverse", 1 %>
      <%= hidden_field_tag "kind", "", :class => 'kind' %>
   
      </fieldset>
    <% end -%>
   
  </div>

</div>




