<div class="header">
  <h2>New collection</h2>
</div>
<div class="col">
<% form_for :collection, :url => {:controller => :collections, :action => "create"} , :html => {:class => "inline" , :style => "padding:20px"} do |f| %>
  <label>This collection is named</label>
  <%= f.text_field :name, :style => "font-size:25px;border:1px solid #ccc" %>
  <%= fields_for_source @source %>
  <label>Each item in this collection is a (eg:person, animal, location...)</label>
  <%= text_field_tag :tags %>
  <label>Choose up to four default properties to show for that item</label>
   <ul>
    <li><%= text_field_tag "properties[]" %><%= text_field_tag "properties[]" %></li>
    <li><%= text_field_tag "properties[]" %><%= text_field_tag "properties[]" %></li>
  </ul>
  <ul>
  
  <li><%= f.check_box :editable %> Everyone can edit</li>
  <li><%= f.check_box :rankable %> This set is rankable</li>
  
  </ul>

  <%= submit_tag "Create this collection"%>
  
<% end -%>
</div>