<% form_for :group, :url => create_set_url, :html => {:class => "inline" , :style => "padding:20px"} do |f| %>
  <label>This set is named</label>
  <%= f.text_field :name, :style => "width:600px;font-size:25px;border:none" %>
  <%= fields_for_source @source %>
  <ul>
  
  <li><%= f.check_box :editable %> Everyone can edit</li>
  <li><%= f.check_box :rankable %> This set is rankable</li>
  
  </ul>
  <label>Choose up to 4 properties to display for items in that set.</label>
   <ul>
    <li><%= text_field_tag "properties[]" %><%= text_field_tag "properties[]" %></li>
    <li><%= text_field_tag "properties[]" %><%= text_field_tag "properties[]" %></li>

  </ul>
  <%= submit_tag "Create this set"%>
  
<% end -%>