
<div class="header" >
  <%= image_tag "/images/icons/star.png", :style => "position:relative;float:right;right:5px;top:5px"%>
  <%= spinner %>
  <%= render :partial => @group %>
  <%= clear %>
  <%= link_to "+ Add new", "/add-item-to-set/#{@group.id}", :style => "padding:0 0 0 20px", :class => "expand-lnk", :target => "New"%>

</div>
<% if @connections %>
  <%= render :partial => "/groups/collection", :locals => {:connections => @connections, :source => @group}%>
<% end -%>