<div id="account" class="section" >
    <div class="step">
      <h2>Your have a free account. This means your nuniverse can grow up to 100 connections.<br/>You are currently using <%= @count %>/100 of these connections. <%= link_to "Upgrade?", "/upgrade" %></h2>
    </div>

    <div class="step">
      During beta, we aren't offering any privacy. But you'll be able to manage your privacy settings from here.
    </div>
    <% form_tag "/users/update" , :multipart => true  do -%>
    <div class="step">
      <h4><%= link_to "Add an avatar.", "#", :class => "expand-lnk", :id => "expand_image_form"%></h4>
      <% fields_for :image do |i| -%>
        <fieldset id="image_form">
          <%= i.text_field :source_url, :id => "input_image", :autocomplete => "off"%><br/>
          .. or upload a file from your computer<br/>
          <%= i.file_field :uploaded_data %>
        </fieldset>
      <% end -%>
    </div>
    
    <div class="step">
      <h4><%= link_to "Set your public profile.", "#", :class => "expand-lnk", :id => "expand_public_infos_form"%></h4>
      <fieldset id="public_infos_form">
        <% fields_for :user do |f| -%>
          If you want people to find you by your real name, you can set it here.<br/>
          <label>First name</label><br/>
          <%= f.text_field :firstname %><br/>
          <label>Last name</label><br/>
          <%= f.text_field :lastname %><br/>
          <%= submit_tag %>
        <% end -%>
      </fieldset>
    </div>
    <% end -%>
    
  </div>

