<ul id="tab-menu" >
  <li style="float:right">You are logged in as <%= current_user.login %>. <%= link_to "Logout", "/logout", :style => "color:#eee"%></li>
  <li class="selected"><%= link_to "Overview", "#overview" %></li>
  <li class=""><%= link_to "Stories", "#stories" %></li>
  <li class=""><%= link_to "Connections", "#connections"%></li>
  <li class=""><%= link_to "Bookmarks", "#bookmarks" %></li>
  <li class=""><%= link_to "Images", "#images" %></li>
    <li class=""><%= link_to "Contributors", "#contributors" %></li>
  <li class=""><%= link_to "Account", "#account" %></li>

</ul>