<ul id="tab-menu">
  <li style="float:right">You are logged in as <%= current_user.login %>. <%= link_to "Logout", "/logout", :style => "color:#eee"%></li>
  <li class="<%= @klass == 'Story' ? 'selected' : '' %>"><%= link_to "Stories", polymorphic_url(@source, :klass => "Story") %></li>
  <li class="<%= @klass == 'Nuniverse' ? 'selected' : '' %>"><%= link_to "Connections", polymorphic_url(@source, :klass => "Nuniverse") %></li>
  <li class="<%= @klass == 'Bookmark' ? 'selected' : '' %>"><%= link_to "Bookmarks", polymorphic_url(@source, :klass => "Bookmark") %></li>
  <li class="<%= @klass == 'Image' ? 'selected' : '' %>"><%= link_to "Images", polymorphic_url(@source, :klass => "Image") %></li>

    <li class="<%= @klass == 'Comment' ? 'selected' : '' %>"><%= link_to "Comments", polymorphic_url(@source, :klass => "Comment") %></li>

</ul>