<% render_section :html => {:id => "overview" } do -%>
  <div class="step hat" style="padding:0 0 0 30px">
  <%= thumbnail_tag @source, :size => :large %>
  <% if @source == current_user  -%>
    <h2 style="padding:0"><%= @source.name.capitalize %>,<br/> this is your nuniverse.</h2>
  <% else -%>
   <h1>This is <span style="color:#FFF"><%= @source.name.capitalize %></span>'s nuniverse</h1>
  <% end -%>
  </div>
  
  <ul class="step">
     <li class="connection"><%= link_to "Your nuniverses", "/stories-for/User/#{current_user.id}", :id => "stories-for-User-#{current_user.id}" %></li>
     <li class="connection"><%= link_to "Create a nuniverse", "/create-a-nuniverse", :id => "create-a-nuniverse"%></li>
     <li class="connection"><%= link_to "Manage your account", "/users/account/#{current_user.id}", :id => "account"%></li>
     <li class="connection"><%= link_to "Customize your colors", "/users/account", :id => "customize"%></li>
   </ul>
 

<% end -%>