<div id="overview" style="background:#fff url('/images/backgrounds/hat.png') left top repeat-x">
  <div class="step"> 
      <%= thumbnail_tag @source, :size => :small %>
      <%= thumbnail_tag @context, :size => :small if @context%>
      <% if @source == current_user  -%>
        <% if @context.nil? %>
          <h1><span style="color:#FFF"><%= @source.name.capitalize %></span>, this is your nuniverse.</h1>
        <% else -%>
          <h1><span style="color:#FFF"><%= @source.name.capitalize %></span> <%= @context.name %></h1>
        <% end -%>
       
      <% else -%>
       <h1>This is <span style="color:#FFF"><%= @source.name.capitalize %></span>'s nuniverse</h1>
      <% end -%> 
      <% unless @filter.blank? -%>
        <h2>Showing all <%= link_to @filter, @source, :class => "filter" %> 
      <% end -%>
    <div style="clear:left"></div>
  </div>
  <% unless @context %>
  <div class="step">
    <h2>In this nuniverse</h2>

    <% @user.stories.each do |story| -%>
      <%= link_to story.name, user_url(@user, :context => story.id) %>
    <% end -%><br/>
    <span style="font-size:15px"><%= link_to "Create a new story.", "#", :class => "expand_lnk", :id => "expand_new_story_form"%></span>
    <%= render :partial => "/stories/new" %>
  </div>
  <% end -%>

 

 
</div>