<dd class="review" style="background:#FFF;padding:2% 2% 2% 10%" >
  <div style="position:relative;float:right;width:30px"></div>
  

   <div class="actions" style="background:<%= review.matching_vote.color %>;background:none;padding:5% 2%">
        <%= star_lnk(review.parent) %>
  </div>
  <%#= render :partial => "vote", :locals => {:vote => review.matching_vote}%>
  <%= image_tag(review.parent.avatar.public_filename(:small), :class => "thumb", :style => "border-color:#{review.matching_vote.color}") rescue nil%>
  <p class="desc"><%= link_to_author(review.author) %> about <span style="color:<%= review.matching_vote.color %>"><%= wdyto_url(review.parent) %></span></p>
  <p class="body" >"<%= review.body %>" <span style="color:<%= review.matching_vote.color %>;font-size:1.3em;font-weight:bold"><%= pretty_score(review.matching_vote.score) %></span></p>
  
  <%= clear %>
</dd>