<dd class="review" style="background:#FFF<%#= review.matching_vote.color %>;" >
  <div style="position:absolute;width:7%;text-align:center;top:0;right:0;padding:0;height:100%;background:<%= review.matching_vote.color %>;">
    <div  style="padding:10%;font-weight:bold;text-align:center;font-size:1.4em;color:#FFF">
    <%= review.matching_vote.score.round.to_i rescue nil %></div>
    
    <%= link_to image_tag('/images/icons/star.png', :style => "width:30px") %>
  </div>
  <%#= render :partial => "vote", :locals => {:vote => review.matching_vote}%>
  <%= image_tag(review.parent.avatar.public_filename(:small), :style => "position:relative;float:left;width:60px;margin:0 1em 0 0;background:#000;border:solid 6px #{review.matching_vote.color}") rescue nil%>
  <%= link_to_author(review.author) %> about <%= wdyto_url(review.parent) %><br/>
  <p class="body">"<%= review.body %>"</p>
  
  <%= clear %>
</dd>