<div id="stories" class="section" >
  
  <dl class="menu">
    <dd><%= link_to "+ New story", "", :class => "new-story-lnk" %></dd>
    <dd><%#= render :partial => "/nuniverse/search", :locals => {:action => stories_url}%></dd>
  </dl>
  <%= render :partial => "/stories/new"%>
  <div class="hat step">
    <h2>Stories</h2>
  </div>
  
  <div class="content">
  <% @stories.each do |story| -%>
    <%= render :partial => "/stories/instance", :locals => {:instance => story} %>
  <% end -%>
  <%= clear %>
  </div>

  <ul class="sub-menu">
    <li><%= link_to "Browse", "#" %></li>
    <li><%= link_to "Edit", "#" %></li>
    <li><%= link_to "Share", "#" %></li>
    <li><%= link_to "Comment", "#" %></li>
  </ul>
</div>

