<%= clear %>
<div id="right-column" style="display:none">

 
  <div class="nuniverse-klass step" style="position:relative;">
    There are <%= @count %> connections in this nuniverse. 
    <%= link_to "Browse them all", polymorphic_url(@source, :klass => "nuniverse") %>, or look for something specific
    <% form_tag "/users/show/#{@user.id}" do -%>
      <%= text_field_tag "filter", @filter, :style => "width:auto;font-size:20px" %><%= submit_tag "search this nuniverse", :style => "font-size:15px;background:#eee"%>
    <% end -%>
  
  </div>

  <div class="step">
      <% @tags.each do |story| %>
        <%= link_to story.name.pluralize, user_url(@user, :filter => story.name, :context => @context), :style => "font-size:#{[(12+story.counted.to_i),20].min}px"%>
      <% end -%>
  </div>
    
   <div class="step">
      People you know are also connected to this nuniverse <%= link_to "See all people in that nuniverse.", "#" %>
   </div>

</div>


  <div id="left-column" style="margin:0 0 0 0">
    <div class="step">
      <%= will_paginate @connections unless @connections.empty?%>
      <%= display_options %>
      <%= clear %>
    </div>
  
    <% if @klass == "Story" %>
      <%= render :partial => "stories" %>
    <% else %>
      <div id="content" style="clear:left">
      <%= columnize(render_connections(@connections)) %>
      <%= clear %>
      </div>
     
      <div class="step"  id="new-connection-step">
        <h3>Want to add something to <%= @story ? @story.name : @source.name %>?</h3>
        <%= render :partial => "/#{@klass.pluralize.downcase}/new", :locals => {:params => {:behavior => ""}}%>
        <dl class='suggestions'></dl>
      </div>
    
    
  <% end -%>
 
</div>