
  <dd style="padding:3%;margin: 0 0 .4% 0;background:#FFF;" >
    
    <%= thumbnail_tag(vote.rankable, :style => "position:relative;float:left;border-color:#{vote.color}") rescue nil %>
    <h3 style="padding:0;color:<%= vote.color %>"><%= wdyto_url(vote.rankable) rescue nil %> </h3>
    <p style="font-size:1.2em"><%= vote.review.body rescue nil %>" - <%= link_to_author(vote.user)%> <span  style="color:<%= vote.color %>;font-weight:bold;font-size:1.4em"> +<%= sprintf('%.0f',vote.score) %></span></p>
    <%= clear %>
  </dd>
