<% nuniverse(:selected => "register") do -%>

<div id="sign_up">
  <div class="header">
    <%= image_tag("/images/icons/logo_nuniverse.png") %>
  </div>
  <% if (error_messages_for :user).blank? %>
    <h1>Signing up, Basics</h1>
    <h4>Three quick and easy steps.</h4>
  <% else -%>
    <%= error_messages_for :user, :header_message => "Wait a minute...", :message => ""%>
  <% end -%>
  <% form_for :user, :url => user_path, :html => { :multipart => true } do |f| -%>
    <div class="image_picker"></div>
    <label for="login">Login</label>
    <%= f.text_field :login %>

    <label for="email">Email</label>
    <%= f.text_field :email %>

    <label for="password">Password</label>
    <%= f.password_field :password %>
    <br/>
    <br/>
  
    <%= submit_tag 'Sign up' , :class => 'submit'%>
    <% end -%>
</div>
<% end-%>