
<% nuniverse do %>
  <div id="sign_up" style="padding:0 0 0;text-align:center">
    <%= image_tag('/images/icons/getonwdyto.png') %>.
    <% if (error_messages_for :user).blank? %>
    <% else -%>
      <%= error_messages_for :user, :header_message => "Wait a minute...", :message => ""%>
    <% end -%>
    <% form_for :user, :url => {:action => :create}, :html => { :id => "signup_form" } do |f| -%>
     <div style="position:relative;width:100%;clear:both">
       <label for="email">#1 Enter your email</label>
        <%= f.text_field :email, :id => "signup_email" %><div class="signal"> </div>
      </div>
      <div style="position:relative;width:100%;clear:both">
        <label for="login">#2 Pick a login</label>
        <%= f.text_field :login, :id => "signup_login"%><div class="signal"> </div>
      </div>
      <div style="position:relative;width:100%;clear:both">
        <label for="password">#3 Pick a password</label>
        <%= f.password_field :password, :id => "signup_password" %><div class="signal"> </div>
      </div>
     
      
      <%= submit_tag 'Sign up' , :class => 'submit', :style => "clear:both;display:none", :id =>"signup_submit" %>
      <% end -%>
      <%= link_to "Cancel", "/" %>
  </div>
<% end -%>