<% nuniverse(:selected => "My nuniverse") do -%>
    <%= image_tag('/images/icons/small_nuniverse.png', :style => "position:relative;float:left;height:60px")%>
    <h1>Welcome, <%= current_user.login.capitalize %>, this is your nuniverse</h1>
    <div class="delimiter">&nbsp;</div>
    
     <div id="right_column">

        <div class="box">
          <h2>Your nuniverse</h2>
           <p>Your nuniverse size is <strong><%= current_user.connections_count%>/<%= current_user.max_connections %></strong> connections. <%= link_to("Upgrade", "/upgrade") %></p>
          <p><%#= current_user.tag.weather %></p>
          <%= avatar_for current_user.tag %>
          <p>
            <%= link_to "Edit your profile", "/users/edit" %>
          </p>
         
          
        </div>
          <%= render :partial => "/tags/map", :locals => {:tag => current_user.tag}%>
        <div class="box">  
          <% unless current_user.invitations.empty? %>
          <h2>You have been invited to</h2>
            <% current_user.invitations.each do |invitation| -%>
              <h4><%= link_to(invitation.tagging.owner.login.capitalize, invitation.tagging.owner.tag) %>'s <%= link_to_item(invitation.tagging) %></h4>
            <% end -%>
          <% end -%>
        </div>
        <div class="box" id="google_ads">
          <script type="text/javascript"
             src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
           </script>
        </div>
    </div>

    <div id="left_column">
      <div class="box">
        <h2>Your topics</h2>
        <%= render :partial => "/nuniverse/connections", :locals => {
          :items => @items,
          :selected => nil,
          :service => @service,
          :tagging => nil,
          :order => @order
        }%>
      </div>
    </div>
    

    
    <%= render :partial => "/taggings/find_or_create", :locals => {
        :subject => @tag,
        :path => @path} %>
<% end -%>