<%= render :partial => "toolbar"%>
<%= render :partial => "/nuniverse/main_menu"%>
<% nuniverse do -%>
  <div id="wdyto">
     <div id="left-col">
       <%= render :partial => "name"%>
       <%= render :partial => "top"%>
       <%= render :partial => "followings"%>
     </div>

     <div id="right-col">
       <dl id="suggestions" style="padding:0;min-height:0"></dl>
       <%= render :partial => "feeds"%>
     </div> 
  </div>
<% end -%>