<% nuniverse(:selected => "My nuniverse") do -%>
  <%= image_tag('/images/icons/small_nuniverse.png', :style => "position:relative;float:left;height:60px")%>
  <h1><%= current_user.login.capitalize %>, this is your nuniverse.</h1>
  <div class="delimiter">&nbsp;</div>
  <div id="nav">
    <%= account_box %>
    <div class="command_box">
      <%= command(:label => "Search your nuniverse", :command => "Search") %>
    </div>
    <%= new_list_button %>
  </div>
  <div id="content" >
    <% if @mode == "cards" -%>
      <%= columnize([ad_box,boxes_for(current_user.connections(:per_page => 20, :order => 'latest'), :source => current_user)].flatten, :size => 4)%>
      
    <% else -%>
      <div class="column large">
        <%= lists_for(current_user) %> 
      </div>
      <div class="column small">
        <%= ad_box %>
        <%#= map_box(current_user.tag)%>
      </div>
    <% end -%>
    
  </div>
  
  <%= input(@source => nil)%>
<% end -%>