<% nuniverse(:selected => "My nuniverse") do -%>

    <% if @mode == "list" -%>
   
      <div class="column xlarge" id="left_content;">
        
       
         <% if current_user.lists.empty? -%>
          <div class="box">
            
            <h2>Your nuniverse is empty.</h2>
            <h3><%= command(:label => "+ Create a new list", :command => "Create a list of", :description => "Enter the title of the category you want to create.") %></h3>
            <div class="content"></div>
            </div>
         <% else -%>
            <%= lists_for(current_user)%>
         <% end -%>
            <%= ad_box%>
      </div>
      
    <% else -%>
      <%= columnize(lists_for(current_user), :size => 4)%>
    <% end -%>


  <% content_for :nav do -%>

    <%= command_box("+ Create a list of","Create a list of", :description => "Enter the title of the list you want to create. Try to end with the type of things you are listing. Eg: Favorite Movies, japanese restaurants, Our project's members...") %>
    <%= command_box("Search","search") %>
  <% end -%>

  
 
<% end -%>