<% nuniverse do -%>
  <div id="right-column" >
    <div class="step">
      You are logged in as <%= current_user.login %>.<%= link_to "Logout", "/logout" %>
    </div>
   
    <div class="nuniverse-klass step" style="position:relative;">
      There are <%= @count %> connections in this nuniverse. <%= link_to "Browse them all", polymorphic_url(@source, :klass => "nuniverse") %>, or look for something specific
      <% form_tag "/users/show/#{@user.id}" do -%>
        <%= text_field_tag "filter", @filter, :style => "width:auto;font-size:20px" %><%= submit_tag "search this nuniverse", :style => "font-size:15px;background:#eee"%>
      <% end -%>
    
    </div>

    <div class="step">
      
        <h2>In this nuniverse</h2>
        <% @tags.each do |story| %>
          <%= link_to story.label.pluralize, user_url(@user, :filter => story.label, :context => @context), :style => "font-size:#{[(12+story.counted.to_i),20].min}px"%>
        <% end -%>
      
    </div>
      <%= render :partial => "/nuniverse/menu"%>
     <div class="step">
        People you know are also connected to this nuniverse <%= link_to "See all people in that nuniverse.", "#" %>
     </div>
  </div>
  

    <div id="left-column" >
      <%= render :partial => "overview" %>
    <div id="content" style="clear:none">
      <%= render :partial => "/connections/connections", :locals => {:connections => @connections}%>
      <%= clear %>
      <div class="step"  id="new-connection-step">
      <h3>Want to add something to <%= @story ? @story.name : @source.name %>?</h3>
        <%= render :partial => "/#{@klass.pluralize.downcase}/new", :locals => {:params => {:behavior => ""}}%>
        <dl class='suggestions'></dl>
      </div>
    </div>
   
  </div>

<% end -%>