<%= render :partial => "/tags/new" %>
<% nuniverse(:selected => "My nuniverse") do -%>
  <% if @items.empty? %>
  <div class="dialogue">
    <h2 style="color:#333">Here you are.</h2>
    <p>This is your nuniverse. Right now, it's empty, and it's waiting for YOU to build it.</p>
    <p>There might be hundreds of things you want to keep track of, this "empty page" is made just for that.</p>
    <h3>
      <%= link_to "Add something to your nuniverse", "#", :id => "select_tag_lnk", :class => "select_form_lnk" , :style => "color:#396"%>
    </h3>
    <p>Not sure what do add?</p>
    <p>What about trying adding your favorite film, or that car you'd like to buy.<br/>You can also create a category and add things to it later.</p>
    <p>Still not convinced? Maybe you'd prefer to see what others have been doing...</p>
    <h3>
      <%= link_to "Visit another nuniverse", "#", :id => "select_nuniverse_lnk", :class => "select_form_lnk" , :style => "color:#396"%>
    </h3>
  </div>
  <% else -%>
    <%= sorting_options :source => @tag %>
    <%= will_paginate(@items) %>
    <div class="delimiter" style="clear:both">&nbsp;</div>
    <%= columnize(boxes_for(@items), :size => 4) %> 
    <% content_for :footer do -%>

      <h3 style="display:inline;padding:5px;font-weight:bold"><%= link_to "+ Add something", "#", :id => "select_tag_lnk", :class => "select_form_lnk" %></h3>
      <h3 style="display:inline;padding:5px"><%= link_to "Visit another nuniverse", "#", :id => "select_nuniverse_lnk", :class => "select_form_lnk" %></h3>
    <% end -%>
       
  <% end -%>

  
  
 
<% end -%>