<%= render :partial => "/tags/new" %>
<% nuniverse(:selected => "My nuniverse") do -%>

      <% if @mode == "list" -%>
        <div class="column xlarge" id="left_content;">
          <%= lists_for(current_user)%>
          <%= ad_box %>
        </div>

      <% else -%>
        
        <%= will_paginate(@items)%>
        <div class="delimiter" style="clear:both">&nbsp;</div>
        <%= columnize(boxes_for(@items), :size => 4)%>
      <% end -%>


  <% content_for :nav do -%>
    <%= render :partial => "/nuniverse/search_box" %>
   
  <% end -%>

  
 
<% end -%>