<% nuniverse(:selected => "My nuniverse") do -%>
  <%= image_tag('/images/icons/small_nuniverse.png', :style => "position:relative;float:left;height:60px")%>
  <h1><%= current_user.login.capitalize %>, this is your nuniverse.</h1>
  <div class="delimiter">&nbsp;</div>
  <div id="nav">
    <%= columnize([account_box, ad_box, ad_box, new_list_button], :size => 4)%>
  </div>
  <div id="content" >
    <div class="column small">
      <%= map_box(current_user.tag)%>
    </div>
    <div class="column large">
      
      <%= bookmarks_box %>
      <%= people_box %>  
      <%= locations_box %>
    <!-- </div> -->
    <!-- <div class="column medium"> -->
      
      <%= lists_for(current_user) %> 
    </div>

  </div>
  
  <%= input(@source => nil)%>
<% end -%>