<%= render :partial => "/boxes/preview" %>
<% nuniverse(:selected => "My nuniverse") do -%>


   
    <div id="content" class="<%= @mode %>_mode" >
      <%= render :partial => "/tags/page", :locals => {:items => @items }%>
    </div>

     <% content_for :right_col do -%>
       <%= display_options %>
       <%= render :partial => "/nuniverse/tag_cloud" %>
     <% end -%>
     

  

 
<% end -%>