<%= render :partial => "/boxes/preview" %>
<% nuniverse(:selected => "My nuniverse") do -%>


   <%= image_tag("/images/icons/ajax-loader.gif", :alt => "loading... please wait", :style => "padding:10px;position:absolute", :id => "main_spinner", :class => "spinner hidden") %>
    <div id="content" class="<%= @mode %>_mode" style="clear:none;height:auto;padding:0;margin:0 0 0 0">
      <%= render :partial => "/tags/page", :locals => {:items => @items }%>
      
    </div>

     <% content_for :right_col do -%>
       
       <%= display_options %>
    
       <%= render :partial => "/nuniverse/tag_cloud" %>
     <% end -%>
     

  

 
<% end -%>