<% nuniverse(:selected => "My nuniverse") do -%>
  <%= image_tag('/images/icons/small_nuniverse.png', :style => "position:relative;float:left;height:60px")%>
  <h1><%= current_user.login.capitalize %>, this is your nuniverse.</h1>
  <div class="delimiter">&nbsp;</div>
  <div class="column">  
    <%= render :partial => "/taggings/image", :locals => {:object => current_user.tag}%>  
    <div class="box">
      <h2>Your nuniverse</h2>
      <p>You used <strong><%= current_user.connections_count%>/<%= current_user.max_connections %></strong> connections. <%= link_to("Upgrade", "/upgrade") %></p>
      <%= link_to "Edit your profile", "/users/edit" %>
    </div>
  
    <%= render :partial => "/taggings/ads" %>
  </div>
  
  
  <div class="column" >
    <%= box(:kind => "list")%>
    
    <%= box(:kind => "topic")%>
    <%= render :partial => "invitations", :locals => {:invitations => current_user.invitations} %>  
</div>
<div class="column">
  <%= box(:kind => "person") %>
  <%= box(:kind => "location", :title => "Places")%>
  <%#= render :partial => "/tags/map", :locals => {:tag => current_user.tag}%>
  <%= render :partial => "/taggings/bookmarks", :locals => {:source => current_user}%>
</div>

<div class="column">
  <%= box(:kind => "item", :title => "Products") %>
  <%= box(:kind => "video")%>

</div>
<%= render :partial => "/taggings/find_or_create", :locals => {:tagging => nil} %>
<% end -%>