<%= render :partial => "toolbar"%>
<%= render :partial => "/nuniverse/main_menu"%>
<% nuniverse do -%>
  <div id="wdyto">
    
    <div style="position:relative;float:left;width:40%">
      <div class="box" style="height:100px;width:25%">
        <div class="wrap">
          <%= image_tag(@source.images.first.public_filename(), :id => "image") rescue nil %>
        </div>
      </div>
      <div class="box" style="width:74%;height:100px" >
        <div class="wrap">
          <h3>This is the nuniverse of</h3>
          <h1><%= @source.name.titleize %></h1>
        </div>
      </div>
      <div class="box" style="width:99%;background:#000;height:230px">
      
          <div class="wrap" style="padding:4%;width:92%;height:80%">
            <% voting_stats = @source.votes.group_by(&:score) -%>
            <% 10.times do |time| %>
              <%= render_stat(Stat.new(:score => 10-time, :value => (voting_stats[10-time].length rescue 0), :total => @source.votes.count)) %>
            <% end -%>
          </div>

      </div>

    <% @votes.each do |vote| -%>
      <%#= render :partial => "vote", :locals => {:vote => vote}%>
    <% end -%>

    </div>
    <%= render :partial => "just_tasted"%>

  </div>
  
  
<% end -%>