<% render_section(:html => {:id => "S-upgrade-account"}) do  %>
    <div class="step">
      
      <%= image_tag("/images/icons/nuniverse.png", :class => "thumbnail", :style => "background:none;") %>
      <h2 style="font-size:24px">Stairway to heaven. Free. </h2>
      <h3></h3>
      <p>Your basic everyday need. 100 connections. (Up to 5 private nuniverses of 20 connections.)</p>
      <p>That's what you have right now.)</p>
      <%= clear %>
    </div>
    <div class="step">
      
      <%= image_tag("/images/icons/nuniverse.png", :class => "thumbnail", :style => "background:none") %>
      <h2>Major Tom. $5/m. <%= link_to "Get it", "#TODO", :style => "color:#39f"%></h2>
      <p>For the deep tracker. 500 connections. (Up to 10 private nuniverses of 50 connections)</p>
      <%= clear %>
    </div>
    <div class="step">
      
      <%= image_tag("/images/icons/nuniverse.png", :class => "thumbnail", :style => "background:none;") %>
      <h2 style="font-size:35px">Space oddity. $24/m. <%= link_to "Get it.", "#TODO", :style => "color:#F9f"%></h2>
      <p>For the professional. 2000 connections.  (Up to 20 private nuniverses of 100 connections)</p>
      <%= clear %>
    </div>
    <div class="step">
      
      <%= image_tag("/images/icons/nuniverse.png", :class => "thumbnail", :style => "background:none") %>
      <h2 style="font-size:45px">Big bang theory. $99/m. <%= link_to "Get it.", "#TODO", :style => "color:#cf9"%></h2>
      <p>For the mad scientist. Unlimited connections, Unlimited nuniverses.</p>
      <%= clear %>
    </div>
    
  </div>
<% end -%>