<%= home_link %>
<% nuniverse do -%>
  <div id="content">
    <div class="step">
      
      <%= image_tag("/images/icons/nuniverse.png", :class => "thumbnail", :style => "background:none;") %>
      <h3>A small nuniverse. Free. </h3>
      <h3></h3>
      <p>Your basic everyday need. 100 connections (That's what you have right now.)</p>
      <%= clear %>
    </div>
    <div class="step">
      
      <%= image_tag("/images/icons/nuniverse.png", :class => "thumbnail", :style => "background:none") %>
      <h2>A bigger nuniverse. $6/m. <%= link_to "Expand.", "", :class => "action"%></h2>
      <p>For the deep tracker. 500 connections</p>
      <%= clear %>
    </div>
    <div class="step">
      
      <%= image_tag("/images/icons/nuniverse.png", :class => "thumbnail", :style => "background:none;") %>
      <h2 style="font-size:35px">A huge nuniverse. $19/m. <%= link_to "Expand.", "", :class => "action"%></h2>
      <p>For the professional. 2000 connections</p>
      <%= clear %>
    </div>
    <div class="step">
      
      <%= image_tag("/images/icons/nuniverse.png", :class => "thumbnail", :style => "background:none") %>
      <h2 style="font-size:45px">An inifinite nuniverse. $45/m. <%= link_to "Expand.", "", :class => "action"%></h2>
      <p>For the mad scientist. 5000 connections</p>
      <%= clear %>
    </div>
    
  </div>
<% end -%>