<div class="box" id="address_box" style="height:60px;overflow:hidden;position:absolute;height:300px;width:300px;left:700px;top:200px">
 
  
  <div class="content" style="display:block;position:relative;">
    
      <% @map = map(item) %>
      
       <% content_for :head do -%>
            <%= GMap.header (:small_zoom => true, :with_vml => false) %>
            
            <%= @map.to_html %>
        <% end -%>
        <%= @map.div(:width => '300px', :height => '300px', :class => "map", :id => "map_#{item.id}") %>
  
    <script type="text/javascript">
    //<![CDATA[
      function display_map_<%= item.id %>(){
        
        <%=  @map.to_html(:no_load => true, :no_script_tag => true, :no_declare => true, :no_global => true) %>
      }
     
    //]]> 
    </script>

  </div>
  
  <div class="hidden">

    
   </div>

</div>
