<div class="box" id="amazon_box">
  <%= link_to("",preview_url(item.object.id, :kind => item.kind), :class => "hidden preview_url")%>
 
  <%= render_item(item, :kind => item.kind, :item_classes => item_classes) %>
  <div class="content">
    <%= render_item(item, :kind => item.kind, :item_classes => item_classes) %>
    <p><%= item.description %></p>
  </div>
  <div class="hidden">
    <%= add_to_fav_link(item, :source => @tag)%>
  </div>
</div>