<div class="box <%= item_classes rescue "" %>" >
  
  <%= link_to("",preview_url(item.object.id, :kind => item.kind), :class => "hidden preview_url")%>
  <%= link_to("",add_to_nuniverse_url(@tag, item.kind, :tag => item.object.id, :label => item.object.label, :url => item.object.url, :data => item.object.data, :service => item.object.service), :class => "hidden add_to_fav_url")%>
  <%= render_item(item, :kind => item.kind, :item_classes => item_classes) %>
  <div class="content">
    <%= render_item(item, :kind => item.kind, :item_classes => item_classes) %>
    <p><%= item.description %></p>
  </div>
</div>