<div class="box image <%= item_classes rescue "" %> " style="height:60px;padding:10px;overflow:hidden;" >
  
  <%= link_to("",add_to_nuniverse_url(@tag, item.kind, :tag => item.subject), :class => "hidden add_to_fav_url")%>
  <div class="connection subject hide_in_preview" >
    
    <%= image_tag(item.subject.image.public_filename(:small), :style => "width:60px;height:60px;position:relative;float:left")%>
    <p style="font-size:11px;"><%= item.kind.capitalize %> of </p>
    <h3 style="padding:0"><%= link_to(item.subject.label.capitalize, "#") %></h3>
  </div>
  <div class="content" style="padding:20px">
    <%= image_tag(item.subject.image.public_filename, :class => "blowup")%>
  </div>
   <%= add_to_fav_link(item, :source => @tag)%>
</div>

