<div class="box  <%= dom_class %> <%= ord %> list" id="<%= dom_id %>" >
  <h2>
    <span class="size"><%= items.total_entries %> </span>
    <%= link_to_list(source, :item_size => items.total_entries) %> 
    <%= expander_icon %>
  </h2>
  <% if items.total_entries >= 1 -%>
        <% if @mode == "image" %>
          <%= avatar_for(items.first)%>
        <% else -%>
          <span class="unique_item">
            <%= link_to_item(items.first, :kind => source.kind)%>
          </span>
        <% end -%>
    <% end -%>
  <%= spinner %>
  <div class="content">
    <% if items.total_entries > 1 -%>
      <%= will_paginate(items, :params => {:kind => kind}) %>
      <div class="items" >
        <% items.each do |item| -%>
          <%= render_item(item, :kind => source.label)%>
        <% end -%>     
      </div>
    <% elsif items.total_entries == 1 -%>
      <%= render_item(items.first, :kind => source.label)%>
    <% else -%>
      <h3>No <%= source.label %> has been added yet.</h3>
      <p>
        <%= command(:label => "+ Add to #{source.label} now", :command => "Add to #{@source.label} #{source.label}") %>
      </p>
    <% end -%>
  </div>
  <%#= render :partial => "/lists/list_options", :locals => {:list => source}%>
  <div class="actions">
    <%= link_to("Options", "#", :class => "expand_options" )%> 
    <%#= command(:label => "+ Add", :command => "Add to #{@source.label} #{source.label}", :description => "Enter what you want to add now") %>
    <div class="secondary">
      <%#= command(:label => "Email this to someone", :command => "Email #{source.label} to", :description => "Enter an email address")%>
      <%#= link_to("Close", "#", :class =>"collapse_icon") %>
    </div>
  </div>
  

</div>