<div class="groups">
  <%= link_to(thumbnail_tag(current_user.tag), "") -%>
  <%= link_to(image_tag("/images/icons/icon_nuniverse.png", :class => "thumbnail"), "")%>
  <%= link_to(image_tag("/images/icons/google.png", :class => "thumbnail"), "")%>
  <%= link_to(image_tag("/images/icons/amazon.png", :class => "thumbnail"), "")%>
  <%= link_to(image_tag("/images/icons/icon_youtube.png", :class => "thumbnail"), "")%>
  
</div>