<div class="tweet box" >
 

  <%= link_to("",add_to_nuniverse_url(@tag, item.kind, :tag => item.object.id, :input => item.object.label, :url => item.object.url, :kind => item.object.kind, :data => item.object.data ), :class => "hidden add_to_fav_url")%>
  
  <%= render_item(item, :kind => item.kind, :item_classes => item_classes) %>
  <div class="content">
    <p><%= item.label%></p>
    <p> <%= link_to( "Follow #{item.object.property('user_name')}", "#")%></p>
    <p>Reply to <%= item.object.property('user_name')%></p>
  </div>
  <div class="delimiter">&nbsp;</div>
</div>