<div class="header">
  <%= image_tag("/images/icons/video.png", :style => "width:30px;float:left") %>
  <h2><%= video.name %></h2>
</div>

<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" width="425" height="344"><param name="movie" value="<%= h sanitize(video.url) %>" ></param><param name="quality" value="high"><param name="allowScriptAccess" value="always"><param name="allowFullScreen" value="true"><param name="FlashVars" value="<%=  %>"></param><embed src="<%= h sanitize(video.url) %>" FlashVars="<%=  %>" type="application/x-shockwave-flash" allowfullscreen="true" width="100%" height="100%" quality="high" allowScriptAccess="always" pluginspage="http://www.macromedia.com/go/getflashplayer"></embed></object>
