  <dd class="fact" style="height:160px;padding:4%">
  <% @tokens = [fact.tokens.collect {|c| c.namespace },fact.parent].flatten.reject {|t| t == @source || t == @tag }%>
  <% if fact.parent != @namespace %>
    <%= thumbnail_tag(fact.parent) rescue nil %>
    <div class="tag">Related to</div>
    <h2 style="padding:0;"><%= link_to fact.parent.name.titleize, "/#{fact.parent.unique_name}" %></h2>
    <p><%= render_fact(fact) %></p>
  <% else -%>
    <%= thumbnail_tag(@tokens.first) rescue nil %> 
    <div class="tag"><%= tags.first.name.capitalize rescue "Quick Fact" %></div>
    <div style="font-size:<%= 26 %>px"><%= render_fact(fact) %></div>
  <% end -%>
  
  <% unless fact.tags.empty? %>
    <span style="color:#999;font-size:14px">tagged: <%= fact.tags.collect {|c| c.name }.join('/') %></span>
  <% end -%>
  
</dd>


 