<div id="conversation" class="section">
  
  <% if @comments.empty? %>
    <div class="step">
      <h2>Start the story!<h2>
    </div>
  <% else-%>
    <h2>Storyline</h2>
  <% end -%>
  <div class="step"  style="padding:0 0 0 10px" id="new-note-step">
    <h3 style="padding:0 0 0 10px;font-size:16px;font-weight:bold">Add your note</h3>
    <%= render :partial => "/comments/new", :locals => {:parent => @source}%>
    
    
  </div>
  <div id="content">
  <div class="step">
    <%= will_paginate @comments unless @comments.empty?%>
    <%= clear %>
  </div>
  <dl class="content-list">
  <% @comments.each do |comment| -%>
   <%= render :partial => "/comments/instance", :locals => {:instance => comment}%>
  
  <% end -%>
  </dl>
  <div class="step">
    <h3>If you haven't invited others, we suggest you do <%= link_to "here", "#contributors" %></h3>
  </div>

  </div>
</div>
