<div style="position:fixed;right:20px;">
  You are logged in as <%= current_user.login %>. <%= link_to "Logout", "/logout", :style => "color:#eee", :id => "logout_lnk"%>
</div>
<ul id="sub-menu">
  
</ul>
<ul id="tab-menu">
  <li class="selected" style="position:absolute;color:#ccc;width:65px">--</li>
 
  <li><%= link_to "Overview", "#overview" %></li>
 
  <% if false %>
  <li><%= link_to "Storyline", "#new_set" %></li>
   <li><%= link_to "Contributors", "#contributors" %></li>
  
  
  <li><%= link_to "Map", "#map" %></li>
  <% end -%>

</ul>

