<ul id="tab-menu">
    <li style="float:right">You are logged in as <%= current_user.login %>. <%= link_to "Logout", "/logout", :style => "color:#eee"%></li>
  
  <li class="<%= @klass ==  nil ? 'selected' : '' %>"><%= link_to "Overview", "#overview" %></li>
  <li class="<%= @klass ==  nil ? 'selected' : '' %>"><%= link_to "Conversation", "#conversation" %></li>
  <li class="<%= @klass == 'Nuniverse' ? 'selected' : '' %>"><%= link_to "Connections", "#connections"%></li>
  <li class="<%= @klass == 'Bookmark' ? 'selected' : '' %>"><%= link_to "Bookmarks", "#bookmarks"%></li>
 
  <li class="<%= @klass == 'User' ? 'selected' : '' %>"><%= link_to "Contributors", "#contributors" %></li>
  <li class=""><%= link_to "Map", "#map" %></li>

</ul>