<% form_for @story, :html => { :class => "inline", :style => "width:100%"} do |f| %>
  <%= f.hidden_field :author_id %>
  <h2>Create a nuniverse</h2>
 
  <%= f.check_box :is_private %> This nuniverse is private
  <%= clear %>
  <%= f.label :name, "Name it" %>
  <%= f.text_field :name %>
  <%= f.label :name, "Describe it... if you want" %>
  <%= f.text_area :description, :rows => 3 %>
  <%= f.submit "Create", :style=>"font-size:30px" %>
<% end %>