<div id="overview" class="section">
  <%= render :partial => "hat" %>
  <div class="step" style="font-size:15px">it is a public nuniverse. <%= link_to "Make private", "#", :style => "font-weight:normal" %></div>
  <% @story.sets.each do |g| %>
  <div class="step connection" >
    <span class="name"><%= link_to g.name, "/groups/show/#{g.id}", :title => g.unique_name , :class => "set-lnk"%></span>
  </div>
  <% end -%>
  
  <div style="position:absolute;z-index:999;display:none" id="inline-form">
    <%= render :partial => "/comments/new", :locals => {:parent => @source}%>
  </div>
  <ul class="sub-menu">
     <li><%= link_to "Create a new set", "/groups/new", :class => "expand-lnk" %></li>
     <li><%= link_to "Edit", "#" %></li>
     <li><%= link_to "Share", "#" %></li>
     <li><%= link_to "Comment", "#" %></li>
   </ul>
</div>