<% render_section :html => {:id => "overview"} do %>
  <div class="step" style="padding:30px 30px 0 30px">
    <%= thumbnail_tag @nuniverses.first rescue nil %>
    <h2 style="padding:0"><%= @source.name.capitalize %></h2>
     <p>Visit this nuniverse directly at <%= link_to ("/users/#{current_user.login}/#{@story.unique_name}", story_url(@story)) rescue ""%></p>
      <p>This nuniverse was created by <%= @story.author.name %>.</p>
      <p style="white-space:normal;width:300px">
        <% if @story.description %>
          <%= @story.description %>
        <% else %>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ligula lacus, cursus at, aliquet convallis, vestibulum id, mi. Proin hendrerit, urna ac luctus laoreet, nunc felis egestas est, et auctor justo quam ac urna. Proin facilisis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Morbi pulvinar.
        <% end -%>
      </p>
    <%= clear %>
  </div>
  
  <% if @story.sets.empty? %>
    <div class="step connection"><%= link_to "/"%></div>
  <% else %>
    <% @story.sets.each do |group| %>
      <div class="step connection">
        <%= link_to group.name, "/groups/show/#{group.id}", :id => "Group-#{group.id}"%>
      </div>
    <% end -%>
  <% end -%>
  <%#= raise @story.sets[0].nuniverses.inspect %>
  <%#= render :partial => "map" , :locals => {:locations => Location.gather(@story.sets[0].nuniverses)}%>

  

  <ul class="sub-menu">
     <li><%= link_to "Create a new set", "/groups/new", :class => "expand-lnk" %></li>
     <li style="display:none"><%= link_to "Browse", "#", :class => "browse-lnk" %></li>
     <li><%= link_to "Edit", "#", :class => "edit-lnk" %></li>
     <li><%= link_to "Share", "#" %></li>
     <li><%= link_to "Comment", "#" %></li>
   </ul>
<% end -%>