<h1>New story</h1>

<% form_for(@story) do |f| %>
  <%= f.error_messages %>
  <label>Tell your story</label>
  <%= f.text_area :name, :rows => 2 %>
  <%= f.hidden_field :author_id %>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', stories_path %>
