<% nuniverse do -%>
  
  <div class="section" style="width:600px;height:auto;margin:0 auto;background:none;" id="overview">
    <h1 style="font-weight:bold"><%= thumbnail_tag(@source) %><%= "#{@tag.name}@" if @tag %><%= link_to @source.name, story_url(@source) %></h1>
  <div class="box" >
    
    <div class="content" style="height:400px;overflow:hidden" >
      <dl class="set facts" id="facts" >
        <% @facts.each_with_index do |fact,i| %>
          <%= render :partial => fact, :locals => {:style => "font-size:#{[(36 - (i*3)),16].max}px;opacity:.#{[9 - i,5].max}", :source => @source}%>
        <% end -%>
      
      </dl>
    
    </div>
    <%= render :partial => "/facts/new", :locals => {:source => @source} %>
  </div>
  </div>

<% end -%>

<ul id="tab-menu" style="background:#000">
  <li class="selected" ></li>
  <li><%= link_to "Overview", "#overview" %></li>
 
 
</ul>