<%= render :partial => "/stories/menu"%>
<% nuniverse do -%> 
  <%= render :partial => "overview" %>
<% end -%>


<div id="templates" style="display:none">
  <%= render :partial => "/boxes/template" %>
  <%= render :partial => "/boxes/image_box" %>
  <%= render :partial => "/boxes/item_box" %>
</div>