<div class ="step connection <%= connection.subject.class.to_s.downcase %>-connection " style="padding:10px">
  
  <%= thumbnail_tag(connection.subject, :size => @size)  %>
  <%= link_to connection.subject.name, polymorphic_url(connection.subject) %>
  
  <p><%= connection.subject.facts[0..2].collect {|c| render_fact(c)}.join("<br/>") rescue ""%></p>
  
    <%#= render_connection_description(connection) %>

  
  <%= link_to "Edit this connection", edit_polyco_url(connection), :class => "edit_lnk" if authorized_to_edit?(connection)%>
  <%= link_to "x remove", polymorphic_url(connection), :method => :delete, :class => "edit_lnk" if current_user.role == "admin"%>

  <%= clear %>
</div>
