<div id="facts" class="section">
  <h2>Quick Facts</h2>
  <%= render :partial => "/nuniverse/search" , :locals => {:action => facts_url}%>
  <div class="content">
    <div class="step">
      <%= will_paginate @facts unless @facts.empty?%>
      <%= clear %>
    </div>
    <% @nuniverse.facts.each do |fact| -%>
      <%= render :partial => "/facts/instance", :locals => {:instance => fact} %>
    <% end -%>
    <%= clear %>
    <%= render :partial => "/facts/new" %>
  </div>
</div>




