<div id="facts" class="section">
  <h2>Quick Facts</h2>
  <%= render :partial => "/nuniverse/search" , :locals => {:action => facts_url}%>
  <div class="content">
    <div class="step">
      <%= will_paginate @facts unless @facts.empty?%>
      <%= clear %>
    </div>
    <dl>
    <% @nuniverse.facts.each do |fact| -%>
      <%= render :partial => "/facts/instance", :locals => {:instance => fact} %>
    <% end -%>
    </dl>
    <%= clear %>
    
    <%= render :partial => "/facts/new" , :locals => {:parent => @source}%>
    <%= clear %>
    To add a fact, just type it in. Wrap the name of the nuniverses you want to connect with like this: <span style="font-weight:bold">[[Nuniverse Name]]</span> <br/>
    To categorize that fact, start it with <span style="font-weight:bold">Category: my fact</span>
  </div>
</div>




