<div class="step">
  <%= will_paginate @connections unless @connections.empty?%>
  <%= display_options %>
  <%= clear %>
</div>

<%= columnize(render_connections(@connections))%>

<%= clear %>
<%= render :partial => "/images/new" %>