<%= render :partial => "/nuniverses/breadcrumbs", :locals => {:path => @path} %>

<div class="nuniverse">
  <div class="sidebar left">
    <%= left %>
  </div>
  
  <div class="body" id="nuniverse_body">
    <%= body %>
  </div>
  <div class="sidebar right" id="sidebar_right">
    
    <div class="new" style="padding:10px">
      
      <p><i><%#= description %></i></p>
      <% form_tag '/tags/create' do -%>
        <%= hidden_field_tag :kind, "list" %>
        <%= hidden_field_tag :path, @path %>
        <%= hidden_field_tag :restricted, 0 , :class => "restricted"%>
          <h5>This list is about:</h5>
          <%= text_field_tag :content, "" , :style => "width:270px" %>
          <h5>Give a bit more detail (if you feel like it)</h5>
          <%= text_area_tag :description, "" , :style => "width:270px;border:solid 1px #CCC" %>
          <br/>
        <input type="submit" value="Create">
      <% end -%>
    </div>
    
  </div>
</div>