  <div class="step connection <%= cycle('odd','even') %>"  style = "<%= style  rescue '' %>">
        
    <%= thumbnail_tag instance, :size => @size rescue nil %>
    
    <span class="name body">
      <%= link_to instance.name, nuniverse_url(instance) , :title => instance.name, :id => "Nuniverse-#{instance.id}" , :class => "inline"%><%= render :partial => "/taggings/star_rating", :locals => {:item => instance }%>
    </span>
    
    
    <% properties ||= []%>
    
      <% properties.each do |p| -%>
        <p><%= render_fact(instance.property(p).subject) rescue nil %></p>
      <% end -%>
    
    <%= clear %>
    <%= hidden_field_tag :id, instance.id %>
    <%= hidden_field_tag :type, 'Nuniverse'%>
  </div>