<div id="main_menu">
    
    <%#= main_menu_item "digest" %>
    <%#= main_menu_item "nuniverse" %>
    <%#= main_menu_item "bookmark" %>  
    <%#= main_menu_item "image" %>
    <%#= main_menu_item "video" %>
    <%#= main_menu_item "location" %>
    <%#= main_menu_item "story" %>
    <%#= main_menu_item "user" %>
    <%#= main_menu_item "product" %>
 
    <div style="padding:5px;background:#3c9;color:#FFF">
      <%= home_link unless @source == @current_user %>
    </div>

    <div class='tab'><%= link_to "Search this nuniverse", "#", :class => "expand-lnk", :id => "expand_filter_form" %></div>
    <div class='tab'>Share</div>
    <div class='tab'><%= link_to "Edit this nuniverse", "#", :class => "expand-lnk", :id => "expand_connect_form" %></div>
    <div class="tab"><%= link_to "Visit another nuniverse", "#", :class => "expand-lnk", :id => "expand_search_form" %></div>
    <dt style="clear:both">&nbsp;</dt>
    <div class="step "  style="clear:both;float:none;background:#333">
      <%= render :partial => "/nuniverse/search_form"%>
      <%= render :partial => "/#{@klass.downcase.pluralize}/new"  if @source == current_user && @klass %>
      <%= render :partial => "/nuniverse/filter_form" %>
      <%= clear %>
    </div>
   
    <%= render :partial => "/layouts/hat", :locals => {:selected => @selected }%>
    
</div>


<div id="right-column" >

  <%= render :partial => "/nuniverses/information"%>
  

  <div class="step">
    <%= link_to "Search this nuniverse.", "#", :class => "expand-lnk", :id => "expand_filter_form" %>
    <%= render :partial => "/nuniverse/filter_form"%>
  </div>
  <% unless @nuniverse.locations.empty? %>
    <div class="step">
      <%= link_to "Search this nuniverse.", "#content" %>
      <%= render :partial => "/nuniverse/search_form"%>
    </div>
  <% end -%>

  <div class="step">
    <% if @nuniverse.locations.empty? -%>
     
    <% else -%>
      <% @map = map(@nuniverse.locations) %>
       <% if @map -%>
          <% content_for :head do -%>
            <%= GMap.header (:large_map => true, :with_vml => false) %>
            <%= @map.to_html %>
          <% end -%>
          <%= @map.div(:width => "100%", :height => 300, :style=>"position:relative") %>

       <% end -%>
    <% end -%>
   
  </div>
     <% if current_user.role == "admin" %>
     <div class="step" id="admin-board">
        <%= link_to "Destroy that nuniverse", nuniverse_url(@source), :method => :delete %>
      </div>
      <% end -%>
</div>



