<ul id="tab-menu">
  <li class="selected" >--</li>
  <li style="float:right">You are logged in as <%= current_user.login %>. <%= link_to "Logout", "/logout", :style => "color:#eee"%></li>
  <li><%= link_to "Overview", "#overview" %></li>
  <li><%= link_to "Facts", "#facts" %></li>
  <li><%= link_to "Images", "#images" %></li>
  <% if false %>
  <li><%= link_to "Connections", "#nuniverses" %></li>
  <li><%= link_to "Bookmarks", "#bookmarks"%></li>
  
  <li><%= link_to "Users", "#contributors"%></li>
  <li><%= link_to "Comments", "#comments" %></li>
  <li><%= link_to "Map", "#map" %></li>
  <% end -%>
</ul>