<dd  class="nuniverse"  id="<%= nuniverse.unique_name %>">
  <div style="background:<%= Ranking.color(nuniverse.score-1) rescue nil %>;" class="actions">
    <h3  class="score" ><%= pretty_score(nuniverse.score)  unless nuniverse.score.nil? %></h3>
    
  </div>
  <div class="content" style="border-color:<%= Ranking.color(nuniverse.score)  rescue "#FFF"%>">
    <% unless options.nil? %>
      <h3 class="rank" style="font-size:<%= [60 - (options[:rank].to_i*3),20].max %>px;top:0;left:-2%">#<%= options[:rank] %></h3>
    <% end -%>
    <%= link_to(thumbnail_tag(nuniverse, :style => "float:left;"), image_url(nuniverse.avatar)) rescue nil %>
    <p class="tags"><%= nuniverse.tags.collect {|t| t.name.capitalize }.join(', ') %></p>
    <h2><%= wdyto_url(nuniverse, :class => "name") %></h2>
    <%= clear %>
  </div>
  <%= clear %>
</dd>