<dd  class="taste" style="background:#FFF;position:relative;clear:both;float:none;padding:0;margin:0 0 1% 0 ;height:auto" id="<%= nuniverse.unique_name %>">
  <% if !nuniverse.score.nil? %>
  <div style="position:absolute;width:6%;text-align:center;top:0;right:0;padding:0 2% 0 2%;height:100%;background:<%= Ranking.color(nuniverse.score) rescue nil %>;margin:0">
     
       
        <h3  class="score" style="text-align:center" ><%= pretty_score(nuniverse.total_score) %></h3>
     <%= link_to image_tag('/images/backgrounds/blank.gif', :style => "width:30px;height:30px;"), "/save/#{nuniverse.unique_name }", :class => "star #{current_user.connected_to?(nuniverse) ? "saved" : ""}" %>
   </div>
   <% end %>
   <div style="padding:2%;margin:0 10% 0 0">
     <%= link_to(thumbnail_tag(nuniverse, :style => "float:left;border-color:#{Ranking.color(nuniverse.score)}"), image_url(nuniverse.avatar)) rescue nil %>
     <p class="tags" style="color:#666;font-size:0.9em"><%= nuniverse.tags.collect {|t| t.name.capitalize }.join(', ') %></p>

     <h2><%= wdyto_url(nuniverse, :class => "name") %></h2>
     <%= clear %>
    </div>

    <%= clear %>
</dd>