<div id="nuniverses" class="section">
  <h2>Nuniverses related to <%= @source.name %></h2>
 
  <div class="step connection">
    <%= will_paginate @nuniverses unless @nuniverses.empty?%>
    <%= display_options %>
    <%= clear %>
  </div>
  <% @nuniverses.each do |nuniverse| -%>
    <%= render :partial => "/nuniverses/instance", :locals => {:instance => nuniverse}%>
  <% end -%>


<%= clear %>
<%#= render :partial => "/nuniverses/new" %>
</div>