  
  <% path = tag.crumbs.collect {|c| c.id}.join('_') %>

  <div class="content log">
    <h3>The Quest log.</h3>
    <h4>This is what happened lately in this nuniverse</h4>
    <dl class="connections">
      <% @connections.each do |connection| -%>
          <%= render :partial => "/taggings/instance", :locals => {:connection => connection}%>
      <% end -%>

    </dl>
  </div>

  <div class="content explore">
    <h3>Explore</h3>
    <h4>These are the adventures you either created or joined.</h4>
    <dl class="connections">
      <% @connections.each do |adventure| -%>
          <%= render :partial => "/tags/connection", :locals => {:connection => adventure}%>
      <% end -%>
    </dl>
  </div>

  <div class="new content">
    <h3>Add a place</h3>

    <% form_tag '/tags/create' do -%>
      <%= hidden_field_tag :kind, "location" %>
      <%= hidden_field_tag :path, path %>
      <h4>Lorem ipsum quest item form description</h4><p>
      <i>eg:"Spain", "The pyramids", "Fabrizio's restaurant"...</i></p>
      <%= text_field_tag :content, "", :size => 40  %>
      <input type="submit" value="Make it public">
      <input type="submit" value="Make it private" class ="private">
    <% end -%>
  </div>

  <div class="new content">
    <h3>Add a protagonist</h3>

    <% form_tag '/tags/create' do -%>
      <%= hidden_field_tag :kind, "person" %>
      <%= hidden_field_tag :path, path %>
      <h4>Lorem ipsum quest item form description</h4><p>
      <i>eg:"Albert Einstein", "John Doe", "Batman"...</i></p>
      <%= text_field_tag :content, "", :size => 40  %>
      <input type="submit" value="Make it public">
      <input type="submit" value="Make it private" class ="private">
    <% end -%>
  </div>


  <div class="new content">
    <h3>Add a quest item</h3>

    <% form_tag '/tags/create' do -%>
      <%= hidden_field_tag :kind, "item" %>
      <%= hidden_field_tag :path, path %>
      <h4>Lorem ipsum quest item form description</h4><p>
      <i>eg:"Led zeppelin IV", "Sunglasses", "swiss army knife"...</i></p>
      <%= text_field_tag :content, "", :size => 40  %>
      <input type="submit" value="Make it public">
      <input type="submit" value="Make it private" class ="private">
    <% end -%>
  </div>

  <div class="new content">
    <h3>In order to complete this quest, you need to</h3>
    <p><i>eg:"Eat", "Sleep", "Make a move"...</i></p>

    <% form_tag '/tags/create' do -%>
      <%= hidden_field_tag :kind, "quest" %>
      <%= hidden_field_tag :path, path %>
      
      <%= text_field_tag :content, "", :size => 40  %>
      <input type="submit" value="Make it public">
      <input type="submit" value="Make it private" class ="private">
    <% end -%>
  </div>