  <% personal_vote = source.votes.by(current_user).first -%>
  
  <div id="scorecard"  class="box" style="background:#000;height:130px;" class="<%= personal_vote ? 'voted' : '' %>">
   <ul id="votes">
     <% source.stats.each_with_index do |stat,i| %>
        <li id="stat_<%= i %>"></li>
     <% end -%>
    </ul>
    <div id="score_tag" style="text-align:center;position:absolute;top:0;right:20px;padding:1% 1% 1% 1%;width:100px" class="<%= personal_vote ? 'voted' : '' %>">
      <% if source.votes.count > 0 %>
        <h2 id="score" class="score_<%= source.score.round.to_i%>"><%= sprintf('%.1f',source.score) %></h2>
          <% if personal_vote %>
            <h3 class="status" style="background:none;color:#FFF">
              Your rate: <span class="score_<%= personal_vote.score.round %>"><%= personal_vote.score.round %></span>
            </h3>
          <% else -%>
            <h3 class="status">You haven't voted yet.</h3>
          <% end %>
      <% else %>
        <h2 id="score"></h2>
        <h3 class="status"><%= source.name %> hasn't been rated yet.</h3>
      <% end -%>
      <%= link_to "Change your mind", "#", :class => "toggle-lnk", :target => "#rate-picker", :id => "change-your-mind-lnk" %>
    </div>

 
  
    <div id="rate-picker" style="padding:2%">
      
       <h4>What's your rate?</h4>
        <% 10.times do |t|%>
           <%= link_to t+1, "/rate/#{@source.unique_name}/#{t+1}" , :class => "rate-lnk score_#{t+1}" %>
         <% end -%>
     </div>
     
       
 
 </div>