<dd  class="taste" style="background:#FFF;position:relative;clear:both;float:none;padding:0;margin:0 0 1% 0 ;height:auto">

  <div style="position:absolute;width:6%;text-align:center;top:0;right:0;padding:0%;height:100%;margin:0">
     <h3  class="score" style="text-align:center" ></h3>
     <%= link_to image_tag('/images/backgrounds/blank.gif', :style => "width:30px;height:30px;"), "/save/" %>
  </div>
 
  <div style="padding:2%;margin:0 10% 0 0">
    <%= link_to(image_tag("",  :class => "thumbnail"), "") rescue nil %>
    <p class="tags" style="color:#666;font-size:0.9em">
      
    </p>
    <h2><%= link_to "", "" %></h2>
    <%= clear %>
  </div>
  <%= clear %>
</dd>