<% nuniverse do -%>
  <div id="left-col" style="width:60%">
    <h1>Nuniverses matching <%= @input %></h1>
    <%= will_paginate @nuniverses %>
    <dl id="nuniverses">
    <% @nuniverses.each do |nuniverse| -%>
      <dd class="connection" style="">
        <%= thumbnail_tag nuniverse -%>
        <%= wdyto_url(nuniverse)  %>
        <p style="font-size:12px;color:#999"><%= nuniverse.tags.collect{|c| c.name }.join(',')%></p>
        <%= clear %>
      </dd>
    <% end -%>
    </dl>
  </div>
  
  <div id="right-col" style="width:35%;background:#000;padding:2%">
    <h2 style="color:#FFF">What you're looking for doesn't have its nuniverse yet?</h2>
    <%= render :partial => "/nuniverses/new" %>
  </div>

 
  

<% end %>