<% nuniverse do -%>

  <h1>Nuniverses matching <%= @input %></h1>
  <%= will_paginate @nuniverses %>
  <div style="width:2000px">
  <% @nuniverses.each do |nuniverse| -%>
    <div class="connection" style="white-space:wrap;position:relative;float:left;width:auto;clear:none;background:#eee;margin:0 1px 1px 0">
    <%= thumbnail_tag nuniverse -%>
    <%= link_to nuniverse.name, nuniverse  %>
    <p style="font-size:12px;color:#999"><%= nuniverse.tags.collect{|c| c.name }.join(',')%></p>
    </div>
  <% end -%>
  </div>
 
<% end %>