<%= render :partial => "/nuniverses/toolbar" %>
<% nuniverse do -%>
  <div id="grid">
    
    <div class="col" id="col_1">
      <%= render :partial => "hat" , :locals => {:path => @path }%>
      <%= render :partial => "media"%>
    </div>
    
    <div class="col" id="col_2">
      <div class="box" id="facts" style="background:#FFF;height:150px;overflow:hidden;padding:3% 2% 2% 2%"> 
         <dl style="padding:0">
          <%  @facts.paginate(:page => 1, :per_page => 6).each do |fact| %>
            <%= render :partial => fact.subject, :locals => {:tags => fact.tags}%>
          <% end -%>
        </dl>
      </div>
      <%= render :partial => "/nuniverses/connections", :locals => {:source => @source, :path => @path, :connections => @connections }%>
    </div>
    
    <div class="col" id="col_3">
      <%= render :partial => "/nuniverses/scorecard", :locals => {:source => @source, :path => @path}%>
      <%= render :partial => "comments"%>
      <%= clear %>
    </div>
  </div>
  
<% end -%>