<div class="section nuniverse-section" id="S-Nuniverse-<%= @source.id %>" >
 
  <div class="content" style="padding:0">
 
   <div class="step">
      
      <%= image_tag(@source.images.first.public_filename(:large), :style => "position:relative;float:left;border:solid 1px #666") rescue nil %>
      <%= clear %>
    </div>
    <h2><%= @nuniverse.name.titleize  %></h2>
      <% unless @nuniverse.videos.empty? %>
        <div class="step connection">
        <%= link_to "Videos", "/videos-for/#{@source.unique_name}" , :id => "Videos-for-#{@source.unique_name}"%>
        </div>
      <% end -%>
      <% @nuniverse.connections.of_klass('Fact').each do |connection| -%>
        <div class="step connection">
          <%= render_fact(connection.subject)%>
        </div>
      <% end -%>
      
      
    </div>
    
    <div class="step connection">
      <%= link_to image_tag("/images/icons/create_button.png"), "/facts/new", :id => "add-fact" %>
    </div>
</div>