<% @suggestions.each do |suggestion| -%>
  <dd class='suggestion <%= cycle('even','odd') %>' >
    <div class="hidden unique-id"><%= suggestion.id %></div>
    <%= thumbnail_tag suggestion, :style => "width:30px;height:30px" %>
    <%= link_to "#{suggestion.name}", "/#{suggestion.unique_name}" , :id => "#{suggestion.type}-#{suggestion.id}"%>   
    <%= clear %>
  </dd>
<% end -%>