<%= render :partial => "toolbar" %>
<%= render :partial => "/nuniverse/main_menu"%>
<% nuniverse do -%>
<div id="wdyto">
  <div id="rightcol" style="position:relative;float:right;margin:0 0 0 0;width:25%">
    <%= render :partial => "media", :locals => {:source => @source} %>
    <%= render :partial => "stats", :locals =>  {:source => @source} %>
  </div>

  <div id="centercol" style="position:relative;float:left;width:74.5%;margin:0 auto">
    <%= render :partial => "card", :locals => {:source => @source} %>
    <div class="box" style="width:24.5%;margin:0">
        <%= render :partial => "scorecard", :locals => {:source => @source, :current_user_vote => @current_user_vote } %>
    </div>
    <div id="reviews" style="clear:left">
    <%= will_paginate @votes %>
    <% @votes.each_with_index do |vote, i| -%>
      <%= render :partial => vote %>
    <% end -%>
   </div>
   <dl id="pros" style="display:none">
     <% @prosandcons.each do |f| %>
       <%= render :partial => f %>
     <% end -%>
   </dl>
   <div id="cons" style="display:none">
   </div>
   <div id="media" style="display:none" >
    <% @source.images.each_with_index do |img, i| %>
      <% content_for "col_#{i%2}" do %>
        <%=  image_tag(img.public_filename(), :style => "width:100%")%>
      <% end -%>
    <% end -%>
      <div class='column' style="width:49.5%"><%= yield :col_0 %></div>
      <div class='column' style="width:50%;margin:0"><%= yield :col_1 %></div>
      
   </div>
   <dl id="bookmarks" style="display:none;clear:both" >
     <% @source.bookmarks.each do |b| %>
       <dd style="background:#FFF;padding:2%;"><h4 style="font-size:1.2em;"><%= link_to b.name, b.url, :target => "_blank" %></h4></dd> 
     <% end -%>
   </dl>
   <dl id="connections" style="display:none">
     <% @connections.each do |conn| %>
     <%= render :partial => conn %>
     <% end %>
     <%= link_to "Add a connection", "/connect", :class => "input-lnk" %>
   </dl>
    
   
  </div>


  

</div>
<% end -%>

