<div class="connection <%= connection.kind %>_connection"> 
  <%= render_tag(connection)%>
  <div class="preview">
    <%= add_to_fav_link(connection) %>
    <%= render_preview(connection) %>

    <%= hidden_field_tag :input, connection.label %>
    <%= hidden_field_tag :url, connection.url %>
    <%= hidden_field_tag :kind, connection.kind %>
    <%= hidden_field_tag :description, connection.description %>
    <%= hidden_field_tag :data, connection.data %>
  </div>
  <div class='delimiter'>&nbsp;</div>
</div>