<% if reverse
    tag = connection.subject
    path = TaggingPath.new
  else 
    tag = connection.object 
    path = connection.path
  end -%>

<dd class="connection <%= cycle('even', 'odd') %>"> 
    <div class="avatar"><%= avatar_for(tag) %></div>
    <h3><%= tag.kind %>: 
      <%= link_to(tag.label, "/section/#{connection.path}", :class =>"main inner") %>
    </h3>
      <p><%= connection.description %></p>
    </div>
    
    
</dd>