

    <% kinds =  ['address','album','date','show','image','animal','painting','list', 'nuniverse','vehicle','video','person','character','location','country','city','restaurant','museum','group','band','company','bookmark', 'recipe', 'ingredient', 'comment','review', 'pro', 'con', 'film', 'event', 'todo'].sort {|a,b| a <=> b} %>
   
   
    <div id="suggestion_box"  class="popup_box hidden" src ="/tags/suggest">
      <%= spinner %>
      <div class="wrap suggestions" style="padding:40px">
      </div>
      <div class="footer">&nbsp;</div>
    </div>


 
<div class="form_box inline hidden"  id="select_tag_form" > 
  <div class="wrap" style=" height:100px;" >
    <% form_tag "/tags/connect" do -%>
      <fieldset style="width:100%">
        <h2>Adding  <span class="kind"></span>: <span class="name"></span></h2>
        <div class="step" style="height:auto;padding:0 0 10px 0;">
          <label>1. What do you want to add?</label>
          <p></p>
          <%= text_field_tag "input", "", :class => 'input', :style => "width:80%", :autocomplete => "off" %>
        </div>
  <div class="step" style="clear:both;margin: 0 0 10px 0">
    
    <label>2. Name it</label>
    <% kinds.each do |k| -%>
       <%= link_to(k.capitalize,'next', :class => 'trigger kind') %>
     <% end -%>
    
    
  </div>
  <div class="step" >
    
    <label>3. Tag it (optional)</label>
    <p style="color:#666;padding:3px">How would you like to connect this item to nguma? (Separate with commas if more than one tag.) </p>
    <%= text_area_tag "tags", "", :style => "width:90%;background:#FFF;display:block;border:none" %>
    
  </div>

      <div class="data"></div>
      <%= hidden_field_tag "nuniverse", @tag.id %>
      <%= hidden_field_tag "kind", "", :class => 'kind' %>
   
      </fieldset>
    <% end -%>
    <%= link_to image_tag("/images/icons/cancel_btn.png"), "#", :title => "Cancel", :class =>"cancel_btn"%>
   
  </div>
  
  

</div>

<!-- <div class="form_box inline hidden" id="select_tag_form" style="padding:10px;;margin:10px">
  <div class="wrap">
    <div class="phase" id="phase_1">
      <h1>What do you want to add?</h1>
      <% form_tag "/tags/connect" do -%>
        <fieldset style="padding:0;margin:0">
          <div class="data hidden"></div>
          <%= text_field_tag "input", "", :class => "input", :style => "width:480px", :autocomplete => "off"%>
        </fieldset>
      <% end -%>
    </div>
    <div class="phase" id="phase_2">
      <p>You are about to add</p>
      <h2></h2>
      <p>Connect it to <% %> as:</p>
      <%= text_area_tag "tags", "",  :style => "width:480px", :autocomplete => "off" %>
    </div>
      <div class="content suggestions" style="margin:0 0 20px 0;padding:0;position:relative;float:none;left:0;clear:both" src="/tags/suggest">
      </div>
  </div>
</div> -->