  <% if subject.has_address? %>
  <!-- <div class="mini_map" style="float:right; width:200px;height:200px;border:solid 1px #999"> -->
    <%#= map_from_google(
    :location => subject,
    :path => path
    )%>
  <!-- </div> -->
  <% end -%>
  <%= image_tag(subject.image) %> 
  <h1><%= subject.label %></h1>
  <p>
    <strong><%= subject.kind.capitalize %></strong>
  <% if subject.description.blank? -%>
    <%= link_to("Add your own description","") %> or <%= link_to ("Try to find a description on Freebase", "") %>
  <% end -%>
  <%= h subject.details %></p>
  <%#= render :partial => '/avatars/new', :path => path %>
