<%= breadcrumbs %>
<div id="digest" style="padding:60px">
  <div style="position:relative;padding:10px;width:280px;background:#eee;margin:0 1px 1px 0;float:left" id="images">
  <%= thumbnail_tag @tag, :mode => "image", :class => "xlarge" %>
  
</div>



<div style="position:relative;margin:0 0 0 300px;">
  
  <div style="position:relative;display:block">
  <div style="position:relative;width:auto;padding:20px;background:#ccc;color:#FFF;">
    <h2>You are visiting the nuniverse of <%= @tag.label.capitalize %></h2>
    <%= @tag.description %>
  </div>
  <div style="display:block">  </div>
  <% @nuniverses.each do |conn| -%>
  <div class="connection <%= conn.subject.kind %>_connection">
     <%= render_connection_description(conn) %>
   </div>
  <% end -%>

 </div>
</div>
</div>