<dl class="set <%= @mode %>" style="width:100%;z-index:1" id="collection-<%= @tag.id %>">

  <% if @connections.previous_page %>

      <%= link_to(image_tag("/images/icons/arrow_less.png"), tag_url(@tag,:page => @connections.previous_page), :class => "pager tile", :style => "border:none;text-align:right") %>
    
  <% end -%>
  <% @connections.each  do |n| -%>
    <% n = n.subject if n.is_a?(Polyco)%>
    <dd class="tile">
      <%= image_tag(n.avatar(:large)) rescue nil %>
      <p ><span class="title"><%= n.name rescue n.body %></span></p>
      <div class="data hidden">
        <%= hidden_field_tag :namespace_id, n.id %>
        <%= hidden_field_tag :namespace_type, n.class.to_s %>
      </div>
    </dd>
  <% end -%>
  <% if @connections.next_page %>

      <%= link_to(image_tag("/images/icons/arrow_more.png"), tag_url(@tag,:page => @connections.next_page), :class => "pager tile", :style => "border:none")%>
  
  <% end -%>
</dl>

