<dd class="connection <%= tag.kind %>_kind <%= cycle('even','odd') %>">
    <span class="avatar"><%= avatar_for(tag) %></span>
    <span class="kind"><%= tag.kind %></span><br/>
    <span class="content"><%= link_to_nuniverse(tag) %></span>
</dd>