<%  menu_window(:title => "tag", :action => "/tags/connect" ) do -%>
    <%= hidden_field_tag "kind", "" , :class => "kind" -%>
    <div id="step_1" class="step current">
      
      <h2>1. You want to <%= link_to("","#step_1", :class => "trigger selected_option") %></h2>
      <div class="content">
        <p>Select from this list what is the most appropriate.</p>
        <%= render :partial => "/application/form_option", :locals => {
            :url => "#step_2#option_person", 
            :title => "Add a person", 
            :image => "person", 
            :description => "or a character" } %>
        <%= render :partial => "/application/form_option", :locals => {
            :url => "#step_2#option_location", 
            :title => "Add a location", 
            :image => "location", 
            :description => "" } %>
        <%= render :partial => "/application/form_option", :locals => {
            :url => "#step_2#option_bookmark", 
            :title => "Bookmark a web page", 
            :image => "bookmark", 
            :description => "" } %>
       <%= render :partial => "/application/form_option", :locals => {
            :url => "#step_2#option_nuniverse", 
            :title => "Add a custom nuniverse", 
            :image => "small_nuniverse", 
            :description => "" } %>
        <%= render :partial => "/application/form_option", :locals => {
            :url => "#step_2#option_image", 
            :title => "Add an image", 
            :image => "image", 
            :description => "" } %>
        <%= render :partial => "/application/form_option", :locals => {
            :url => "#step_2#option_comment", 
            :title => "Make a comment", 
            :image => "comment", 
            :description => "Comment, review or to do, this is the place." } %>
      </div>
    </div>
    <div class="step" id="step_2">
      <%= render :partial => "/nuniverse/nuniverse_form", :locals => {}%>
      <%= render :partial => "/nuniverse/bookmark_form" %>
      <%= render :partial => "/nuniverse/text_form" %>
      <%= render :partial => "/nuniverse/image_form" %>
      <%= render :partial => "/nuniverse/location_form" %>
    </div>
    <div id="step_3" class="step">
      <h2>3. Tag it! <span class="selected_option"></span></h2>
      <div class="content">
            <%= render :partial => "/nuniverse/tag_cloud" %>
        <%= text_area_tag "tags", ""%>
        <%= link_to "submit.", "#", :class => "trigger"%>
      </div>    
    </div>
<% end -%>
