<div class="box" id="profile">
  <% if tag.kind.nil? -%>
    <%= kind_options(@tagging)%>
  <% else -%>
  This is a <%= tag.kind %>
  <% unless tag.kind == "list" -%>
    <h2>Public Profile</h2>
    
    <%= property(tag.description)%>
  <% else -%>
  
  <% end -%>
  <% end -%>
  
   <% if avatar_for(tag) %>
      <%= avatar_for(tag) %>
    <% end -%>
    <%= link_to 'Edit', edit_tag_path(tag) %>
    <%= link_to 'Delete', @tagging, :confirm => 'Are you sure?', :method => :delete %>
</div>