<div class="box" id="profile">
  <span class="kind"><%= tag.kind %></span>
  <h2><%= tag.label %></h2>
  <% if tag.kind.nil? -%>
    <%= kind_options(@tagging)%>
  <% else -%>
  
  <% unless tag.kind == "list" -%>
    
    <p>
      <%= tag.property('address')%><br/>
      <%= tag.property('tel')%>
    </p>
    <%= property(tag.description)%>
    
  <% else -%>
  
  <% end -%>
  <% end -%>
  

    <%= link_to 'Edit', edit_tagging_path(@tagging) %>
    <%= link_to 'Delete', @tagging, :confirm => 'Are you sure?', :method => :delete %>
</div>