<div class="new">
  <%= render_item(@connection, :kind => @kind) %>
  <div class="content">
    <div  style="font-size:15px;color:#999">
      <label>This item has been tagged</label>
      <% @connection.tags.each do |cat| -%> 
        <%= link_to (cat.predicate, "#{cat.predicate}" ,:style => "font-size:#{([cat.counted.to_i+11,18].min)}px;color:#999;margin:0 3px 0 0") %>
      <% end -%>
      <label>Tag it!</label>
      <%= text_field_tag "tags", "" , :class => "input" %>
      <%= hidden_field_tag :object, @tag %>
      <%= link_to "Save", "/tags/update/#{@tagging.subject.id}", :class => "trigger" %>
    </div>
  </div>
</div>
