<div style="padding:40px">
  <h1><%= @tag.label %></h1>
  <h4>These tags are public. Meaning there are not associated with any particular context but <%= @tag.label.capitalize %> itself.</h4>

  <% form_tag "/tags/update/#{@tag.id}" do -%>
    <%= text_area_tag "tags", @tag.tags.join(',') %><br/>
    <%= submit_tag %>
    <%= link_to image_tag("/images/icons/cancel_btn.png"), visit_url(@tag, current_user.tag) %>
  <% end %>
</div>