<h1>Editing tag</h1>

<%= error_messages_for :tag %>

<% form_for(@tag) do |f| %>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<% form_for :avatar, @tag.avatar, :url => tag_avatar_path(@tag), :html => {:multipart => true} do |f| %>
  <%= f.file_field :uploaded_data %>
  <%= f.submit "Upload" %>
<% end %>

<%= link_to 'Show', @tag %> |
<%= link_to 'Back', tags_path %>
