<% items = google_localize(:source => @input.blank? ? @source.label : @input)%>


<% items[0..5].each do |item| -%>
  <div class="connection">
    <h3>
      <%= link_to(item.label, "#") %>
    </h3>
    <p><%= item.property('address') %> <%= item.property('tel') %></p>
    <div class="data" style="display:none">
      <%= hidden_field_tag "kind", "address" %>
      <%= hidden_field_tag "data", item.data %>
      <%= hidden_field_tag "label", item.property('address') %>
    </div>
  </div>
<% end -%>
<div class='delimiter'>&nbsp;</div>
<%= image_tag("/images/icons/powered_by_google.gif", :style => "position:relative")%>