<% ebay("led ep").each do |item| %>
  <dd><a href="#"><%= item.label %></a></dd>
<% end -%>

<div class="nuniverse">
  <div id="breadcrumbs">
      <%= link_to(image_tag("/images/icons/icon_nuniverse.png", :alt => "nuniverse.net"),"/", :class => "home") %>
  </div>
  <div class="content">
    <dl class="items">
        <dt>Browse By</dt>
        <dd class="item"><%= link_to("Topics", "/nuniverse/topics") %></dd>
        <dd class="item"><%= link_to("People", "/nuniverse/person") %></dd>
        <dd class="item"><%= link_to("Places", "/nuniverse/location") %></dd>
        <dd class="item"><%= link_to("Products", "/nuniverse/product") %></dd>
        <dd class="item"><%= link_to("Comments", "/nuniverse/comment") %></dd>
        <dd class="item"><%= link_to("Pros & Cons", "/nuniverse/pro") %></dd>
    </dl>
    
    <div class="detail">
      <div class="items">

        <% for tag in @tags %>
           <%= render :partial => "instance", :locals => {:tag => tag}%>
        <% end %>
      </div>
    </div>
  </div>
  
  <%= link_to 'New tag', new_tag_path %>
</div>