<% if @items %>
  <%= will_paginate(@items) %>

  <% @items.each do |info| -%>
    <%= render_item(info, :kind => info.kind)%>
  <% end -%>
<% else -%>
  <p><%= @tag.description %></p>
  <p><%= @tag.url %></p>
  <% if !@tag.property('price').blank? -%>
    <p><%= link_to "Buy it on #{@tag.service} for #{@tag.property('price')}", @tag.url %></p>
  <% end -%>
<% end -%>