<%= render :partial => "/tags/new"  %>

<%= perspectives %>
<% nuniverse(:selected => "My nuniverse") do -%>

  <%= will_paginate @items  unless @perspective.kind == "service"%>
  <div class="delimiter" style="clear:both">&nbsp;</div>
  <%= columnize(boxes_for(@items)) %>
  <% content_for :nav do -%>
    <%= render :partial => "/nuniverse/search_box"%>
  <% end -%>
 
<% end -%>
