<% nuniverse(:selected => "My nuniverse") do -%>

  <div class="column small" id="left-column">
    <%= image_box%>
    <%= tag_box(:source => @tag) %>
  </div>
  <div class="column large">
    
    <%= columnize(tag_content) %>
  </div>
  
  
  <% content_for :nav do -%>
    <%= perspectives(:source => @tag) %>
    <%= new_list_button if service_is_nuniverse? %>
    <%= command_box("Search","search") %>
  <% end -%>
 
<% end -%>
