<%#= render :partial => "/users/groups" %>
<%= render :partial => "/boxes/preview" %>
<% nuniverse(:selected => "My nuniverse") do -%>
  <div id="content" class="<%= @mode %>_mode" style="clear:none;height:auto;">
  <% if @items.empty? -%>
    <h3>This nuniverse is empty for now.</h3>
    <h3>Would you like to connect something to <%= @tag.label %> ?</h3>
  
  <% else -%>
    <%= render :partial => "/tags/page", :locals => {:items => @items }%>
  <% end -%>
  <% content_for :nav do -%>  
    <%= render :partial => "/nuniverse/new" %> 
  <% end -%>

   
   <% content_for :right_col do -%>
     
     <%= search_box %>
     <%= sorting_options :source => @tag  %>
     <%= display_options %>
     <%= render :partial => "/nuniverse/tag_cloud" %>
     <%= perspectives %>
   <% end -%>
   </div>
  
   
   
  
  
<%= image_tag("/images/icons/ajax-loader.gif", :alt => "loading... please wait", :style => "padding:10px", :id => "main_spinner", :class => "spinner hidden") %>
  
<% end -%>
