<div class="nuniverse">
  <div id="breadcrumbs">
      <%= link_to(image_tag("/images/icons/icon_nuniverse.png", :alt => "nuniverse.net"),"/", :class => "home") %>
      <h1><%= @tag.content %></h1>
  </div>
  <div class="content">
    <dl class="items">
        <dt>Browse By</dt>
        <dd class="item"><%= link_to("Topics", "/nuniverse_of/#{@tag.id}/topic") %></dd>
        <dd class="item"><%= link_to("People", "/nuniverse_of/#{@tag.id}/person") %></dd>
        <dd class="item"><%= link_to("Places", "/nuniverse_of/#{@tag.id}/location") %></dd>
        <dd class="item"><%= link_to("Products", "/nuniverse_of/#{@tag.id}/product") %></dd>
        <dd class="item"><%= link_to("Comments", "/nuniverse_of/#{@tag.id}/comment") %></dd>
        <dd class="item"><%= link_to("Pros & Cons", "/nuniverse_of/#{@tag.id}/pro") %></dd>
        <dt><%= @tag.content %> according to </dt>
        <dd class="item">Google</dd>
        <dd class="item">Ebay</dd>
        <dd class="item">Amazon</dd>
    </dl>
    <div class="detail">
      <dl class="items">
      <% @taggeds.each do |tag| -%>
        <dd class="item"><%= link_to(tag.content, tag) %></dd>
      <% end -%>
      </dl>
      <%= render :partial => "new", :locals => {:kind => @filter  } unless @filter.nil? %>
    </div>
  </div>
</div>

<%= link_to 'Edit', edit_tag_path(@tag) %> |
<%= link_to 'Back', tags_path %>