<% nuniverse(:selected => "My nuniverse") do -%>
  <%= breadcrumbs_for(@tag) %>
  <div class="hat">
    <%= title_for(@tag)%>
  </div>
  <div id="nav">
    <%= perspectives(:source => @tag) %>
    <% if service_is_nuniverse? -%>
      <%= new_list_button %>
    <% end -%>
  </div>
  <div id="content">
    <div class="column large">
      <%= lists_for(@tag) %>
      <%= bookmarks_box(:source => @tag) %>
      <%#= comments_box(:source => @tag) %>
    </div>
  </div>
  <%= input(:source => @tag)%>
<% end -%>
