<%#= render :partial => "/users/groups" %>
<%= render :partial => "/boxes/preview" %>
<% nuniverse(:selected => "My nuniverse") do -%>
  <div id="content" class="<%= @mode %>_mode">
 
   <% if @kind == 'digest' -%>
    <%= render :partial => "/tags/digest", :locals => {:items => @items }%>
   <% else -%>
    <%= render :partial => "/tags/page", :locals => {:items => @items }%>
   <% end -%>
  
     

   </div>
  <%= display_options %>
  
  
<% end -%>
