<%#= render :partial => "/users/groups" %>
<%= render :partial => "/boxes/preview" %>
<% if @kind == 'digest' -%>
  <%= render :partial => "/tags/digest", :locals => {:items => @items }%>
<% else -%>
  <% nuniverse(:selected => "My nuniverse") do -%>
    <%= render :partial => "/tags/submenu"%>
    <div id="content" class="<%= @mode %>_mode <%= @kind %>_kind">
      <%= render :partial => "/tags/page", :locals => {:items => @items }%>
    </div>
    <%= display_options %>
  <% end -%>
<% end -%>
