<div style="padding:5px;width:100%">
  <% if @suggestions.empty? && !@input.blank? -%>
    <label>Nothing has been found.</label>
  <% else -%>
    <label>Select from our suggestions</label>
    <div class="delimiter">&nbsp;</div>
    <% @suggestions.each do |suggestion| %>
      <div class="suggestion <%= cycle('even','odd') %>">
        <div style="position:relative;float:right;width:100px;top:10px;right:-40px">
         <%= link_to image_tag("/images/icons/connect.png"), konnect_url(suggestion.id, @tag.id), :title => "connect with this nuniverse", :class => "trigger", :mode => "connect" %>
         </div>
        <%= thumbnail_tag(suggestion) -%>
        <p class="kinds"><%= suggestion.tags[0..2].join(', ') %></p>
        <%= link_to suggestion.label, visit_url(suggestion.id, current_user), :class => "title" %>
 
        <div class="delimiter">&nbsp;</div>
      </div>
       
    <% end -%>
   
    <label style="clear:both">None of the above are what you're looking for? create it:</label>
  <% end -%>
  
  <div class="connection" style="clear:both;width:auto">
    <h3>
      <%= link_to("Create #{@input}", "/tags/new?input=#{@input}", :class => "trigger ", :mode => "create") %>
    </h3>
  </div>
  <div class="delimiter">&nbsp;</div>
</div>
