
  <% if @suggestions.empty? && !@input.blank? -%>
    <label>Nothing has been found.</label>
  <% else -%>
    <label>Select from our suggestions</label>
    
    <% @suggestions.each do |suggestion| %>
      <div class="suggestion <%= cycle('even','odd') %>">

        <%= thumbnail_tag(suggestion) -%>
        <div style="width:auto;position:relative;float:left;margin-right:10px">
        <p class="kinds"><%= suggestion.tags[0..2].join(', ') %></p>
        <%= link_to suggestion.label, visit_url(suggestion.id, current_user), :class => "title" %>
        </div>
        <div style="position:relative;float:left;width:100px;top:5px;">
         <%= link_to image_tag("/images/icons/connect.png", :style =>"width:30px"), konnect_url(suggestion.id, @tag.id), :title => "connect with this nuniverse", :class => "trigger", :mode => "connect" %>
         </div>
        <div class="delimiter">&nbsp;</div>
      </div>
       
    <% end -%>
   
    <label style="clear:both">None of the above are what you're looking for? create it:</label>
  <% end -%>
  <h3><%= link_to("Create #{@input}", "/tags/new?input=#{@input}", :class => "trigger ", :mode => "create") %></h3>
