<% if @tags.empty? && !@input.blank? -%>
  <label>Nothing has been found.</label>

<% else -%>
  <% @tags.each do |tag| -%>
    <div  class="connection">  
      <%= link_to("#{thumbnail_tag(tag, :kind => tag.kind)}","#") %>
      <p><%= tag.kind %></p>
      <h3>
        <%= link_to("<span style='font-weight:bold'>#{tag.label}</span>", "") %>
      </h3>
      
      <div class="data"  style="display:none">
        <%= hidden_field_tag "kind", @kind.blank? ? tag.kind : @kind %>
        <%= hidden_field_tag "id", tag.id %>
      </div>
    </div>
  <% end -%>
<% end -%>
<div class = "connection">
  <h3>
    <%= link_to("Add this #{@kind}!", "#")%>
  </h3>
  <div class="data">
    <%= hidden_field_tag "kind", @kind %>
    <%= hidden_field_tag "label", @input %>
  </div>
</div>
