<%#= add_to_fav_link(connection) %>
<dl>
  <dd style="background:none;padding:3px;margin:0 0 1px 0">
  <p style="font-size:12px"><%= link_to note.user.login.capitalize, visit_url(note.user.tag_id, current_user.login) %> said</p>
  <h3><i>"<%= note.body %>"</i></h3>
  </dd>
  <% note.replies.each do |reply| -%>
  <dd style="background:#efefef;padding:3px;margin:0 0 1px 0">
   
    <p ><strong><i>"<%= reply.body %>"</i></strong> -  <span style="font-size:12px"><%= link_to reply.user.login.capitalize, visit_url(note.user.tag_id, current_user.login) %></span></p>
  </dd>
  <% end -%>
  <br/>
  
 
</dl>
<h3>Post a reply</h3>
 <%= text_area_tag "body" %>
 <%= hidden_field_tag :subject, note.id %>
 <%= hidden_field_tag :kind, "reply" %>
 <%= link_to(image_tag("/images/icons/add_button.png"), "/comments/create", :class => "trigger")%>