  <div class="subject">
    <%= render_tag connection.subject %>
    <div class="delimiter"> </div>
  </div>
    <p><%= connection.subject.description %></p>
  
  <h5>How are <%= connection.subject.label %> and <%= connection.object.label %> related?</h5>
  <p><%= render_connection_description(connection) %><%= link_to "Edit", edit_connection_url(connection)%></p>
 

  <h5>Connected to <%= connection.subject.label %></h5>
  <% @nuniverses.each do |connection| -%>
  <div style="margin:5px 0 1px 0;display:block;clear:left;position:relative;">
    <span style="background:#FFF;color:#666;padding:2px;font-size:14px"><%= connection.subject.tags.first %></span>
    <span style="font-size:14px;line-height:16px;padding:2px;background:#369;color:#FFF;"><%= link_to_item(connection.subject) %></span>
  </div>
    
  <% end -%>
  <h5>These people also connected to <%= @connection.subject.label %></h5>
  <% @users.each do |user| -%>
   <div style="margin:5px 0 1px 0;display:block;clear:left;position:relative;">
     
     <span style="font-size:14px;color:#666;line-height:16px"><%= link_to_item(user) %></span>
   </div>
  <% end -%>
  
  <%#= add_to_fav_link(@connection) %>
  <%#= link_to image_tag("/images/icons/comment_lnk.png"), "/comments/new", :class => "trigger comment_lnk" %>
 


<%#= link_to "Google", visit_url(connection.subject.id,"google") , :style => "color:#666" %> | 
<%#= link_to "Amazon", visit_url(connection.object.id,"amazon"), :style => "color:#666"%> | 
<%#= link_to "Youtube", visit_url(connection.subject.id,"youtube"), :style => "color:#666"%> | 
<%#= link_to "Twitter", visit_url(connection.object.id,"twitter"), :style => "color:#666"%>
