<dl class="connections">
<% connections.each do |item| %>
  <dd class="connection <%= cycle('even','odd') %>">
    <div class="manage">
      <%= link_to(image_tag("/images/icons/plus.png"),"#",:title => "Bookmark") %>
    </div>
    <% unless item.thumbnail.nil? -%>
     <%= link_to(image_tag(item.thumbnail),"#",:class => 'avatar') %>
    <% end -%>
    <h3>
      <a href="#"><%= link_to(item.title[0..100].capitalize,item.url) %></a>

    </h3>
      <p>$<%= item.amount.to_i %></p>

  </dd>
<% end -%>
</dl>