<dl class="connections">
  <dt><%= link_to(path.last_tag.content.capitalize,"#") %></dt>
  <% if @connections.previous_page -%>
    <dd class="pager top"><%= link_to("less", "/nuniverse_of/#{path}/page/#{@connections.previous_page}") %></dd>
  <% end -%>
  <% @connections.each do |connection| -%>
  <dd class="connection <%= cycle('even', 'odd') %>">
    <%= avatar_for(connection.object) %>
    <h3><%= link_to_nuniverse(connection.object, :path => @path) %></h3>
    <div class="manage">
      <%= link_to "edit", "/tags/#{connection.object.id}/edit"%>
    </div>
    <div class="path hidden"><%= "#{connection.path}#{connection.object.id}" %></div>
  </dd>
  <% end -%>
  <% if @connections.next_page -%>
    <dd class="pager bottom"><%= link_to("more", "/nuniverse_of/#{path}/page/#{@connections.next_page}") %></dd>
  <% end -%>
</dl>