<dd class="connection <%= cycle('even', 'odd') %>">
  <%= render :partial => "/taggings/manage", :locals => {:connection => connection, :path => path, :data => ""} %>
  <%= avatar_for(connection.object) %>

  <h3>
    <%= link_to_object(connection.object, :path => "#{path}#{connection.object.id}")%>
    <% if connection.object.service -%>
      <span class="source">@ <%= connection.object.service %></span>
    <% end -%>
  </h3>
  <p>

  <%= "<span class='kind_#{connection.kind}'>#{connection.kind.capitalize}</span> #{ h connection.info}" %></p>

</dd>