<div class="box" id="permissions">
  <h2>Shared with</h2>
  <div class="content" >
    <% if permissions.empty? -%>
      <h3>No one, yet.</h3>
    <% else -%>
    
      <div class="items" style="display:block">
        <% permissions.each do |permission| -%>
          <div class="item" style="color:#666;padding:5px;background:#ececec">
          <% if permission.grantor_id == current_user.id -%>
          <%= image_tag("/images/icons/grantor.png", :class => "permission_icon", :alt => "Invited")%>
            <%= permission.granted.label %> 
          <% else -%>
          <%= image_tag("/images/icons/granted.png", :class => "permission_icon", :alt => "Sharing his items")%>
            <%= permission.grantor.label %>
            <%= link_to("Share back", "/command/share #{@list.label} with/?input=#{permission.grantor.email}")%>
            
          <% end -%>
          </div>
        <% end -%>
      </div>
   
    <% end -%>
     </div>
    <div class="actions">
      <%= command(:label => "+ Invite someone", :command => "share #{@list.label} with") %>
    </div>
</div>