<%= will_paginate items if service.nil? %>
<% if tagging.nil?  || tagging.is_a_list? %>
  <div class="sorting_options">
    <%= sorting_options(
      [['By Name', 'name'],
        ['By Latest', 'latest'],
        ['By Rank', 'rank']
      ], :selected => @order)%>
  </div>
<% end -%>
<div class="items">
<% items.each_with_index do |item,i| %>
  <div class="item <%= (i == selected) ? '' : '' %>">
  <h3>
    <% if service == "google" -%>
     <span class="rank"><%= (i+1)  %></span>
      <%= link_to(item.label.capitalize, item.url)%>
      <p><%= item.description %><br/><%= link_to(item.url,item.url)%></p>
    <% elsif service == "map" -%>
      <span class="rank"><%= (i+1) + items.offset rescue 0 %></span>
      <%= link_to_item(item)%>
      <p><%= item.object.property('address') %></p>
    <% else -%>
      <span class="rank"><%= (i+1) + items.offset rescue 0 %></span>
      <%= link_to_item(item) %>
    <% end -%>
  </h3>
  </div
<% end -%>
</div>

