<% if connections.empty? -%>
  <div class="article" >
    <h3>You haven't added any <%= section.kind.pluralize rescue "thing" %> to this <%= section.subject.kind %> yet. <a href="#" class="toggle">Add one now</a></h3>
   <%= render :partial => "/avatars/new", :locals => {
     :path => section.path
   }%>
    <br/>
    <%= link_to("See what others have added") %>
    <br/>
    <br/>
    <%= link_to("See what's on google >")%>
    <br/>
    <%# section.results(:service => "google").each do |r| %>
      <%#= link_to(r.label, "#") %>
    <%# end -%>
  </div>
<% else -%>
  <dl class="connections">
    <% connections.each do |connection| -%>
        <%= render :partial => "/nuniverse/connection", :locals => {
          :connection => connection,
          :path => section.path
        }%>
    <% end -%>
  </dl>
<% end -%>

