<dd class="connection <%= cycle('even', 'odd') %>">
  <div class="manage">
    <%= link_to(image_tag("/images/icons/minus.png"),"#",:title => "Remove") %>
  </div>
  <%= avatar_for(object) %>
  <h3><%= link_to_nuniverse(object) %></h3>
  <p><%= object.description[0..100] %></p>

  <div class="path hidden"><%= "/nuniverse_of/#{path}_#{object.id}" %></div>
</dd>