<dd class="connection <%= cycle('even', 'odd') %>">
  <div class="manage">
    <% if connection.user == current_user -%>
      <%= link_to(image_tag("/images/icons/minus.png"),"/taggings/delete/#{connection.id}",:title => "Remove", :class => "remove") %>
    <% else -%>
      <%= link_to(image_tag("/images/icons/plus.png"),"/taggings/create",:title => "Bookmark", :class => "bookmark") %>
    <% end -%>
  </div>
  <%= avatar_for(connection.object) %>

  <h3>
    <%= link_to_object(connection.object, :path => "#{path}#{connection.object.id}")%>
    <% if connection.object.service -%>
      <span class="source">@ <%= connection.object.service %></span>
    <% end -%>
  </h3>
  <p><%= connection.object.description %></p>
  <div class="data hidden">
    <% form_tag '/taggings/delete' do -%>
      <%= hidden_field_tag :path, path %>
      <%= hidden_field_tag :id, connection.id %>
     
    <% end -%>
  </div>
</dd>