<% items.each_with_index do |item,i| %>
  <h3 class="item <%= (i == selected) ? '' : '' %>">
    <% if service == "google" -%>
      <%= (i+1)  %> 
      <%= link_to(item.label.capitalize, item.url)%>
      <p><%= item.description %><br/><%= link_to(item.url,item.url)%></p>
    <% elsif service == "map" -%>
      <%= (i+1) + items.offset rescue 0 %> 
      <%= link_to_item(item) %>
      <p><%= item.object.property('address') %></p>
    <% else -%>
      <%= (i+1) + items.offset rescue 0 %> 
      <%= link_to_item(item) %>
    <% end -%>
  </h3>
<% end -%>
<%= will_paginate items if service.nil? %>

