<dd class="connection <%= cycle('even', 'odd') %> <%= connection.object.kind %>_kind">
  <%= render :partial => "/taggings/manage", :locals => {:connection => connection, :path => path, :data => ""} %>
  <%= avatar_for(connection.object) %>
  <h3>
    <%= link_to_object(connection.object, :path => "#{path}#{connection.object.id}")%>
    <% if connection.object.service -%>
      
    <% end -%>
  </h3>
  <p><%= "<span class='kind_#{connection.kind}'>#{connection.object.precision.capitalize}</span> <span class='source'> #{connection.object.service}</span>" %> <%= connection.info %></p>
  <div class="delimiter">&nbsp;</div>
</dd>