<dl class="dropdown filters">
    <dt>Showing <span class="label">all</span><%= image_tag("/images/icons/down.png", :alt => "filter by") %></dt>
    <dd class="selected">
      <%= link_to(
          "#{image_tag('/images/icons/overview.png', :alt => "overview")} All" , 
          "/overview_for/#{section.path}",:title => "All") %>
    </dd>
    <dd class="">
      <%= link_to(
          "#{image_tag('/images/icons/channel.png', :alt => "channel")} Channels", 
          "/current_section/show_only/channel", :title => "channels") %>
    </dd>
    <dd class="">
      <%= link_to(
          image_tag('/images/icons/location.png', :alt => "location"), 
          "/current_section/show_only/location", :title => "places") %>
    </dd>
    <dd class="">
      <%= link_to(
          image_tag('/images/icons/person.png', :alt => "person"), 
          "/current_section/show_only/person", :title => "people") %>
    </dd>
    <dd class="">
      <%= link_to(
          image_tag('/images/icons/item.png', :alt => "item"), 
          "/current_section/show_only/item", :title => "items") %>
    </dd>
    <dd class="">
      <%= link_to(
          image_tag('/images/icons/pro.png', :alt => "pro"), 
          "/current_section/show_only/pro", :title => "pros") %>
    </dd>
    <dd class="">
      <%= link_to(
          image_tag('/images/icons/con.png', :alt => "con"), 
          "/current_section/show_only/con", :title => "cons") %>
    </dd>
    <dd class="">
      <%= link_to(
          image_tag('/images/icons/bookmark.png', :alt => "bookmark"), 
          "/current_section/show_only/bookmark", :title => "bookmarks") %>
    </dd>
 
</dl>