<div class="hat">
  <%= avatar unless avatar.nil? %>
  <%= "<h6>#{kind}</h6>" unless kind.nil? %>
  <%= "<h1>#{label}</h1>" unless label.nil? %>
  <%= "<p>#{description}</p>" unless description.nil? %>
  <%= "<div class='options'>#{options}</div>" unless options.nil? %>
  <div class="menu">
  <%= link_to "About", "/current_section/according_to/freebase" %>
  <%= link_to "News", "/current_section/according_to/daylife" %>
  <%= link_to "Images", "/current_section/according_to/flickr" %>
  <%= link_to "Videos", "/current_section/according_to/videos" %>
  <%= link_to "Bookmarks", "/current_section/show_only/bookmark" %>
  <%= link_to "People", "/current_section/show_only/person" %>
  <%= link_to "Places", "/current_section/show_only/location" %>
  <%= link_to "Events", "/current_section/show_only/person" %>
  <%= link_to "Comments, Pros & cons", "/current_section/show_only/comments" %>
  <%= link_to "Products & items", "/current_section/show_only/item" %>
  <%= link_to "Amazon" , "/current_section/according_to/amazon"%>
  <%= link_to "Ebay" , "/current_section/according_to/ebay"%>
  <%= link_to "Twitter", "/current_section/according_to/twitter" %>
  <%= link_to "Map it", "/current_section/according_to/map"%>
  </div>
</div>