<div class="hat hidden">
  <%= image unless image.nil? %>
  <%= "<h6>#{kind.capitalize}</h6>" unless kind.nil? %>
  <%= "<h1>#{label.titleize}</h1>" unless label.nil? %>
  <%= "<p>#{description}</p>" unless description.nil? %>
  <%= "<div class='options'>#{options}</div>" unless options.nil? %>
</div>