<div class="hat">
  <%= avatar unless avatar.nil? %>
  <%= "<h6>#{kind}</h6>" unless kind.nil? %>
  <%= "<h1>#{label}</h1>" unless label.nil? %>
  <%= "<p>#{description}</p>" unless description.nil? %>
  <%= "<div class='options'>#{options}</div>" unless options.nil? %>
</div>