<div class="header">
      <%= avatar_for(tag)%>
      <% if logged_in? && current_user.tag == tag -%>
        <h5>Welcome <%= tag.label %>,</h5> 
        <h1>this is your nuniverse</h1>
      <% else -%>
        <h5>You are visiting the nuniverse of</h5> 
        <h1><%= tag.label.titleize %></h1>
        <p><%= tag.description.capitalize %></p>
      <% end -%>
      <div class="delimiter" style="clear:both;position:relative">&nbsp;</div>
    <%= body %>
</div>

<div class="submenu" style="position:absolute;top:10px;right:10px">
  <%= link_to 'Edit', edit_tag_path(tag) , :class => 'edit' %>
  <a href="#">Visit another nuniverse</a>
</div>