<div id="input_box" class="hidden">
  <% form_tag "/command", { :multipart => true } do -%>
    <fieldset>
    
    <%= hidden_field_tag("context", @source.title)  %>
    <% if source.is_a?(List) -%>
      <%= hidden_field_tag("list", source.label) %>
      <%= hidden_field_tag("tag_id", source.tag_id) %>
    <% elsif source.is_a?(Tag) -%>
      <%= hidden_field_tag("list", @source.kind)  %>
      <%= hidden_field_tag("tag_id", @source.id )%>
    <% end -%>
    
    <%= text_field_tag "command", "", :id => "command", :autocomplete => 'off' %>
    <div id="file_field" class="hidden">
      <label>
        <span style="color:#fff">Copy and paste an image url or </span>Browse your files
      </label>
      <%= file_field "image_url", :uploaded_data, :style=> "font-size:12px" %>
    </div>
    <label id="info_label"></label>
    <%= text_field_tag "input", "", :id => "input" ,:autocomplete => 'off'%>
    <label id="extra_input_label"></label>
    <%= text_area_tag "extra_input", "", :id => "extra_input", :class => 'hidden', :rows => 2, :wrap => "virtual"%>
    
    </fieldset>
  <% end -%>
  <%= spinner %>
  <div class="suggestions" id="suggestions" title="/suggest"></div>
  <div class="delimiter">&nbsp;</div>
  <div class="actions">
    <%= link_to("x Close", "#", :class => 'collapse')%>
  </div>
  <div class="delimiter">&nbsp;</div>
</div>