<%= render :partial => "/layouts/hat", :locals => {:selected => @selected }%>

<div class="nuniverse <%= dom_class rescue "" %>" id="nuniverse" >
  <% unless @source.nil? %>
    <%= breadcrumbs_for(@source)  %>
    <%= title %>
    <div id="nav">
      <%= yield :nav %>
      <%= input(:source => @source) unless @source.nil? %>
    </div>
  <% end -%>
    
  <div id="content" class="<%= @mode %>_mode">
    <%= content %>
  </div>
</div>