<%= render :partial => "/boxes/suggestions" %>
<div id="nuniverse" >
  <%= content %>
</div>




<div id="templates" style="display:none">
  <%= render :partial => "/boxes/template" %>

  <%= render :partial => "/nuniverse/section", :locals => {:html => {:id => "section-template"}, :content => nil} %>
  <div id="section-template" class="section">
    <div class="content"><div class="hat">
    <h2></h2>
    </div></div>
  </div>
  
  
  <%= render :partial => "/boxes/edited_cell"%>
</div>