<% content_for :head do -%>
  <%= GMap.header (:local_search => true, :large_map => true, :with_vml => false) %>
  <%#= @map.to_html%>
<% end -%>

<div class="nuniverse" id="nuniverse">
  <%#= render :partial => "/nuniverse/breadcrumbs", :locals => {:path => nuniverse.path }%>
  <div class="scroller"> 
    <div class="body">
      <%= render :partial => "/nuniverse/main_menu", :locals => {:nuniverse => nuniverse }%>
      <% if nuniverse.empty? -%>
        <%= render :partial => "/nuniverse/welcome" %>
      <% else -%>
        <%= render :partial => "/nuniverse/overview", :locals => {:nuniverse => nuniverse} %>
      <% end -%>   
     
    </div>
  </div>
</div>

<div class="hidden">
 <%= image_tag("/images/icons/ajax-loader.gif", :alt => "loading... please wait", :style => "padding:10px",:id => "spinner")%>
</div>