<% content_for :head do -%>
  <%= GMap.header (:local_search => false, :large_map => false, :with_vml => false) %>
<% end -%>

<div class="nuniverse" id="nuniverse">
  <%#= render :partial => "/nuniverse/breadcrumbs", :locals => {:path => nuniverse.path }%>
 
  
  <%= render :partial => "/nuniverse/section_menu", :locals =>{
    :section => section
  }%>
  <%= render  :partial => "/taggings/new", 
                :locals => {
                  :kind => "",
                  :path => section.path
                }%>
  <div class="scroller"> 

    <div class="body">
      <%#= render :partial => "/nuniverse/main_menu", :locals => {:nuniverse => section }%>
      <% if section.empty? -%>
        <%= render :partial => "/nuniverse/welcome", :locals => {:section => section }%>
      <% else -%>
      <% render_section(section, :dom_classes => "current_section") do -%> 
      
        <%= render :partial => "/nuniverse/overview", :locals => {
            :section => section, 
            :order => "name"
          } %>
        <% end -%>
      <% end -%>   
    </div>
  </div>
  

</div>

<div class="hidden">
 <%= image_tag("/images/icons/ajax-loader.gif", :alt => "loading... please wait", :style => "padding:10px",:id => "spinner") %>
</div>