<% content_for :head do -%>
  <%= GMap.header (:local_search => true, :large_map => true, :with_vml => false) %>
  <%#= @map.to_html%>
<% end -%>

<div class="nuniverse" id="nuniverse">
  <%= render :partial => "/nuniverse/breadcrumbs", :locals => {:path => nuniverse.path }%>
  <div class="scroller"> 
    <div class="body">
      <% render_section(section, :hat => true) do -%> 
        <% menu(:name => "main_menu") do -%>
          <%= menu_item(:label =>"Lately in this nuniverse...", :action => "/overview_for/#{nuniverse.path}") %>
          <%= menu_item(:label =>"Topics",:action =>  "/section/#{nuniverse.path}/with_kind/topic/by/name") %>
          <%= menu_item(:label =>"People",:action =>  "/section/#{nuniverse.path}/with_kind/person/by/name/") %>
          <%= menu_item(:label =>"Places",:action =>  "/section/#{nuniverse.path}/with_kind/location/by/name/") %>
          <%= menu_item(:label =>"Products", :action => "/section/#{nuniverse.path}/with_kind/item/by/name/") %>
        <% end -%>
      <% end -%>
      <div class="section current_section">
        <div class="content">
        <% if nuniverse.empty? -%>
          <%= render :partial => "/nuniverse/welcome" %>
        <% else -%>
          <div class="connections">
            <%= render(:partial => "/taggings/instance", :collection => nuniverse.overview )%>
          </div>
        <% end -%>
        </div>
      </div>     
     
    </div>
  </div>
</div>

<div class="hidden">
 <%= image_tag("/images/icons/ajax-loader.gif", :alt => "loading... please wait", :style => "padding:10px",:id => "spinner")%>
</div>