<%= render :partial => "/boxes/preview" %>
<%= render :partial => "/nuniverse/view" %>

<%#= breadcrumbs %>
<div id="nuniverse" class="<%= @display %>_mode">
  <%= content %>
  <%#= render :partial => "/nuniverses/main_menu"%>
</div>




<div id="templates" style="display:none">
  <%= render :partial => "/boxes/template" %>
  <%= render :partial => "/boxes/image_box" %>
  <div id="section-template" class="section">
    <div class="content"><div class="hat">
    <h2></h2>
    </div></div>
  </div>
  
  <%= render :partial => "/boxes/edited_cell"%>
</div>