 <%#= render :partial => "/boxes/suggestions" %>
<div id="nuniverse" style="<%= style rescue nil %>" >
  <%= content %>
</div>





<div id="templates" style="display:none">
  <%= render :partial => "/boxes/template" %>

  <%= render :partial => "/nuniverse/section", :locals => {:html => {:id => "section-template"}, :content => nil} %>
  <div id="section-template" class="section">
    <div class="content"><div class="hat">
    <h2></h2>
    </div></div>
  </div>
  <div class="result box" style="width:96%;height:auto;background:#FFF;padding:2%">
    
      <%= image_tag('/images/backgrounds/blank.gif', :class => "thumbnail") %>
      <p class="tags"> </p>
      <%= link_to "", "#", :class => "name" %>
      

  </div>
  
  <%= render :partial => "/nuniverses/template"%>
  
  <%= render :partial => "/boxes/edited_cell"%>
</div>