<%= render :partial => "/layouts/hat", :locals => {:selected => @selected }%>
<%= render :partial => "/boxes/preview", :locals => {}%>
<%= render :partial => "/nuniverse/visit" if logged_in? %>

<div class="nuniverse <%= dom_class rescue "" %> " id="nuniverse" >
  <% unless @source.nil? %>
    <%= breadcrumbs %>

    <%= title %>
    <%= yield :nav %>
  <% end -%>

   <%= content %>
 
        
  
  <div class="delimiter" style="clear:both">&nbsp;</div>
  <div class="footer" style="position:fixed;bottom:20px;z-index:567990">
    <%= yield :footer %>
  </div>
</div>