 <%#= render :partial => "/boxes/suggestions" %>
<div id="nuniverse" style="<%= style rescue nil %>" >
  <%= content %>
</div>





<div id="templates" style="display:none">
  <%= render :partial => "/boxes/template" %>

  <%= render :partial => "/nuniverse/section", :locals => {:html => {:id => "section-template"}, :content => nil} %>
  <div id="section-template" class="section">
    <div class="content"><div class="hat">
    <h2></h2>
    </div></div>
  </div>
  <div class="result box">
    <div class="wrap">
    <%= link_to "", "#", :class => "name" %>
    <%= link_to '<img src="" class="image"/>',"#" %>
    </wrap>
  </div>
  
  <%= render :partial => "/boxes/edited_cell"%>
</div>