<div class="section">  
  <div class="content">
  <%= render :partial => "/nuniverse/hat", :locals => {
    :avatar => avatar_for(current_user.tag),
    :kind => "user",
    :label => current_user.tag.label,
    :description => "This is your nuniverse.",
    :options => nil
  } %>
  <% menu(:name => "main_menu") do -%>
    <%= menu_item(:label =>"Overview", :action => "/overview_for/#{nuniverse.path}") %>
    <%= menu_item(:label =>"Search",:action =>  "#") %>
    <%= menu_item(:label =>"Your most active topics",:action =>  "/section/#{nuniverse.path}/with_kind/topic/by/latest?perspective=you") %>
    <%= menu_item(:label =>"Preferences",:action =>  "/edit/#{current_user.tag}") %>
<%= menu_item(:label =>"People",:action =>  "/section/#{nuniverse.path}/with_kind/person/by/name?perspective=you&degree=all") %>
    <%= menu_item(:label =>"Places",:action =>  "/section/#{nuniverse.path}/with_kind/location/by/name?perspective=you&degree=all") %>
    <%= menu_item(:label =>"Bands",:action =>  "/section/#{nuniverse.path}/with_kind/band/by/name?perspective=you&degree=all") %>
    <%= menu_item(:label =>"Movies",:action =>  "/section/#{nuniverse.path}/with_kind/movie/by/name?perspective=you&degree=all") %>
    <%= menu_item(:label =>"Sport",:action =>  "/section/#{nuniverse.path}/with_kind/sport/by/name?perspective=you&degree=all") %>
    <%= menu_item(:label =>"Products", :action => "/section/#{nuniverse.path}/with_kind/item/by/name?perspective=you&degree=all") %>
    <%= menu_item(:label =>"Videos", :action => "/section/#{nuniverse.path}/with_kind/video/by/name?perspective=you&degree=all") %>
    <%= menu_item(:label =>"Events", :action => "/section/#{nuniverse.path}/with_kind/event/by/name?perspective=you&degree=all") %>
  <% end -%>
  </div>
</div>