<% if no_map -%>
  <div class="hidden path"><%= path %></div>
  <div class="article">
    <h2>We'd like to show a map for <%= path.last_tag.label %></h2>
    <h3>but we'd need some kind of address...</h3>
    <% form_tag "/tags/update/#{path.last_tag.id}" do -%>
      <fieldset>
      <%= text_field_tag "address", path.last_tag.property('address'), :style => 'width:80%' %>
      <input type="submit" value="Locate" class="dynamo"/>
      </fieldset>
    <% end -%>
  </div>
<% else -%>
  <%= map.div(:width => "100%", :height => "90%", :class=>"map") %>
  <%= html %>  
<% end -%>