<h3><%= link_to image_tag("/images/icons/small_nuniverse.png", :width => 40), "#", :id => "connect_nuniverse_lnk", :class => "expand_lnk" %></h3>
<h3><%= link_to image_tag("/images/icons/bookmark.png", :width => 40), "#", :id => "connect_bookmark_lnk", :class => "expand_lnk" %></h3>
<h3><%= link_to image_tag("/images/icons/comment.png", :width => 40), "#", :id => "connect_note_lnk", :class => "expand_lnk" %></h3>
<h3><%= link_to image_tag("/images/icons/image.png", :width => 40), "#", :id => "connect_image_lnk", :class => "expand_lnk" %></h3>
<div style="position:relative;display:block;background:#eee;">
  <%= spinner %>
  <div class="response" style="display:block"></div>
  <div class="hidden connect_form" id="connect_nuniverse_form" style="padding:20px;position:relative;float:left">
    <h2>Connect with another nuniverse</h2>
        <% form_tag "/tags/suggest" , :style => "width:400px" do -%>
          <label>Name it.</label>
          <%= hidden_field_tag "id", @tag.id %>
          <%= hidden_field_tag "kind", "nuniverse" -%>
          <%= text_field_tag "input", "", :class => "input", :style => "width:500px", :autocomplete => "off"%>
        <% end -%>
        <div class="suggestions"></div>

  </div>
  <div class="hidden connect_form" id="connect_bookmark_form" style="padding:20px;position:relative;float:left">
        <% form_tag "/tags/suggest" , :style => "width:400px" do -%>
          <label>Add a bookmark.</label>
          <%= hidden_field_tag "id", @tag.id %>
          <%= hidden_field_tag "kind", "bookmark" -%>
          <%= text_field_tag "url", "", :class => "input", :style => "width:500px", :autocomplete => "off"%>
          <%= link_to "Add bookmark", "/tags/connect", :class => "trigger", :mode => "connect"  %>
        <% end -%>
  </div>
  <div class="hidden connect_form" id="connect_note_form" style="padding:20px;position:relative;float:left">
        <% form_tag "/tags/suggest" , :style => "width:400px" do -%>
          <label>Post a note</label>
          <%= hidden_field_tag "id", @tag.id %>
          <%= hidden_field_tag "kind", "comment" -%>
          <%= text_area_tag "input", "", :class => "input", :rows => 3, :style => "width:500px;background:#FFF", :autocomplete => "off"%>
           <%= link_to "Add note", "/tags/connect", :class => "trigger" , :mode => "connect" %>
        <% end -%>
        
  </div>
  <div class="hidden connect_form" id="connect_image_form" style="padding:20px;position:relative;float:left">
    <h2>Add an image</h2>
        <% form_tag "/tags/suggest" , :multipart => true,  :style => "width:400px" do -%>
          <%= hidden_field_tag "id", @tag.id %>
          <%= hidden_field_tag "kind", "image" -%>

            <label>Copy and paste the url from the internet </label>
            <%= text_field_tag "input", "", :class => "input", :style => "width:480px", :autocomplete => "off"%>

            <label>... or upload a file from your computer</label>
            <%= file_field_tag :uploaded_data %>

          <%= link_to "Save", "/tags/connect", :class => "trigger", :mode => "connect"  %>
        <% end -%>
  </div>
  <div style="clear:both"></div>
  <div style="position:absolute;width:auto;z-index:7890987;">
</div>
</div>