<div class="delimiter" style="clear:left">&nbsp;</div>
<h3><%= link_to image_tag("/images/icons/small_nuniverse.png", :width => 40), "#", :id => "connect_nuniverse_lnk", :class => "expand_lnk" %></h3>
<h3><%= link_to image_tag("/images/icons/bookmark.png", :width => 40), "#", :id => "connect_bookmark_lnk", :class => "expand_lnk" %></h3>
<h3><%= link_to image_tag("/images/icons/comment.png", :width => 40), "#", :id => "connect_note_lnk", :class => "expand_lnk" %></h3>
<h3><%= link_to image_tag("/images/icons/image.png", :width => 40), "#", :id => "connect_image_lnk", :class => "expand_lnk" %></h3>
<h3><%= link_to image_tag("/images/icons/location.png", :width => 40), "#", :id => "connect_location_lnk", :class => "expand_lnk" %></h3>
<h3><%= link_to image_tag("/images/icons/email.png", :width => 40), "#", :id => "connect_email_lnk", :class => "expand_lnk" %></h3>
<div style="position:relative;display:block;background:#eee;">
  <%= spinner %>
  <div class="response" style="display:block"></div>
  <div class="hidden connect_form" id="connect_nuniverse_form" style="padding:20px;position:relative;float:left">
    <h2>Connect with another nuniverse</h2>
        <% form_tag "/tags/suggest" , :style => "width:400px" do -%>
          <label>Name it.</label>
          <%= hidden_field_tag "id", @tag.id %>
          <%= hidden_field_tag "kind", "nuniverse" -%>
          <%= text_field_tag "input", "", :class => "input", :style => "width:500px", :autocomplete => "off"%>
        <% end -%>
        <div class="suggestions"></div>

  </div>
  <div class="hidden connect_form" id="connect_bookmark_form" style="padding:20px;position:relative;float:left">
        <% form_tag "/tags/suggest" , :style => "width:800px" do -%>
          <h2>Add a bookmark.</h2>
          <label>Copy and paste the url of the webpage you want to bookmark</label> 
          <%= hidden_field_tag "object", @tag.id %>
          <%= hidden_field_tag "kind", "bookmark" -%>
          <%= text_field_tag "url", "", :class => "input", :style => "width:500px", :autocomplete => "off"%>
          <%= link_to "Add bookmark", create_and_connect_url(@tag), :class => "trigger button", :mode => "connect"  %>
        <% end -%>
  </div>
  <div class="hidden connect_form" id="connect_note_form" style="padding:20px;position:relative;float:left">
        <% form_tag "/tags/suggest" , :style => "width:800px" do -%>
          <h2>Post a note</h2>
          <%= hidden_field_tag "id", @tag.id %>
          <%= hidden_field_tag "kind", "comment" -%>
          <%= text_area_tag "input", "", :class => "input", :rows => 3, :style => "width:500px;background:#FFF", :autocomplete => "off"%>
           <%= link_to "Add note", create_and_connect_url(@tag), :class => "trigger button" , :mode => "connect" %>
        <% end -%>
        
  </div>
  <div class="hidden connect_form" id="connect_image_form" style="padding:20px;position:relative;float:left">
    <h2>Add an image</h2>
        <% form_tag "/tags/suggest" , :multipart => true do -%>
          <fieldset>
          <%= hidden_field_tag "id", @tag.id %>
          <%= hidden_field_tag "kind", "image" -%>
            <div style="position:relative;float:left;width:46%">
            <label>Copy and paste the url from the internet </label><br/>
            <%= text_field_tag "input", "", :class => "input", :width => "100%", :autocomplete => "off"%>
            </div>
            <div style="position:relative;float:left;width:45%">
            <label>... or upload a file from your computer</label><br/>
            <%= file_field_tag :uploaded_data %>
            </div>
            <div class="delimiter" style="margin: 0 0 5px 0">&nbsp;</div>
            </fieldset>
          <%= link_to "Save", create_and_connect_url(@tag), :class => "trigger button", :mode => "connect"  %>
        <% end -%>
  </div>
  <div class="hidden connect_form" id="connect_location_form" style="padding:20px;position:relative;float:left;width:100%">
    <h2>Add an address</h2>
        <% form_tag "/ws/suggest_address"  do -%>
          <fieldset>
            <%= hidden_field_tag "id", @tag.id %>
            <%= hidden_field_tag "kind", "address" -%>
            <label>Type in an address to locate</label><br/>
            <%= text_field_tag "input", "", :class => "input", :width => "100%", :autocomplete => "off"%>
            <div class="delimiter" style="margin: 0 0 5px 0">&nbsp;</div>
          </fieldset>
          <div class="suggestions" style="width:100%;display:block"></div>
          <%= link_to "Save", create_and_connect_url(@tag), :class => "trigger button", :mode => "connect"  %>
        <% end -%>
  </div>  
  
  <div class="hidden connect_form" id="connect_email_form" style="padding:20px;position:relative;float:left;width:100%">
    <h2>Email this to</h2>
        <% form_tag "/ws/suggest_address"  do -%>
          <fieldset>
            <%= hidden_field_tag "id", @tag.id %>
            <%= hidden_field_tag "kind", "address" -%>
            <label>Type in as many email addresses, comma delimited</label><br/>
            <%= text_field_tag "input", "", :class => "input", :width => "100%", :autocomplete => "off"%>
            <%= text_area_tag "message", "", :width => "100%", :autocomplete => "off"%>
            <div class="delimiter" style="margin: 0 0 5px 0">&nbsp;</div>
          </fieldset>
         
          <%= link_to "Send", send_email_url(@tag), :class => "trigger button", :mode => "connect"  %>
        <% end -%>
  </div>
  <div style="clear:left"></div>
  <div style="position:absolute;width:auto;z-index:7890987;">
</div>
</div>