<div class="page <%= classes %> ">
  <div class="hat">
    <%= avatar_for(tag) %>
    <h2><%= link_to(tag.content.capitalize,"#") %></h2>
    <p><%= tag.description %></p>
        <%= link_to "edit", "/tags/#{tag.id}/edit" , :class => "edit"%>
  </div>
  <div class="menu">
    
    <%= render :partial => "/nuniverse/perspectives" , :locals => {:selected => session[:perspective]}%>
  </div>
  <%= content %>
</div>