<div class="nuniverse" id="nuniverse">
  <div class="header">
    <%= avatar_for(tag) %>
    <h5>You are visiting the nuniverse of</h5>
    <h1><%= path.tags.map {|c| "#{c.content.titleize} >"} %></h1>
    <%= render :partial => "/nuniverse/filters", :locals => {:path => path, :tag => tag} %>
  </div>
  <div class="body">
    <% if @connections.empty?  -%>
      <h2>This <%= tag.kind %> is empty.</h2>
      <%= link_to ("+ Add something", "#", :class => "add")%>
    <% else -%>
      <%= render :partial => "/nuniverse/connections", :locals => {:connections => @connections} %>
    <% end -%>
  </div>
</div>