<div class="content actions">
  <dl class="connections">
      <h2>Main Menu</h2>
     <dd class="connection <%= cycle('even', 'odd') %>" src="/section_of/<%= @path %>/topic">
       <a href="#">Your topics</a>
     </dd>
     <dd class="connection <%= cycle('even', 'odd') %>" src="/section_of/<%= @path %>/location">
       <a href="#" id="places">Places</a>
     </dd>
     <dd class="connection <%= cycle('even', 'odd') %>" src="/section_of/<%= @path %>/person">
       <a href="#" id="people">People</a>
     </dd>
     <dd class="connection <%= cycle('even', 'odd') %>" src="/profile">
       <a href="#" id="profile">Your profile</a>
     </dd>
   </dl>
</div>