<div  id="stat_<%= stat.score.round %>" style="padding:0;height:9%;margin:0 0 1% 0;width:<%= stat.percent  %>;min-width:2%;background-color:<%= color %>;position:relative">
  
  <div style="position:absolute;right:-100px;color:<%= color %>;text-align:left" class="percent"><%= stat.value rescue 0 %> <%= Ranking.label(stat.score)%></div>
</div>  
