<div class="nuniverse" id="nuniverse">
  <div class="header">
    <%= avatar_for(tag) %>
    <h1><%= path.tags.map {|c| "#{c.content.capitalize} >"} %></h1>
    <%= render :partial => "/nuniverse/perspectives" , :locals => {:tag => tag, :path => path}%>
  </div>
  <div class="scroller">
    <%#= render :partial => "/nuniverse/filters", :locals => {:path => path, :tag => tag} %>
  <div class="body">  
    <div class="content browsed">  
       <%= connections_for(path, :page => page)%>
    </div>
    <div class="content preview">
      <%#= @map.div(:width => "100%", :height => 450) %>
    </div>
  </div>
  </div>
  <%= render  :partial => "/taggings/new", 
              :locals => {
                :title => "Add a new topic",
                :kind => "topic",
                :path => path
              }%>
  <dl class="options">
    <dd><%= link_to("+ Add something", "#", :class => 'add') %></dd>
    <dd><%= link_to("+ Invite / manage contributors", "#") %></dd>
    <dd><%= link_to("+ Find related topics", "#") %></dd>
  </dl>
</div>