  <dd style="background:#FFF;padding:2%;color:#000" class="tweet">
    <%= image_tag(tweet.profile_image_url, :class => "thumbnail", :style=>"border-color:#000") %>
    <p><%= link_to tweet.from_user, "http://www.twitter.com/#{tweet.from_user}", :target => "_blank" %> <%= tweet.created_at%></p>
    <p class="body"><%= render_tweet(tweet.text) %></p>
    <%= clear %>
  </dd>