 <%# geolocate([tag])%>
<%# content_for :head do -%>
  <%#= GMap.header (:local_search => true, :large_map => true) %>
  <%#= @map.to_html %>
<%# end -%>

<div class="nuniverse" id="nuniverse">
  <div class="header">
    <h1><%= path.tags.map {|c| "#{c.content.capitalize} >"} %></h1>
    <%= render :partial => "/nuniverse/perspectives" , :locals => {:tag => tag, :path => path}%>
  </div>
  <div class="scroller">
    
  <div class="body">
    <%#= render :partial => "/nuniverse/filters", :locals => {:path => path, :tag => tag} %>
    <div class="content selected">      
      <%= connections_for(path, :page => page) %>
    </div>
    <div class="content">
      <dl class="connections">
      </dl>
    </div>
  </div>
  </div>
  <%= render  :partial => "/taggings/new", 
              :locals => {
                :title => "Add a new topic",
                :kind => "topic",
                :path => path
              }%>
  <dl class="options">
    <dd><%= link_to("+ Add something", "#", :class => 'add') %></dd>
    <dd><%= link_to("+ Invite / manage contributors", "#") %></dd>
    <dd><%= link_to("+ Find related topics", "#") %></dd>
  </dl>
</div>

<div class="hidden" id="gmap_hidden_div">
  <%#= @map.div(:width => "100%", :height => 450) %>
</div>

<div class="hidden" id="content_template">
  <div class="content">
    <dl class="connections">
    </dl>
  </div>
</div>