<div id="view" >
  <%= render :partial => "/comments/box" %>  
  <%= render :partial => "/stories/share" %>
  <%= link_to image_tag("/images/icons/close_btn.png"), "#", :title => "Close", :class =>"close-btn " , :style => "width:auto;height:auto;position:fixed;top:10px;left:10px;z-index:999"%>
  <div class="menu">
    <%= link_to image_tag("/images/icons/comment.png"), "", :target => "#comment-box" %>
    <%= link_to image_tag("/images/icons/group.png"), "", :target => "#share-box" %>
  </div>
  <%= spinner %>
  <div class="content">
   
  </div>
</div>