

<% render_box(:html => {:id => "Connection-#{@polyco.id}"}) do -%>
  <div class="header" style="padding:20px">
    <%= render :partial => @polyco.subject %>
  </div>
  <div class="content" style="padding:20px">
  <p><%= @polyco.description %></p>
 
  <% if @collection %>
    <% properties = @collection.properties %>
    <% properties.each do |p| -%>
       <div style="font-size:18px;font-size:bold;font-family:Arial;padding:0" class="step">
         <span style="color:#000;margin:0 5px 0 0;"><%= p.name.capitalize %></span>
         <span style="color:#666"><%= render_property(@polyco.subject.property(p)) %></span>
       </div>
     <% end -%>
  <% else -%>
  <div class="">
    
  </div>
  <% end -%>

 
  <%= clear %>
 

</div>
<% end -%>