 <%= image_tag(@polyco.subject.images.first.public_filename(:large), :style => "border:solid 1px #666;margin: 0 0 10px 0;") rescue nil %>
<h2><%= @polyco.subject.name %></h2>
<div class="step">
  <p><%= @polyco.description %></p>

  <% @polyco.object.properties.each do |p| -%>
    <div class="step connection"><%= render_fact(@polyco.subject.property(p).subject) rescue nil %></div>
  <% end -%>
  <%= link_to "Edit", edit_polyco_url(@polyco), :class => "expand-lnk", :target => "S-Polyco-#{@polyco.id}"%>
</div>