
  <div class="box <%= cycle('even','odd') %>"> 
      <%= image_tag(result.thumbnail,:class => "thumbnail")%>
      <h3>
        <%= link_to_object(result) %>
      </h3>
      
      <p><%=  "#{result.precision} #{result.price}" %></p>
      <div class="actions">
        <%= save_button_for(result, :id => tag.id)%>
      </div>
  </div>
