<% @items.each do |item| %>
  <div class="box <%= cycle('even','odd') %>"> 
      <%= image_tag(item.thumbnail,:class => "thumbnail")%>
      <h3>
        <%= link_to_object(item) %>
      </h3>
      
      <p><%=  "#{item.precision} #{item.price}" %></p>
      <div class="actions">
        <%= render :partial => "/taggings/manage", :locals => {
              :tagging => Tagging.new(:object => item), 
              :id => tagging.id} rescue ""%>
      </div>
  </div>
<% end -%>