<div class="column">
  <%= render :partial => "profile", :locals => {:tagging => @tagging}%>
  <%= render :partial => "contributors", :locals => {:tagging => @tagging}%>
  <%= render :partial => "ads" %>
  <%= render :partial => "options", :locals => {:tagging => @tagging }%>
</div>
<div class="column" style="width:50%">
  <%= render :partial => "image", :locals => {:object => @tagging.object}%>
  <%= render :partial => "comments", :locals => {:source => @tagging}%>
</div>

<div class="column">
  <%= render :partial => "map", :locals => {:tagging => @tagging, :items => @tagging.connections(:kind => 'location')}%>
  <%= render :partial => "locations", :locals => {:source => @tagging }%>
  <%= render :partial => "bookmarks", :locals => {:source => @tagging}%>
</div>