<div class="column">
  <%= render :partial => "profile", :locals => {:tagging => @tagging}%>
  <%#= render :partial => "contributors", :locals => {:tagging => @tagging}%>
  <%= ad_box %>
  <%= render :partial => "options", :locals => {:tagging => @tagging }%>
</div>
<div class="column" style="width:50%">
  <%= render :partial => "image", :locals => {:object => @tagging.object}%>
  <%= render :partial => "comments", :locals => {:source => @tagging}%>
</div>

<div class="column">
  <%= map_box(@tagging) %>
  <%= bookmarks_box(:source => @tagging.object )%>
  <%#= render :partial => "bookmarks", :locals => {:source => @tagging}%>
</div>