<div class="box list" id="bookmarks">
  <%= image_tag('/images/icons/expander.png', :alt => 'expand', :class => "expander") %>
  <h2>
    <%= image_tag('/images/icons/bookmark.png',:class=>'icon',:alt => "bookmark") %>
    Bookmarks
  </h2>
  <div class="items">
  <%= render :partial => "/taggings/instance", :collection => source.connections(:kind => 'bookmark') %>
  </div>
  <div class="actions">
    <%= command(:label => "+ Add a bookmark", :command => "bookmark")%>
    <%= command(:label => "Google", :command => "google")%>
  </div>
</div>