<div class="box" id="comments">
  <%= image_tag('/images/icons/expander.png', :alt => 'expand', :class => "expander") %>
  <h2>Comments</h2>
  <%= spinner %>
  <% comments = source.connections(:kind => "comment") -%>
  <div class="items" >
    <%= will_paginate comments %>
    <% comments.each do |comment| -%>
      <div class="item <%= comment.kinds.last %>_kind">
        
        <h3><%= thumbnail_tag(comment.owner.tag) %> "<%= comment.label.capitalize %>"</h3>
      </div>
    <% end -%>
  </div>
  <div class="actions">
    <%= command(:label => "+ Add a comment", :command => "comment ") %>
    <%= command(:label => "+ Add a pro", :command => "pro ") %>
    <%= command(:label => "+ Add a con", :command => "con ") %>
  </div>
</div>