<%= title_for(tagging.object, :service => @service)%>
<%= elements_proper_to_kind(@tagging) %>
<div class="delimiter">&nbsp;</div>
<div id="right_column">
  <%= render :partial => "/tags/profile", :locals => {:tag=> @tagging.object} %>
  <%= render :partial => "map", :locals => {:tagging => @tagging, :items => @items} %>
  <%= render :partial => "ads" %>
  <%= render :partial => "options", :locals => {:tagging => @tagging}%>
  <%= render :partial => "contributors", :locals => {:contributors => @contributors}%>
</div>
<div id="left_column">
  <div class="box">
  
  <ul class="tabs"> 
    <li class="current"><%= link_to "Overview" %></li>  
    <li><%= link_to "Images", "/taggings/#{@tagging.id}?service=images"  %></li>
  </ul>
  <%= render :partial => "/nuniverse/connections", :locals => {
    :service => @service,
    :items => @items,
    :selected => @selected,
    :order => @order,
    :tagging => @tagging
  }%>
  </div>
</div>
<% unless @service -%>
  <%= render :partial => "/taggings/find_or_create" , :locals => {
    :subject => tagging.object, 
    :path => tagging.full_path
   }%>
  <%#= link_to 'Edit', edit_list_path(@tag) %> 
  
<% else -%>
  <div class="options">
    <%= link_to "back to content", @tagging , :class => "option" %>
  </div>
<% end -%>