<div class="column nav">
  <%= render :partial => "image", :locals => {:object => @tagging.object }%>
  <%= render :partial => "ads" %>
  <%= render :partial => "options", :locals => {:tagging => @tagging}%>
  <%#= render :partial => "contributors", :locals => {:tagging => @tagging}%>

</div>
<div class="column">
  <%= render :partial => "map", :locals => {:tagging => @tagging, :items => @items} %>
  <%= tag_box(:source => @tagging.object)%>
  
</div>
<div class="column medium" >
  <%#= render :partial => "profile", :locals => {:tagging=> @tagging} %>

  <% @tagging.lists.each do |list| -%>
    <%= list(:source => list) %>
    
  <% end -%>
  

  <%= render :partial => "comments", :locals => {:source => @tagging}%>
  <%= render :partial => "bookmarks", :locals => {:source => @tagging}%>
  
  
</div>
