<div class="column nav">
  <%= render :partial => "image", :locals => {:object => @tagging.object }%>
  <%= ad_box %>
  <%= render :partial => "options", :locals => {:tagging => @tagging}%>
  <%#= render :partial => "contributors", :locals => {:tagging => @tagging}%>
  <%= tag_box(:source => @tagging.object)%>
</div>

<div class="column large" >
  <%#= render :partial => "profile", :locals => {:tagging=> @tagging} %>
  <%= property_box(:source => @tagging)%>
  <%= lists_for(@tagging)%>
  <%= render :partial => "comments", :locals => {:source => @tagging}%>
  <%= bookmarks_box(:source => @tagging.object)%>
  
  
</div>
