<div class="column nav">
  <%= render :partial => "image", :locals => {:object => @tagging.object}%>
  <%= render :partial => "profile", :locals => {:tagging => @tagging}%>
  
</div>


<div class="column" >
  <%= ad_box %>
  <%= bookmarks_box(:source => @tagging.object) %>
</div>

<%= columnize([lists_for(@tagging),  amazon_box(:source => @tagging), new_list_button].flatten, :size => 1, :dom_classes => ['medium']) %>