 <%= title_for(tagging.object, :service => "google")%>
 <div id="right_column">
   
   <div class="box">
    
     <h2><%= link_to("< Back",tagging)%></h2>
   </div>
   <%= render :partial => "ads" %>
 </div>
 <div id="left_column">
 <div class="items">
   <% @items.each_with_index do |item,i| -%>
    <div class="item">
      <%= render :partial => "/taggings/manage", :locals => {:tagging => Tagging.new(:path => tagging.path, :object => item), :id => tagging.id} rescue ""%>
      
      <h3>
        <span class="rank"><%= (i+1)  %></span>
        <%= link_to(item.label.capitalize, item.url)%>
      </h3>
      <p><%= item.description %><br/><%= link_to(item.url,item.url)%></p>
    </div>
   <% end -%>
 </div>
 </div>