  <div class="box <%= cycle('even','odd') %>" >
    <h3>
     <%= link_to(result.label.capitalize, result.url)%>
    </h3>
    <p style="padding:0 70px 10px 0">
      <%= result.description %><br/>
      <%= link_to(result.url,result.url)%>
    </p>
    <div class="actions">
       <%= save_button(result, :id => tag.id)%>
    </div>
</div>