
    <% @items.each_with_index do |item,i| -%>
      <div class="box <%= cycle('even','odd') %>" >
  
        <h3>
         <%= link_to(item.label.capitalize, item.url)%>
        </h3>
        <p style="padding:0 70px 10px 0">
          <%= item.description %><br/>
          <%= link_to(item.url,item.url)%>
        </p>
        <div class="actions">
                <%= render :partial => "/taggings/manage", :locals => {
                      :tagging => tagging, 
                      :id => tagging.id} rescue ""%>
        </div>
      </div>
    <% end -%>
