<dd class="connection"> 
  
    <span class="avatar"><%= avatar_for(connection.user.tag) %></span>
    <span class="avatar"><%= avatar_for(connection.object) %></span>
    
    <%= link_to_nuniverse(connection.user.tag, :class => "user user_kind") %>
    <%= sentence_for(connection.object.kind) %>
        

    <%= link_to_nuniverse(connection.object, :path => connection.path, :class => "nuni #{connection.object.kind}_kind") %>
    
    <% unless connection.path.taggings.empty? -%>
      <span class="context">  to  
        <% connection.path.tags.each do |crumb| -%>          
          <%= link_to_nuniverse(crumb) %>
        <% end -%>
      </span>
    <% end -%>
</dd>