<dd class="connection <%= cycle('even','odd') %>"> 
        <%= avatar_for(connection.object) %>
        <h3><%= link_to_nuniverse(connection.object, :path => connection.path, :class => "nuni") %></h3>
        
        <% unless connection.path.taggings.empty? || connection.object.kind == "nuniverse"-%>
        <p> Added to  
          <% connection.path.taggings[1 .. -1].each do |tagging| -%>
            <%= link_to_tagging(tagging) %>
          <% end -%>
          by <%= link_to_nuniverse(connection.user.tag) %>
        </p>
        <% end -%>

</dd>