<div class="column nav" style="width:25%">
  <%= render :partial => "profile", :locals => {:tagging=> @tagging} %>
  <%= render :partial => "ads" %>
  <%= render :partial => "contributors", :locals => {:tagging => @tagging}%>
  <%= render :partial => "options", :locals => {:tagging => @tagging}%>
  
  <div class="box">
    <h2><%= link_to("See it in images", "/taggings/#{@tagging.id}?service=images") %></h2>
  </div>
  
  
  <%= render :partial => "image", :locals => {:object => tagging.object }%>
  <%#= render :partial => "locations", :locals => {:tagging => @tagging}%>

</div>
<div class="column large">
  <%= list(:source => @tagging, :toggle => "##{@tagging.label.singularize.downcase} ")%>
</div>

  <%#= render :partial => "map", :locals => {:tagging => @tagging, :items => @tagging.connections(:kind => 'location', :mode => 'exact')} %>
<%#= render :partial => "comments", :locals => {:source => @tagging}%>