<div class="box list <%= dom_class %>" id="<%= dom_id %>" >
  <%= image_tag('/images/icons/expander.png', :alt => 'expand', :class => "expander") %>
  <% unless title.blank?%>
    <%= image_tag("/images/icons/#{kind}.png", :class => "icon", :alt => "")  rescue ""%>
    <h2><%= link_to(title.capitalize, list_url(title)) rescue title.capitalize%></h2>
  <% end -%>
  
  <%= spinner %>
  <div class="items" >
    <%= will_paginate(items, :params => {:kind => kind}) %>
    <%= render :partial => "/taggings/instance", :collection => items %>
  </div>
  <div class="actions">
    <%= (link_to "Delete this list", "/lists/#{source.id}", :confirm => 'Are you sure?', :method => :delete) rescue "" %>
    <%= link_to "+ Add", toggle, :class => "toggle" %>
  </div>
</div>