<div class="column">
  <%= render :partial => "/tags/profile", :locals => {:tag=> @tagging.object} %>
  <%= render :partial => "ads" %>
  <%= render :partial => "contributors", :locals => {:contributors => @contributors}%>
  <%= render :partial => "options", :locals => {:tagging => @tagging}%>
</div>
<div class="column" style="width:50%">
  <%= box_tag(:items => @tagging.connections, :title => "Connections", :toggle => "#")%>
  
  <%#= render :partial => "locations", :locals => {:tagging => @tagging}%>
</div>
<div class="column">
  <%= render :partial => "map", :locals => {:tagging => @tagging, :items => @items} %>
  
  <%= render :partial => "image", :locals => {:object => tagging.object }%>

</div>