<div class="hat">
  <%= title_for(@tagging.object, :service => @service)%>
  <dl class="properties">
    <%= property(@tagging.object.kind) %>
    <%= property(@tagging.object.property('address')) %>
    <%= property(@tagging.object.property('tel')) %>
    <%= property(@tagging.object.url, :url => link_to(@tagging.object.url)) %>
    <%= property(@tagging.object.description)%>
  </dl>
</div>
<div id="right_column">
  <%= render :partial => "map", :locals => {:tagging => @tagging} %>
  <%= render :partial => "ads" %>
  <%= render :partial => "contributors", :locals => {:contributors => @contributors}%>
</div>
<div id="left_column">
  <div class="box">
    <ul class="tabs"> 
      <li class="current"><%= link_to "Overview" %></li>
      <li><%= link_to "Google this topic", "/google/#{@tagging.id}" %></li>
      <li><%= link_to "Locate", "/map/#{@tagging.id}" %></li>
      <li><%= link_to "Images", "/taggings/#{@tagging.id}?service=images"  %></li>
      <li><%= link_to 'Edit', edit_tagging_path(@tagging) %></li>
    </ul>
    <%= render :partial => "/nuniverse/connections", :locals => {
      :service => @service,
      :items => @items,
      :selected => @selected,
      :order => @order,
      :tagging => @tagging
    }%>
  </div>
</div>
<%= render :partial => "/taggings/find_or_create" , :locals => {
  :subject => tagging.object, 
  :path => tagging.full_path
 }%>