<div class="column" id="nav">
  <%= render :partial => "image", :locals => {:object => @tagging.object }%>
  
  <%= property_box(:source => @tagging)%>
  <%= tag_box(:source => @tagging.object)%>
  <%= ad_box %>
  <%#= render :partial => "contributors", :locals => {:tagging => @tagging}%>

</div>
<div  id="content" style="position:relative;" >
  <div class="menu"> 
    <%= perspectives(:source => @tagging, :selected => "you") %>
  </div>
  <%#= render :partial => "profile", :locals => {:tagging=> @tagging} %>
  
  <div class="column medium" style="float:left;clear:left">
    <%= map_box(@tagging) %>

  </div>
  <div class="column medium">
    <%= bookmarks_box(:source => @tagging.object)%>
    <% @tagging.lists.each do |list| -%>
      <%= list(:source => list) %>

    <% end -%>
    <%= comments_box(:source => @tagging )%>
  </div>
  
  
  
</div>