<div id="area">
  <%= render :partial => "/tags/profile", :locals => {:tag => @tagging.object}%>
  <%= render :partial => "image", :locals => {:tagging => @tagging}%>
  <%= render :partial => "map", :locals => {:tagging => @tagging} %>
  <%= render :partial => "contributors", :locals => {:contributors => @contributors}%>
  <%= render :partial => "ads" %>
  <%= render :partial => "comments", :locals => {:items => @items}%>
  <%= render :partial => "bookmarks", :locals => {:items => @items}%>
</div>