<div class="manage">
  <% if connection  && connection.user == current_user -%>
    <%= link_to(image_tag("/images/icons/minus.png"),"/taggings/delete/#{connection.id}",:title => "Remove", :class => "remove") %>
  <% else -%>
    <%= link_to(image_tag("/images/icons/plus.png"),"/taggings/create",:title => "Bookmark", :class => "bookmark") %>
  <% end -%>
</div>


<div class="data hidden">
  <% form_tag '/taggings/create' do -%>
    <%= hidden_field_tag :path, path %>
    <% if connection -%>
      <%= hidden_field_tag :id, connection.id  %>
    <% else -%>
      <%= hidden_field_tag :data, data  %>
    <% end -%>
    
  <% end -%>
</div>

