<div class="options">
<% if tagging.owner == current_user -%>
    <%= link_to("-","/taggings/delete/#{connection.id}",:title => "Remove", :class => "remove") %>
<% else -%>
    <%= link_to(image_tag("/images/icons/save_button.png"),"#",:title => "Bookmark", :class => "save_button") %>
<% end -%>

  <div class="data hidden">
    <% form_tag '/taggings/bookmark' do -%>
      <%= hidden_field_tag :id, id  %>
      <%= hidden_field_tag :label, tagging.object.label %>
      <%= hidden_field_tag :service, tagging.object.service %>
      <%= hidden_field_tag :kind, tagging.object.kind %>
      <%= hidden_field_tag :url, tagging.object.url %>
      <%= hidden_field_tag :description, tagging.object.description %>
      <%= hidden_field_tag :data, tagging.object.data  %>
    <% end -%>
  </div>
</div>

