  <%= link_to(image_tag("/images/icons/save_button.png"),"#",:title => "Bookmark", :class => "save_button") %>
  <div class="data hidden">
    <% form_tag '/tags/bookmark' do -%>
      <%= hidden_field_tag :id, @tag.id  %>
      <%= hidden_field_tag :label, item.label %>
      <%= hidden_field_tag :service, item.service %>
      <%= hidden_field_tag :kind, item.kind %>
      <%= hidden_field_tag :url,  item.url %>
      <%= hidden_field_tag :description, item.description %>
      <%= hidden_field_tag :data, item.data  %>
    <% end -%>
  </div>


