
  <% @map = map(:source => tagging.object, :path => tagging.full_path, :items => items ) %>
  <div class="box" id="map_box">
    <% if @map -%>
      <% content_for :head do -%>
        <%= GMap.header (:small_zoom => true, :with_vml => false) %>
        <%= @map.to_html %>
      <% end -%>
      <%= @map.div(:width => "100%", :height => 240, :style=>"position:relative") %>
    <% else -%>
      <% if tagging.object.kind == 'lation' -%>

       <% item = google_localize(@tagging).first -%>
       <% if item -%>
        <h4>We located this address on google:</h4>
              <div class="item">
                <%= link_to(image_tag("/images/icons/check.png"), "/taggings/update/#{@tagging.id}?address=#{CGI::escape(item.property('address'))}&latlng=#{item.property('latlng')}&tel=#{item.property('tel')}", :class => "options", :style => "float:right",:title => "accept")%>
                <h3><%= link_to(item.label, item.url, :style => "color:#333;font-weight:bold") %></h3>
                <p><%= item.property('address') %></p>
              </div>
       <% end -%>
    
        <% form_tag "/taggings/update/#{tagging.id}", :id => "address_form" do -%>
          <%= link_to("Add an Address", "#", :class => "toggle")%>
          <fieldset class="hidden">
            <%= text_field_tag "address", "" %>
            <%= submit_tag %>
          </fieldset>
        <% end -%>
    <% end -%>
        <p>
          <strong>
            
            <%= link_to("Locate", "/map/#{tagging.id}")%>
          </strong>
        </p>
    <% end -%>
  </div>
