<div class="new_connection">
  <a href="#" class="toggle">+ Add </a>
  <fieldset>
    <% if logged_in? -%>
      <% form_tag '/taggings/create' do -%>
        <%= hidden_field_tag :kind, kind %>
        <%= hidden_field_tag :path, path , :class => "path"%>
        <%= hidden_field_tag :restricted, 1 , :class => "restricted"%>
        <h2>To create a specific kind, type it in the title:</h2>
        <h4>eg: #restaurant Balthazar, #movie Blade Runner, #pro It's very cheap ...</h4>
        <br/>
        <label>Title</label>
        <%= text_field_tag :content, ""  %>
        <label>Description</label>
        <%= text_area_tag :description, ""  , :rows => 3, :cols => 50 %>
        <br/>
        <input type="submit" value="Add" class="dynamo" />
      <% end -%>
    <% else -%>
      <h2>Sorry, but you have to login to add to nuniverse.</h2>
      <%= link_to "Sign in","/login" %> or 
      <%= link_to "Register","/register" %>
    <% end -%>
  
  </fieldset>
</div>