<div class="new_connection hidden" id="new_connection">
  <h5><%= title %></h5>
  <% form_tag '/taggings/create' do -%>
    <%= hidden_field_tag :kind, kind %>
    <%= hidden_field_tag :path, path , :class => "path"%>
    <%= hidden_field_tag :restricted, 1 , :class => "restricted"%>
    <%= text_field_tag :content, ""  , :size => 50 %>
    <input type="submit" value="Add" class="dynamo">
  <% end -%>
</div>