<div class="new_connection">
  <%= command(:label => "+ Add", :command => "")

    <% if logged_in? -%>
      <% form_tag '/taggings/create' do -%>
      <fieldset>
        <dl class="suggestions">
        </dl>
        <%= hidden_field_tag :path, path , :class => "path"%>
        <%= hidden_field_tag :restricted, 1 , :class => "restricted"%>
        <%= hidden_field_tag :data, ""%>

        <%= text_field_tag :label, "", :class => "title"%>        
        <label>What <span>eg:Person, Location, band...</span></label>
        <%= text_field_tag :kind, kind  , :class => 'kind' %>
        <label>Why <span>Why is it/he/she connected to <%= path.last_tag.label %></span></label>
        <%= text_field_tag :relationship, "" %>
        <label>Where <span>Any address?</span></label>
        <%= text_field_tag :address, "" %>
        <label>When <span></span></label>
        <%= text_field_tag :date, "" %>
        <input type="submit" value="Add" class="dynamo" />
      </fieldset>
      <% end -%>
    <% else -%>
      <h2>Sorry, but you have to login to add to nuniverse.</h2>
      <%= link_to "Sign in","/login" %> or 
      <%= link_to "Register","/register" %>
    <% end -%>
  
  
</div>