<div class="column">
  
  <%= render :partial => "image", :locals => {:object => @tagging.object}%>
  <%= render :partial => "profile", :locals => {:tagging => @tagging}%>
  <%= render :partial => "contributors", :locals => {:tagging => @tagging}%>
  
  <%= render :partial => "map", :locals => {:tagging => @tagging, :items => @tagging.connections(:kind => 'location', :mode => 'exact')} %>

</div>
<div class="column" style="width:50%">
  <% @tagging.connections(:kind => "list", :mode => 'exact').each do |list| -%>
    <%= box(:source => list, :kind => list.label.singularize) %>
  <% end -%>
   
   <%#= render :partial => "comments", :locals => {:source => @tagging }%>
</div>

<div class="column">
  <%= render :partial => "ads" %>
  <%= render :partial => "bookmarks", :locals => {:source => @tagging}%>
</div>