<div class="column nav">
  
  <%= render :partial => "image", :locals => {:object => @tagging.object}%>
  <%= render :partial => "profile", :locals => {:tagging => @tagging}%>
  <%= render :partial => "contributors", :locals => {:tagging => @tagging}%>
  <%= render :partial => "ads" %>
</div>

<% content_for "column_0" do -%> 
  <%= list(:kind => "event", :title =>"timeline") %>
<% end -%>
<div class="column" >
  <%= render :partial => "map", :locals => {:tagging => @tagging, :items => @tagging.connections(:kind => 'location', :mode => 'exact')} %>
<%= render :partial => "bookmarks", :locals => {:source => @tagging}%>
</div>

<%= columnize(:items => @tagging.lists, :size => 1, :dom_classes => ["medium"]) %>
