<div class="box" id="property_box">
  <h2><%= source.label.capitalize %></h2>
  <p><%= source.description %></p>
  <% properties.each do |property| %>
    <div class="property">
      <span class="label"><%= property.label.capitalize %></span><span class="value"><%= property.object.label.capitalize %></span>
    </div>
  <% end -%>
  <div class="actions">
    <%= command(:label => "Add a new property", :command => "property")%>
    <%= (link_to "delete", "/taggings/#{source.id}", :confirm => 'Are you sure?', :method => :delete, :style => "position:relative;float:left") rescue "" %>
  </div>
</div>