<div class="column">
  <%= render :partial => "/tags/profile", :locals => {:tag => @tagging.object}%>
  <%= render :partial => "contributors", :locals => {:tagging => @tagging}%>
  <%= render :partial => "ads" %>
  <%= render :partial => "options", :locals => {:tagging => @tagging }%>
</div>
<div class="column" style="width:50%">
  <%= box_tag(:items => @tagging.connections(:kind => 'ingredient'), :title => "Ingredients", :command => "#ingredient ")%>
  <%= box_tag(:items => @tagging.connections(:kind => 'step', :order => "id"), :title => "Cooking Directions", :command => "#step ")%>
  <%= box_tag(:items => @tagging.connections(:kind => 'comments'), :title => "Comments", :command => "#comment ")%>
</div>

<div class="column">
  <%= render :partial => "image", :locals => {:object => @tagging.object}%>
  <%= render :partial => "bookmarks", :locals => {:tagging => @tagging}%>
</div>