<% nuniverse(:dom_class => "edit") do -%>
    <%= breadcrumbs(@tagging.path)%>
    <%= title_for(@tagging.object) %>
    <div class="delimiter">&nbsp;</div>
    <% form_tag "/taggings/update/#{@tagging.id}" do -%>
      <fieldset>
        
      <label>Address</label>
      <br/>
      <%= text_field_tag "address", @tagging.object.property('address') %>
      <br/>
      <label>Telephone</label>
      <br/>
      <%= text_field_tag "tel", @tagging.object.property('tel') %>
      <br/>
       <label>Official Website</label>
        <br/>
        <%= text_area_tag "url", @tagging.object.url %>
      <label>Description</label>
      <br/>
      <%= text_area_tag "description", @tagging.object.description %>
      <br/>
      <%= submit_tag "update"%>
      </fieldset>
    <% end -%>
<% end -%>
<%= link_to 'Delete', @tagging, :confirm => 'Are you sure?', :method => :delete %>