<% nuniverse(:dom_class => "images") do -%>
  <%= breadcrumbs(@tagging.path)%>
  <div class="options">
    <%= link_to "back to content", @tagging , :class => "option" %>
  </div>
  <div class="hat">
    <%= title_for(@tagging, :service =>" in images") %>
  </div>
  <% cols = ["","","",""] %>
  <% if @items.empty? -%>
    <h2>You haven't added anything yet.</h2>
  <% else -%>
    <% @items.each_with_index do |item,i| -%>
        <% cols[i%4] << "<div class='box'>
          <h2> #{link_to(item.label.capitalize,item)} </h2>
          #{avatar_for(item.object)}
        </div>" %>
    <% end -%>
  <% end -%>
  <div class="column" >
    <%= cols[0] %>
  </div>
  <div class="column" >
     <%= cols[1] %>
  </div>
  <div class="column" id="col_3">
     <%= cols[2] %>
  </div>
  <div class="column" id="col_4">
     <%= cols[3] %>
  </div>
  
  


  
  

<% end -%>