<% nuniverse do -%>
  <%= breadcrumbs(@tagging.path)%>
  <h1><%= @tagging.object.label.capitalize %> <span class="service">in images</span></h1>
  <% if @items.empty? -%>
    <h2>You haven't added any images yet.</h2>
  <% else -%>
    <% @items.each do |item| -%>
      <%= image_tag(item.public_filename(:large)) %>
    <% end -%>
  <% end -%>
  <%= render :partial => "/avatars/new", :locals => {:tagging => @tagging}%>
  <div class="options">
    <%= link_to "back to content", @tagging , :class => "option" %>
  </div>
<% end -%>