<% @map = map(:source => @tagging.object, :path => @tagging.full_path ) %>
<% nuniverse(:dom_class => "maps") do -%>
    <%= breadcrumbs(@tagging.path)%>
    <h1><%= @tagging.object.label.capitalize %></h1>
    <div class="delimiter">&nbsp;</div>

    
    <%= render :partial => "/nuniverse/connections", :locals => {
      :service => @service,
      :items => @items,
      :selected => @selected,
      :tagging => nil
    } if @tagging.kind == "list" %>
    <% if @map -%>
      <% content_for :head do -%>
        <%= GMap.header (:large_map => true, :with_vml => false) %>
        <%= @map.to_html %>
      <% end -%>
      <div style="position:relative;margin:20px 0 0 405px;">
        <%= @map.div(:width => 'auto', :height => 400, :style=>"position:relative") %>
      </div>
    <% else -%>
      <h2>Google suggests these possible addresses</h2>
      <% @items = Finder::Search.find(:service => "google", :filter => "local", :query => @tagging.object.label ) %>
      <div class="items">
      <% @items.each do |item| -%>
        <div class="item">
          <h3><%= link_to(item.label, "/taggings/update/#{@tagging.id}?address=#{CGI::escape(item.property('address'))}&latlng=#{item.property('latlng')}") %></h3>
          <p><%= item.property('address') %></p>
        </div>
      <% end -%>
      </div>
    <% end -%>
    <div class="options">
      <%= link_to "back to content", @tagging , :class => "option" %>
    </div>
<% end -%>