<%= @map = map(:location => @tagging.object, :path => @tagging.full_path ) %>
<% nuniverse(:dom_class => "maps") do -%>
    <%= breadcrumbs(@tagging.path)%>
    <h1><%= @tagging.object.label.capitalize %></h1>
    <div class="delimiter">&nbsp;</div>

    
    <%= render :partial => "/nuniverse/connections", :locals => {
      :service => @service,
      :items => @items,
      :selected => @selected,
      :tagging => nil
    }%>
    <% if @map -%>
      <% content_for :head do -%>
        <%= GMap.header (:large_map => true, :with_vml => false) %>
        <%= @map.to_html %>
      <% end -%>
      <div style="position:relative;margin:20px 0 0 405px">
        <%= @map.div(:width => 'auto', :height => 400, :style=>"position:relative") %>
      </div>
    <% end -%>
    <div class="options">
      <%= link_to "back to content", @tagging , :class => "option" %>
    </div>
<% end -%>