<% nuniverse(:dom_class => @tagging.object.kind, :selected => "My nuniverse") do -%>
    <%= breadcrumbs(@tagging) %>
    <div class="hat">

      <%= title_for(@tagging, :list => @list)%>
      
      
    </div>
    <%= content_for_tagging(@tagging, :service => @service)%>
    <% unless @service -%>
      <%= input(:source => @tagging)%>
      <%#= link_to 'Edit', edit_list_path(@tag) %> 

    <% else -%>
      <div class="options">
        <%= link_to "back to content", @tagging , :class => "option" %>
      </div>
    <% end -%>
<% end -%>