<% nuniverse(:dom_class => @tagging.object.kind, :selected => "My nuniverse") do -%>
    <%= breadcrumbs_for(@tagging) %>
    <div class="hat">
      <%= title_for(@tagging, :list => @list)%>
    </div>
     

    <div id="nav">
      <%= perspectives(:source => @tagging) %>
      <div class="box" id="display_options">
        <%#= expander_icon %>
       
      </div>
      <% if service_is_nuniverse? -%>
        <%= new_list_button %>
      <% end -%>
    </div>
    <div id="content" class="<%= @mode %>_mode">
      <% if @mode == "cards" %>
        <%= columnize([ad_box,lists_for(@tagging), tag_box(:source => @tagging.object) ].flatten, :size => 4)%>
     
      <% else -%>
      <div class="column large" id="left-content">
        <div id="categories">
          
          <%= content_for_item(@tagging) %>
        </div>
       <%= ad_box %>
       
      </div>
      <div class="column small">
        <%= lego_box %>
        <%= tag_box(:source => @tagging.object) %>
         
      </div>
      <% end -%>
        
    </div>
    <div id="input_wrap">
     <%= input(:source => @tagging)%> 
    </div>
<% end -%>