<% nuniverse(:dom_class => @tagging.object.kind, :selected => "My nuniverse") do -%>
    <%= breadcrumbs(:list => @list) %>
    
    <div class="hat">
      <%= title_for(@tagging, :list => @list, :service => @service)%>
    </div>
    		
    <div id="nav">
      <% boxes = [
        ad_box,
        tag_box(:source => @tagging.object),
        perspectives(:source => @tagging),
        new_list_button]%>

      <%= columnize(boxes, :size => 4) %>
    </div>
    
    <div id="content">
      <div class="column small">
        <%= image_box(:source => @tagging) %>
        <%= map_box(@tagging) %>
      </div>
      <div class="column large">
        <%= content_for_tagging(@tagging, :service => @service) %>
      </div>
    </div>
    
      <%= input(:source => @tagging)%>
    
<% end -%>