<% nuniverse(:dom_class => @tagging.object.kind, :selected => "My nuniverse") do -%>

      <div class="column small" id="left-column">
        <%= image_box%>
        <%= tag_box(:source => @tagging.object) %>
      </div>
      <div class="column large" id="right-column">
        <% if @mode == "image" %>
          <% size = 3 %>
        <% elsif @mode == "card" %>
          <% size = 2 %>
        <% else -%>
          <% size = 1 %>
        <% end -%>  
         <%= columnize(content_for_item(@tagging), :size => size)%>
      </div>
      
    <% content_for :nav do -%>
    
      <%= perspectives(:source => @tagging) %>
      <% if service_is_nuniverse? -%>
        <%= new_list_button %>
      <% end -%>
       <%= command_box("Search","search") %>
       <%= input(:source => @source) unless @source.nil? %>
    <% end -%>
  
<% end -%>