 <div style="padding:100px"> 
   <div id="hat">
      <%= link_to(image_tag("/images/icons/logo-nuniverse-2009.png"),"/beta") %>
    </div>
    <div style="padding:10px 40px 0 0px">
    <h1 style="color:#369;font-weight:bold">Shape your world.</h1>
    <h2>Create thematic collective spaces.</h2>
    <h2>Structure and organize complex data in a visually compelling, friendly environment.</h2>
    <h2>Make that data semantically alive and present across all nuniverses.</h2>
    <h2>Keep track of what matters in a snap.</h2>
    <h2>Extract the essential in byte-sized facts.</h2>
    
    <br/>
    <h3><%= link_to("Sign up a free account", "/signup", :style => "color:#369;font-weight:bold") %> today to learn more about all the possibilities of nuniverse.</h3>
    <br/>
    <h4>Screenshots</h4>
    <%= link_to(image_tag("/images/screenshots/screenshot_nuniverse_1_small.png",:style => "border:2px #666 solid"),  "/images/screenshots/screenshot_nuniverse_1.png", :class => "preview")%>
    <%= link_to(image_tag("/images/screenshots/screenshot_nuniverse_2_small.png",:style => "border:2px #666 solid"),  "/images/screenshots/screenshot_nuniverse_2.png", :class => "preview")%>
    <%= link_to(image_tag("/images/screenshots/screenshot_nuniverse_3_small.png",:style => "border:2px #666 solid"),  "/images/screenshots/screenshot_nuniverse_3.png", :class => "preview")%>
    <h4><%= link_to("Back to base", "/beta", :style=>"color:#369")%></h4>
    </div>
  </div>