 <div style="padding:100px"> <div id="hat">
      <%= link_to(image_tag("/images/icons/logo-nuniverse-2009.png"),"/beta") %>
    </div>
    <div style="padding:10px 40px 0 0px">
    <h1>Shape your world.</h1>
    <h2>Keeping track of what matters is now an easy thing. More than a personal content management system, Nuniverse also helps you define a clear perspective of your environment, in a new, intuitive and user-friendly way.</h2>
    <br/>
    <h3><%= link_to("Sign up a free account", "/signup", :style => "color:#FFF;font-weight:bold") %> today to learn more about all the possibilities of nuniverse.</h3>
    <br/>
    <h4>Screenshots</h4>
    <%= link_to(image_tag("/images/screenshots/screenshot_nuniverse_1_small.png",:style => "border:2px #666 solid"),  "/images/screenshots/screenshot_nuniverse_1.png", :class => "preview")%>
    <%= link_to(image_tag("/images/screenshots/screenshot_nuniverse_2_small.png",:style => "border:2px #666 solid"),  "/images/screenshots/screenshot_nuniverse_2.png", :class => "preview")%>
    <%= link_to(image_tag("/images/screenshots/screenshot_nuniverse_3_small.png",:style => "border:2px #666 solid"),  "/images/screenshots/screenshot_nuniverse_3.png", :class => "preview")%>
    <h4><%= link_to("Back to base", "/beta", :style=>"color:#fff")%></h4>
    </div>
  </div>