

<div style="padding:100px" >
  <div id="hat">
    <%= image_tag("/images/icons/logo-nuniverse-2009.png") %>

  </div>
    <h1><span style="font-size:50px">Our world is made of complex stories.</span><br/>
    We help you turn them into simple facts,
    and remember the essential. <%= link_to("Learn how","/about", :style=>"color:#369") %></h1>
 
    
    <div style="position:relative;clear:both;margin:20px 0 0 0;padding: 0 0 20px 0" >
      
      <div style="position:relative;float:left">
        <% form_tag "/sessions/create", :style => "background:transparent url('/images/backgrounds/glass-window.png') 0 0 no-repeat; padding:20px;width:220px" do -%>
          <%= text_field_tag 'login', @login , :style => "padding:3px;width:195px"%><br/>
       
          <%= password_field_tag 'password', nil, :style => "padding:3px;width:195px" %><br/>
          <%= submit_tag 'Log in', :style => "padding:3px;font-size:20px;font-weight:bold;color:#369;margin:0;background:none;border:none" %>
        <% end -%>
      </div>
      <div style="position:relative;float:left;margin:0 0 0 10px">
         <h2>You don't have your nuniverse yet?</h2><%= link_to("Sign up for an account.", "/signup", :style=>"color:#369;font-size:30px") %>
         <h2>Or if you prefer to wander a bit, go ahead.
      
      </div>
     
      
    </div>
   
    
   
    <h2></h2>
</div>
