
    <div class="header">
      <%= image_tag("/images/icons/nuniverse_logo.png") %>
    </div>
    <h1>2009 has arrived.</h1>
    <h2>Happy new year to everyone. The prototype is getting some new clothes, hence the delay in accepting new accounts. </h2>
    
    <dl>
      
      <dt style="font-weight:bold;margin:10px 0 0 0">Few Features to be counted on for the prototype:</dt>
      <dd>Your own lists of connections.<br/><span style="font-size:14px">Create and organize your connections under one topic of interest or your custom categories.</span></dd>
      
      <dd>Story of you connections.<br/><span style="font-size:14px">Each connection can have its own piece of story, which makes it easy to "break" an indigest text into bit-sized facts.</span></dd>
      <dd>Privacy Management.<br/><span style="font-size:14px">Decide what's to share and what's to be kept private in your nuniverse.</span></dd>
      
      </dl>
    <br/>

    
    <div class="relative;clear:both" >
      <% form_tag "/sessions/create" do -%>
      <div style="position:relative;float:left">
      <%= label_tag 'login' %><br />
      <%= text_field_tag 'login', @login , :style => "padding:3px"%>
      </div>
      <div style="position:relative;float:left">
      <%= label_tag 'password' %><br/>
      <%= password_field_tag 'password', nil, :style => "padding:3px" %>
      </div>
      <div style="position:relative;float:left">
      <br/>
      <%= submit_tag 'Log in', :style => "padding:4px;font-size:20px;font-weight:bold;color:#333;margin:0" %>
      </div>
      <% end -%>
    </div>
   
    <div class="delimiter" style="clear:both">&nbsp;</div>
    <h3>If you interested, <%= link_to("register for an account", "/signup", :style=>"color:#1A9") %> to be on our beta guest list.</h3>
    <h2><%= link_to("More info about nuniverse","/about", :style=>"color:#1A9") %></h2>
     
