<%= render :partial => "/nuniverse/main_menu"%>

<% nuniverse do -%>


    <div id="left-col" style="margin:0 2% 0 0;width:28%">
      <div id="logo" style="position:relative;padding:0;background:#FFF;text-align:center">
        <%= image_tag("/images/icons/wdyto_logo_2.png") %>
        <h2 style="color:#000;font-size:20px;display:block">Collective tastemaking</h2>
        <% if !logged_in?%>
          <%= render :partial => "/sessions/new" %>
        <% end %>
      </div>
    </div>
    <div id="right-col" style="width:70%">
       <dl id="suggestions" style="padding:0;min-height:0;margin:0"></dl>
        <% if !logged_in? %>
      
         <h1 style="color:#000;font-size:3em;font-weight:bold;padding:.5em .5em 0 .5em">Build your experience book.</h1>
       
         <h2 style="font-size:2em;line-height:1.8em;font-weight:normal;color:#000;text-align:justify;padding:0 .5em">Wdyto is a place where you can give your point of view on just about anything. <%= link_to "Get started.", "/signup", :style => "font-weight:bold;color:#FFF;background:#000;padding:.3em" %><br/><span class="score_2">1. Experience something remarkable.</span> <span class="score_6" >2. Rate how good (or bad) that experience was, you are the editor.</span> <span class="score_10" >3. Spread the word, others want to know how you feel about it.</span > </h2>
           <dl id="homepage_feed" style="position:relative;float:right;width:100%;">
              <% @votes.each_with_index do |vote,i| %>  
                <%= render :partial => "/users/vote", :locals => {:vote => vote} %>
              <% end -%>
            </dl>
         <% else -%>
           <% if current_user.latest_review %>
              <h2 style="font-size:2em;line-height:1.8em;font-weight:normal;color:#000;text-align:justify;padding:0 .5em">Wdyto is a place where you can give your point of view on just about anything.<br/><span class="score_2">1. Experience something remarkable.</span> <span class="score_6" >2. Rate how good (or bad) that experience was, you are the editor.</span> <span class="score_10" >3. Spread the word, others want to know how you feel about it.</span > </h2>
            <h2>Your latest review was about <%= wdyto_url(current_user.latest_review.parent) %><br/>
              <span style="color:<%= current_user.latest_review.matching_vote.color  rescue nil %>">"<%= current_user.latest_review.body %>" - <%= current_user.latest_review.matching_vote.score rescue nil %></h2>
            <% else -%>
                <h2>You haven't reviewed any experience yet, Share your taste now</h2> 
            <% end -%>
        <dl id="homepage_feed" style="position:relative;width:100%;">
          <% @votes.each_with_index do |vote,i| %>  
            <%= render :partial => "/users/vote", :locals => {:vote => vote} %>
          <% end -%>
        </dl>
     <% end -%>
    </div>

<% end -%>

 


 
