<% form_tag "/locations/find"  do -%>
  <h2>Add a Location</h2>
  <fieldset>
    <%= hidden_field_tag "id", @tag.id %>
    <%= hidden_field_tag "kind", "address" -%>
    <label>Name your location</label><br/>
    <%= text_field_tag "name", "", :class => "input",  :autocomplete => "off", :id => "input_location" %><br/>
    <label>Add an Address (optional)</label><br/>
    <%= text_field_tag "name", "", :class => "input",  :autocomplete => "off", :id => "input_location" %>
    
    <div class="delimiter" style="margin: 0 0 5px 0">&nbsp;</div>
  </fieldset>
  
  <div class="suggestions" style="width:100%;display:block"></div>
  
  <%= submit_tag "Add" %>
  <div class="delimiter">&nbsp;</div>
<% end -%>